extends ../layout/layout

block append headTitle
  title 会员中心

block content
  section.home
    .banner
      .wrap.logined
        .col-l
           img.avater(src="/global/image/home/advater.png")
           ul
              li 张艳玲
              li.integral-star
                .bg-white
                  span.icon.icon-star-yellow
                  span.integral-num
                    i.num 30
                    |积分
              li
                p.txt 在投年化资产 3000元
        .col-r
           span.icon-level-star
            img(src='/global/image/home/icon_grade_bronze.png')
           a.a-btn.a-btn-border-white(href="") 会员提升

      .wrap.unlogin(style="display:none")
        .col-l
          img.avater(src="/global/image/home/advater.png")
          ul
            li 张艳玲
            li
              a(href="javascript:void(0)") 请登录
        .col-r
          a.a-btn.a-btn-border-white(href="javascript:void(0)") 马上登录

    .sec-li4.border-top-radius
      ul
        li
          a(href="")
            span.icon.icon-king
            p 兑换特权
        li
          a(href="")
            span.icon.icon-cake
            p 生日特权
        li
          a(href="")
            span.icon.icon-package
            p 升级礼包
        li
          a(href="")
            span.icon.icon-more
            p 更多

    .sec-li4
      ul
        li
          a(href="")
            span.icon.icon-sign-duihao
            p 每日签到
        li
          a(href="")
            span.icon.icon-luck-draw
            p 积分抽奖
        li
          a(href="")
            span.icon.icon-integral-mall
            p 积分商城
        li
          a(href="")
            span.icon.icon-invitation
            p 邀请好友

    .sec-list.sec-task
      .title 做任务，领积分
        a(href='') 更多
          i.icon-arrow-right
      ul
        li
          .col-l
            span.icon-sign-day7
            .txt
              p 每连签7天任务
              p 积分+5
          .col-r.progress
            .tips 还差
              i#prossNum 5
              |天
            .progress-bar
              .progress-ocuppy

        li
          .col-l
            span.icon-task-invite
            .txt
              p 每日邀请好友任务
              p.font-red 积分+8
          .col-r
            span.icon-status.icon-status-finished
        li
          .col-l
            span.icon-task-invest
            .txt
              p 首次投资任务
              p 积分+50
          .col-r
            a.a-btn.a-btn-border-red(href="") 去完成

    .sec-list.sec-activity
      .title 精彩活动
        a(href="") 更多
          i.icon-arrow-right
      .box-wrapper
        .box
          img(src='/global/image/home/icon_activity_1.png')
        .box
          img(src='/global/image/home/icon_activity_2.png')



    .bg-pic-pop
    .dia-pic.home-pop-invest
      .dialog-cont
        .dia-close
        .pic-wrap
          .imgBg
        .cont
          p 您的黄金会员身份已到期
          p 根据您的年华在投金额重新评级为
            span.red-font 白银会员
        a(href="javascript:void(0)").a-btn-bg-red 立即投资升级
    .dia-pic.home-pop-grade
      .dialog-head
        .dia-close
        .pic-wrap
          img(src='/global/image/home/icon_grade_bronze.png')
      .dialog-cont
        p.title  升级啦！
        p 恭喜您升级为
          span.red-font 白银会员
        a(href="javascript:void(0)").a-btn-bg-red 查看白银会员特权
          i.arrow-right-white
  script.
    $(function(){
      //关闭弹层
      commonEvent.closePicDia();

      $(".bg-pic-pop").show();
      $(".home-pop-invest").show();
      //$(".home-pop-grade").show();

      //关闭弹层
      //$(".bg-pic-pop").hide();
      // $(".home-pop-invest").hide();
      //$(".home-pop-grade").hide();

    });







