extends ../layout/layout

block append headTitle
  title 会员中心

block content
  section.privilege
    .banner
      .card-wrap
        .card.gold
          .icon-wrap
            span.icon.icon-gold
            p.name 黄金会员
            p.txt 5万元>在投年化投资额<10万元

    .sec-li-center
      .title
        i.icon-title-left
        span 特权礼包内容
        i.icon-title-right
      .row-cont
        a(href="javascript:void(0);").row
          .col
            img(src="")
          .col
            p.name 生日特权
            p.grey-font 生日积分双倍
        a(href="javascript:void(0);").row
          .col
            img(src="")
          .col
            p.name 兑换特权
            p.grey-font 商城礼品积分95折兑

        a(href="javascript:void(0);").row
          .col
            img(src="")
          .col
            p.name 首次升级特权
            p.grey-font 0.5%加息券
        a(href="javascript:void(0);").row
          .col
            img(src="")
          .col
            p.name 服务特权
            p.grey-font 在线客服为您服务
        a(href="javascript:void(0);").row
          .col
            img(src="")
          .col
            p.name 投资特权
            p.grey-font 约标













