extends ../layout/layout

block append headTitle
  title 签到记录

block content
  section.signRecord
    .ulist
      ul
        li
          .col
            span.icon
          .col.center
            p.txt 连续签到1天
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num +5
        li
          .col
            span.icon
          .col.center
            p.txt 连续签到7天
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num +35
        li
          .col
            span.icon
          .col.center
            p.txt 连续签到6天
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num +5
