.form-row.select-wrapper
  i.icon-trangle-down
  select(data-validate="发布类型")
    option(value="") 请选择发布类型
    option(value="全部") 全部
    option(value="热销产品") 热销产品
    option(value="天天特价") 天天特价
    option(value="新品上线") 新品上线
    option(value="热销产品及天天特价") 热销产品及天天特价
    option(value="热销产品及新品上线") 热销产品及新品上线
    option(value="天天特价及新品上线") 天天特价及新品上线
.form-row.a-tab-wrap.clearfix.tab-w-s
  .radio-wrap
    span.active 现货
    input(type="radio" value="现货" name="productStatus" checked="checked")
  .radio-wrap
    span 订货
    input(type="radio" value="订货" name="productStatus")
.form-row
  input(type="text" placeholder="请输入货品名称" data-validate="货品名称")
.form-row
  input(type="text" placeholder="请输入货号" data-validate="货号")
.form-row.upload-pic
  .row-title 图片(最多5张)
  ul.clearfix
    li.input-file-wrap
      input(type="file" data-validate="上传图片")
      span.add-btn +