extends ../layout/layout

block append headTitle
  title 邀请好友

block content
  section.invitation
    .banner
      .txt-bg

    .sec
      .sec-get
        .cont
          span.h2 邀请好友得奖励
          p 每次成功邀请一位好友注册我们平台且投资成功，您即可获得
            span.red-font <i>100</i>积分
            |。
          .btn-wrap
            a.btn-yellow(href="javascript:void(0);")#invit-btn 邀请好友 立即赚钱

      .sec-my
        h2 我的邀请
        .row
          .col
            p.red-font 3
            p 共邀请好友
          .col
            p.red-font 300
            p 奖励积分
        .img-wrap
          img(src="")
        p 我邀请过的好友
        .btn-wrap
          a.a-btn-bg-red(href="") 查看详情


  script.
    $(function () {
      $(".btn-wrap").onClick('click','#invit-btn',function(){
        var tip="邀请成功";
        commonEvent.alertDialog(tip);
      });
    });









