@import "reset";
html,body{width:100%;height: auto;overflow-x:hidden;overflow-y:auto;}
*{box-sizing: border-box;font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body{padding:0; color: #333;background-color: #f5f4f9;min-width: 7.5rem;width:100%;margin:0 auto;}

img,span,a,label,i{display: inline-block;vertical-align: top;font-style: normal}
h1{font-weight:normal;margin:0; padding:0;}
.fl{float: left;}
.fr{float:right;}
$bg:#f2f2f2;
$white:#fff;
$c3:#333;
$c6:#666;
$c9:#999;
$d9:#d9d9d9;
$dd:#dddddd;
$cc:#ccc;
$blue:#508cee;
$red:#f7655e;
$yellow:#d1a665;
$border-w:0.04rem;
$borderRadius:0.1rem;
$fc:#393543;
@mixin opacity_bg($opa:0.8,$col:#000){
  background-color: $col;
  opacity: $opa;
  filter:alpha(opacity=$opa*100);
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}
@mixin fontSize($val:1rem){
  @media screen and (max-width: 321px) {
    font-size:$val;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$val + 0.02rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$val + 0.04rem;;
  }
  @media screen and (min-width: 640px) {
    font-size:$val + 0.06rem;;
  }
}
//- @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
@mixin fontFormat($fz:1rem,$fc:$c3,$ta:left){
  color:$fc;
  text-align: $ta;
  @media screen and (max-width: 321px) {
    font-size:$fz - 0.01rem;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz + 0rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz + 0.01rem;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz +0.02rem;
  }
}
@mixin fontFormatS($fz:1rem,$fc:$c3,$ta:left){
  color:$fc;
  text-align: $ta;
  @media screen and (max-width: 321px) {
    font-size:$fz+0.08rem;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz + 0.06rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz + 0.04rem;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz + 0.02rem;
  }
}
.load-more{
  line-height: 0.6rem;
  @include fontFormat($fz:0.24rem,$fc:$c9,$ta:center);
}
.plr32{
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.flexStyle{
  display: flex;
  display:-webkit-flex;
}
.border-bottom{
  border-bottom:0.01rem solid $dd;
}
.border-shadow{
  box-shadow:0 0.01rem 0.03rem #bfbfbf;
}
$a-btn-radius:0.24rem;
a.a-btn{
  border-radius:$a-btn-radius;
  text-align: center;
  @include fontFormat($fz:0.28rem,$ta:center,$fc:$white);
}

a.a-btn-border-white{
  color: $white;
  border:0.02rem solid $white;
}
a.a-btn-border-red{
  color: $red;
  border:0.02rem solid $red;
  border-radius: 0.28rem;
}
a.a-btn-border-blue{
  color: $blue;
  border:0.02rem solid $blue;
  border-radius: 0.28rem;
}
.btn-a-wrap{
  padding:0.22rem 0.32rem ;
}
.btn-warp{
  padding:0.22rem 0.32rem ;
  background-color: $white;
  border-top:0.01rem solid $dd;
}
.a-btn-bg{
  width: 100%;
  line-height: 0.92rem;
  @include fontFormat($fz:0.34rem,$ta:center,$fc:$white);
  border-radius: 0.14rem;
}
a.a-btn-bg-red{
  @extend .a-btn-bg;
  background-color: $red;
}
a.a-btn-bg-yellow{
  @extend .a-btn-bg;
  background-color: $yellow;
}
a.a-btn-bg-grey{
  @extend .a-btn-bg;
  color: $c9;
  background-color: $dd;
}
.a-btn-border{
  background-color: $white;
  width: 100%;
  line-height: 0.92rem;
  @include fontFormat($fz:0.34rem,$ta:center,$fc:$white);
  border-radius: 0.14rem;
  border:0.01rem solid $white;
}
a.a-btn-border-red{
  @extend .a-btn-border;
  color: $red;
  border-color:$red;
}
//省略号
.ellipsis{
  overflow : hidden;
  text-overflow: ellipsis;
 /* white-space:nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
//固定底部
.fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
//省市区
.select-region{
  width: 100%;
  overflow: hidden;
  select{
    float: left;
    width: 33%;
    appearance: none;
    -webkit-appearance: none;
  }
  select:last-child{
    width: 34%;
  }
  //select {
  //  direction: rtl;
  //}
  //select option {
  //  direction: ltr;
  //}
}


//表单
.el-form {
  padding-left: 0.32rem;
  background-color: $white;
  .form-row {
    border-bottom: 0.01rem solid $dd;
    width: 100%;
    padding: 0.25rem 0.32rem 0.25rem 0;
    line-height: 0.6rem;
    overflow: hidden;
    &:last-child{
      border: 0;
    }
    label {
      @include fontFormat($fz: 0.32rem, $fc: $c3);
      float: left;
    }
    .inputClass{
      float: right;
      min-width: 5.2rem;
      background: transparent;
      @include fontFormat($fz: 0.32rem, $fc: $c3,$ta:right);
      line-height: 0.6rem;
      padding:0 0.06rem;
      border: 0.01rem solid $white;
     }
    textarea{
      resize: none;
    }
    input.error-input {
      border-color: $red;
    }
    input.input-text-large{
      @extend .inputClass;
    }
    .selectClass{
      background: $white;
      border: 0.01 solid $dd;
      line-height: 0.6rem;
      padding:0 0.06rem;
      margin-right: 1%;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      @include fontFormat($fz: 0.32rem, $fc: $c3,$ta:right);
      direction: rtl;
      option{
        direction: rtl;
      }
    }
    select.select-large{
      float: right;
      min-width: 5.2rem;
      background: $white;
      @extend .selectClass;
    }
    input.error-input{
      border-color:$red;
    }
    .select-region-wrap{
      float: right;
      min-width: 5.2rem;
      select{
        float: left;
        width: 32%;
        @extend .selectClass;
      }
      select:last-child{
        width: 33%;
      }
      select.selected{
        color:$c3;
      }
      select.error-input{
        border-color:$red;
      }
    }
  }
}


//icon
.icon-arrow-right{

}
.icon-star-yellow{

}
.icon-level-star{
  width: 1.6rem;
  height: 1.6rem;
  background-color: blue;
}
.icon{
  background-color: red;
}
.icon-king{

}
.icon-cake{

}
.icon-package{

}
.icon-more{

}
.icon-sign-duihao{

}
.icon-luck-draw{

}
.icon-integral-mall{

}
.icon-invitation{

}
.icon-task-sign{

}
.icon-task-invite{

}
.icon-task-invest{

}
.icon-status-finished{

}
