@import "reset";
html,body{width:100%;height: auto;overflow-x:hidden;overflow-y:auto;}
*{box-sizing: border-box;font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body{padding:0; color: #333;background-color: #f5f4f9;min-width: 7.5rem;width:100%;margin:0 auto;}

img,span,a,label,i{display: inline-block;vertical-align: top;font-style: normal}
h1{font-weight:normal;margin:0; padding:0;}
.fl{float: left;}
.fr{float:right;}
$bg:#f2f2f2;
$white:#fff;
$c3:#333;
$c6:#666;
$c9:#999;
$d9:#d9d9d9;
$dd:#dddddd;
$cc:#ccc;
$blue:#508cee;
$red:#f7655e;
$yellow:#d1a665;
$border-w:0.04rem;
$borderRadius:0.1rem;
$fc:#393543;
@mixin opacity_bg($opa:0.8,$col:#000){
  background-color: $col;
  opacity: $opa;
  filter:alpha(opacity=$opa*100);
}
@mixin lineGradient($deg:0deg,$cS:$red,$cE:$yellow){
  background: -webkit-linear-gradient($deg, $cS, $cE); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient($deg, $cS, $cE); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient($deg, $cS, $cE); /* Firefox 3.6 - 15 */
  background: linear-gradient($deg, $cS, $cE); /* 标准的语法（必须放在最后） */
}
@mixin fontSize($val:1rem){
  @media screen and (max-width: 321px) {
    font-size:$val;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$val + 0.02rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$val + 0.04rem;;
  }
  @media screen and (min-width: 640px) {
    font-size:$val + 0.06rem;;
  }
}
//- @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
@mixin fontFormat($fz:1rem,$fc:$c3,$ta:left){
  color:$fc;
  text-align: $ta;
  @media screen and (max-width: 321px) {
    font-size:$fz - 0.01rem;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz + 0rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz + 0.01rem;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz +0.02rem;
  }
}
@mixin fontFormatS($fz:1rem,$fc:$c3,$ta:left){
  color:$fc;
  text-align: $ta;
  @media screen and (max-width: 321px) {
    font-size:$fz+0.08rem;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz + 0.06rem;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz + 0.04rem;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz + 0.02rem;
  }
}
.load-more{
  line-height: 0.6rem;
  @include fontFormat($fz:0.24rem,$fc:$c9,$ta:center);
}
.plr32{
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}
.flexStyle{
  display: flex;
  display:-webkit-flex;
}
.border-bottom{
  border-bottom:0.01rem solid $dd;
}
.border-shadow{
  box-shadow:0 0.01rem 0.03rem #bfbfbf;
}
$a-btn-radius:0.24rem;
a.a-btn{
  border-radius:$a-btn-radius;
  text-align: center;
  @include fontFormat($fz:0.28rem,$ta:center,$fc:$white);
}

a.a-btn-border-white{
  color: $white;
  border:0.02rem solid $white;
}
a.a-btn-border-red{
  color: $red;
  border:0.02rem solid $red;
  border-radius: 0.28rem;
}
a.a-btn-border-blue{
  color: $blue;
  border:0.02rem solid $blue;
  border-radius: 0.28rem;
}
.btn-a-wrap{
  margin-top: 0.5rem;
  padding:0.22rem 0.32rem ;
}
.btn-warp{
  padding:0.22rem 0.32rem ;
  background-color: $white;
  border-top:0.01rem solid $dd;
}
.a-btn-bg{
  width: 100%;
  line-height: 0.92rem;
  @include fontFormat($fz:0.34rem,$ta:center,$fc:$white);
  border-radius: 0.14rem;
}
a.a-btn-bg-red{
  @extend .a-btn-bg;
  background-color: $red;
}
a.a-btn-bg-yellow{
  @extend .a-btn-bg;
  background-color: $yellow;
}
a.a-btn-bg-grey{
  @extend .a-btn-bg;
  color: $c9;
  background-color: $dd;
}
.a-btn-border{
  background-color: $white;
  width: 100%;
  line-height: 0.92rem;
  @include fontFormat($fz:0.34rem,$ta:center,$fc:$white);
  border-radius: 0.14rem;
  border:0.01rem solid $white;
}
a.a-btn-border-red{
  @extend .a-btn-border;
  color: $red;
  border-color:$red;
}

//省略号
.ellipsis{
  overflow : hidden;
  text-overflow: ellipsis;
 /* white-space:nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
//固定底部
.fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
//省市区
.select-region{
  width: 100%;
  overflow: hidden;
  select{
    float: left;
    width: 33%;
    appearance: none;
    -webkit-appearance: none;
  }
  select:last-child{
    width: 34%;
  }
  //select {
  //  direction: rtl;
  //}
  //select option {
  //  direction: ltr;
  //}
}


//表单
.el-form {
  padding-left: 0.32rem;
  background-color: $white;
  .form-row {
    border-bottom: 0.01rem solid $dd;
    width: 100%;
    padding: 0.25rem 0.32rem 0.25rem 0;
    line-height: 0.6rem;
    overflow: hidden;
    &:last-child{
      border: 0;
    }
    label {
      @include fontFormat($fz: 0.32rem, $fc: $c3);
      float: left;
    }
    .inputClass{
      float: right;
      min-width: 5.2rem;
      background: transparent;
      @include fontFormat($fz: 0.32rem, $fc: $c3,$ta:right);
      line-height: 0.6rem;
      padding:0 0.06rem;
      border: 0.01rem solid $white;
      outline: none;
     }
    input.error-input {
      border-color: $red;
    }
    input.input-text-large{
      @extend .inputClass;
    }
    textarea{
      @extend .inputClass;
      resize: none;
    }
    textarea.error-input {
      border-color: $red;
    }
    .selectClass{
      background: $white;
      border: 0.01rem solid $white;
      //border:0;
      line-height: 0.6rem;
      padding:0 0.06rem;
      margin-right: 1%;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      @include fontFormat($fz: 0.32rem, $fc: $c9,$ta:right);
      direction: rtl;
      option{
        direction: rtl;
      }
    }
    select.select-large{
      float: right;
      min-width: 5.2rem;
      background: $white;
      @extend .selectClass;
    }
    select.selected{
      color:$c3;
    }
    input.error-input{
      border-color:$red;
    }
    select.error-input{
      border: 0.01rem solid $red;
      padding:0 0.06rem;
    }
    .select-region-wrap{
      float: right;
      min-width: 5.2rem;
      select{
        float: left;
        width: 32%;
        @extend .selectClass;
      }
      select:last-child{
        width: 33%;
      }
      select.selected{
        color:$c3;
      }
      select.error-input{
        border-color:$red;
      }
    }
  }
}
//白色右箭头 小

a.arrow-r-white{
  position: relative;
  &:after{
    position: absolute;
    right: 0.28rem;
    top:0.2rem;
    content: '';
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    border-top: 0.023rem solid $white;
    border-right: 0.023rem solid $white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
//tanc
.bg-alert-pop{
  background-color:#000000;
  opacity:0.7;
  filter:alpha(opacity=60);
  position: fixed;
  left:0;
  top:0;
  z-index: 99;
  height:100%;
  width:100%;
}
.dialog-alert-pop{
  position: fixed;
  left:50%;
  top:50%;
  z-index: 100;
  width: 6.1rem;
  transform: translate(-50%, -70%);
  background-color: $white;
  border-radius:0.2rem;
  .dialog-cont{
    padding: 0.4rem  0.6rem;
    min-height: 1.8rem;
    @include fontFormat($fz:0.3rem,$fc:$c3,$ta:center);
    line-height: 0.5rem;
    border-bottom: 0.01rem solid $dd;
    @extend .flexStyle;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      @include fontFormat($fz:0.3rem,$fc:$c3,$ta:center);
      line-height: 0.5rem;
      span{
        vertical-align: middle;
      }
    }
    .red-font{
      color:$red;
    }

  }
  .dialog-btn{
    @extend .flexStyle;
    justify-content: space-between;
    a{
      flex: 1;
      border-right: 0.01rem solid $dd;
      line-height: 1rem;
      @include fontFormat($fz:0.32rem,$fc:$c3,$ta:center);
      &:last-child{
        border-right: 0;
      }
    }
    a.a-link{
      color:$blue;
    }
    a.sure-btn{
      color:$red;
    }
  }
}

//带图片弹层
.bg-pic-pop{
  @extend .bg-alert-pop;
  display: none;
}
.dia-pic{
  @extend .dialog-alert-pop;
  display: none;
  .dia-close{
    position: absolute;
    right: -0.05rem;
    top:-1.3rem;
    width: 0.52rem;
    height: 0.52rem;
    background: url(/global/image/sign/icon_close.png) no-repeat 0 0/cover;
  }
  .dialog-cont{
    position: relative;
    padding-top: 1.6rem;
    .signSuc{
      position: absolute;
      left: 50%;
      margin-left: -1.65rem;
      top:-1.8rem;
      width: 3.4rem;
      height: 3.4rem;
      background: url(/global/image/sign/icon_signin_successfully.png) no-repeat 0 0/cover;
    }
    .title{
      width:100%;
      @include fontFormat($fz:0.36rem,$fc:$red,$ta:center);
    }
    p{
      width: 100%;
      @include fontFormat($fz: 0.32rem, $fc: $c3,$ta:center);
    }
    p.big-font{
      @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
      span.red-font{
        @include fontFormat($fz:0.42rem,$fc:$red,$ta:center);
        vertical-align: top;
        margin-right: 0.03rem;
      }
    }
  }

}
//抽奖弹层
.luck-pop{
  .dialog-cont{
    padding:0.4rem 0.6rem;
    height: 3.8rem;
    .title{
      margin: 0.2rem 0;
    }
    .luckPic{
      height: 2.6rem;
      width: 2.6rem;
      position: absolute;
      left: 50%;
      margin-left: -1.3rem;
      top:-1.3rem;
      z-index: 2;
      border-radius: 50%;
      background-color: $white;
    }
    .imgBg{
      width: 2.6rem;
      height: 1.8rem;
      background: url(/global/image/luck/icon_rule.png) no-repeat 0 0/cover;
    }
    .cont{
      width: 100%;
      position: absolute;
      left: 0;
      top:0.3rem;
      z-index: 3;
    }
    .a-btn-bg-yellow{
      margin-top: 0.2rem;
      border-radius: 0.6rem;
      line-height: 0.8rem;
    }
  }
}
.rule-pop{
  .cont{
    p{
      padding-left: 0.8rem;
      text-align: left;
    }
  }
}
.integral-null{
  .dialog-cont{
    height: 3.5rem;
    .luckPic{
      height: 2.2rem;
      width: 2.2rem;
      margin-left: -1.1rem;
    }
    .imgBg{
      margin-left: 0rem;
      margin-top: -0.2rem;
      width: 2.2rem;
      height: 2.2rem;
      background: url(/global/image/luck/icon_notenough.png) no-repeat 0 0/cover;
    }
    .cont{
      p{
        margin-top: 0.8rem;
      }
    }
    .a-btn-bg-yellow {
      margin-top: 1.4rem;
    }
  }


}
.drawed-pop{
  background: url(/global/image/luck/icon_congratulations.png) no-repeat 0 0/cover;
  width:6.4rem;
  height: 5rem;
  text-align: center;
  padding-top: 1.1rem;
  .dia-close{
    right:0;
    top: -0.5rem;
  }
  .cont{
    .title{
      @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
      line-height: 0.5rem;
    }
    .big-font{
      @include fontFormat($fz:0.4rem,$fc:$c3,$ta:center);
      line-height: 0.6rem;
      span{
        vertical-align: top;
        margin: 0;
        @include fontFormat($fz:0.4rem,$fc:$red,$ta:center);
      }
    }
    .red-font{
      margin-top: 0.5rem;
      @include fontFormat($fz:0.26rem,$fc:#ff3156,$ta:center);
    }
  }
  .a-btn-bg-yellow{
    margin-top: 0.7rem;
    border-radius: 0.6rem;
    line-height: 0.6rem;
    background-color: #ffd34c;
    width: 3.24rem;
    @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
  }
}
//首页弹层
.home-pop-invest{
  .dialog-cont{
    padding-top: 1.2rem;
  }
  .pic-wrap{
    position: absolute;
    top:-1.25rem;
    left: 50%;
    margin-left: -1.4rem;
    .imgBg{
      width: 2.8rem;
      height: 2.4rem;
      background: url(/global/image/home/icon_expired.png) no-repeat 0 0/cover;
    }
  }
  .a-btn-bg-red{
    margin-top: 0.5rem;
    border-radius: 0.6rem;
    line-height: 0.8rem;
  }
}
.home-pop-grade{
  width: 5.5rem;
  height: 6.73rem;
  padding-top: 2.4rem;
  background: url(/global/image/home/icon_up_bg.png) no-repeat 0 0/cover;
  .dialog-head{
    margin-left: -0.42rem;
    width: 6.4rem;
    height: 1.41rem;
    background: url(/global/image/home/icon_up_title.png) no-repeat 0 0/cover;
    position: relative;
    .pic-wrap{
      position: absolute;
      top:-1.4rem;
      left: 50%;
      margin-left: -1.11rem;
      width: 2.22rem;
      height:2.22rem;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
  .dialog-cont{
    $redC:#fc473c;
    padding: 0 0.8rem 0.4rem;
    border:0;
    p{
      @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
      span.red-font{
        @include fontFormat($fz:0.28rem,$fc:$redC,$ta:center);
      }
    }
    p.title{
      @include fontFormat($fz:0.42rem,$fc:$redC,$ta:center);
      line-height: 0.6rem;
      font-weight: bold;
    }
    .a-btn-bg-red{
      margin-top: 0.5rem;
      border-radius: 0.6rem;
      line-height: 0.8rem;
      background-color: $redC;
      .arrow-right-white{
        margin-top: 0.26rem;
        margin-left: 0.06rem;
      }
    }
  }
}
//icon
.icon-arrow-right{
  background: url(/global/image/home/icon_next.png) no-repeat 0 0/cover;
  margin-left: 0.05rem;
  vertical-align: middle;
}
.arrow-right-white{
  width: 0.24rem;
  height: 0.24rem;
  background: url(/global/image/luck/icon_next.png) no-repeat 0 0/cover;
}
.icon-sign-duihao{
  background: url(/global/image/home/icon_sign_in.png) no-repeat 0 0/cover;
}
.icon-luck-draw{
  background: url(/global/image/home/icon_points_draw.png) no-repeat 0 0/cover;
}
.icon-integral-mall{
  background: url(/global/image/home/icon_points_mall.png) no-repeat 0 0/cover;
}
.icon-invitation{
  background: url(/global/image/home/icon_invite_friends.png) no-repeat 0 0/cover;
}
.icon-sign-day7{
  background: url(/global/image/home/icon_task_sign_in.png) no-repeat 0 0/cover;
}
.icon-task-sign{
  background: url(/global/image/home/icon_task_sign_in.png) no-repeat 0 0/cover;
}
.icon-task-invite{
  background: url(/global/image/home/icon_task_invite_friends.png) no-repeat 0 0/cover;
}
.icon-task-invest{
  background: url(/global/image/home/icon_task_investment.png) no-repeat 0 0/cover;
}
.icon-status-finished{
  background: url(/global/image/home/icon_completed.png) no-repeat 0 0/cover;
}
.icon-sign-days{
  background: url(/global/image/task/icon_task_21days.png) no-repeat 0 0/cover;
}
