@import 'common';

//列表排序
.sec-list{
  margin-bottom: 0.4rem;
  background-color: $white;
  padding: 0 0 0 0.32rem;
  .title{
    padding-right: 0.32rem;
    @include fontFormat($fz:0.32rem,$fc:$c3);
    line-height: 1rem;
    border-bottom: 0.01rem solid $dd;
    a{
      @include fontFormat($fz:0.3rem,$fc:$c6);
      float: right;
      i{
        width: 0.26rem;
        height: 0.26rem;
        vertical-align: middle;
      }
    }
  }
  ul{
    li{
      border-bottom: 0.01rem solid $dd;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      padding: 0.4rem 0.32rem 0.4rem 0;
      &:last-child{
        border: 0;
      }
      .col-l{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        span{
          min-width: 0.8rem;
          height: 0.8rem;
          width: 0.8rem;
          margin-right: 0.25rem;
        }
        p{
          @include fontFormat($fz:0.28rem,$fc:$c3);
          max-height: 0.9rem;
          overflow: hidden;
          &:last-child{
            padding-top: 0.1rem;
            @include fontFormat($fz:0.27rem,$fc:$c9);
          }
        }
        p.font-red{
          color: $red;
        }
      }
      .col-r{
        padding-left: 0.1rem;
        min-width: 1.7rem;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        .a-btn{
          width: 100%;
          height: 0.52rem;
          line-height: 0.48rem;
          border-radius: 0.28rem;
        }
        a.a-btn-border-red{
          color: $red;
          border:0.02rem solid $red;
        }
        a.a-btn-border-blue{
          color: $blue;
          border:0.02rem solid $blue;
        }
      }
    }
  }
  .progress{
    width: 1.6rem;
    flex-direction:column;
    .progress-bar{
      background-color: #eee;
      width: 1.6rem;
      height: 0.2rem;
      border-radius: 0.24rem;
      .progress-ocuppy{
        border-radius: 0.24rem;
        width: 1rem;
        height: 0.2rem;
        background-color: $red;
      }
    }
    .tips{
      padding: 0.05rem 0.12rem;
      line-height: 0.42rem;
      border-radius: 0.1rem;
      border: 0.01rem solid $red;
      margin-bottom: 0.2rem;
      @include fontFormat($fz:0.26rem,$fc:$red,$ta:center);
      position: relative;
      &:after{
        position: absolute;
        left: 0.28rem;
        bottom: -0.09rem;
        content: '';
        display: inline-block;
        width: 0.14rem;
        height: 0.14rem;
        background-color: $white;
        border-top: 0.01rem solid $red;
        border-right: 0.01rem solid $red;
        border-radius: 0.01rem;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  }
  .icon-status{
    height: 1rem;
    width: 1rem;
  }

  .box-wrapper{
    padding: 0.32rem 0.32rem 0.01rem 0;
    .box{
      height: 2.2rem;
      width: 100%;
      border-radius: 0.2rem;
      margin-bottom: 0.55rem;
      img{
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      .cont-border{
        height: 100%;
        border: 0.03rem solid $white;
        border-radius:0.2rem;
        text-align: center;
        h3{
          font-weight: normal;
          @include fontFormat($fz:0.4rem,$fc:$white,$ta:center);
          margin-bottom: 0.1rem;
        }
        .txt{
          min-width: 2.82rem;
          line-height: 0.32rem;
          border-radius: 0.24rem;
          background-color: $white;
          padding: 0.02rem 0.1rem;
          @include fontFormat($fz:0.24rem,$fc:$red,$ta:center);
        }
      }
    }
  }
}

.home{
  .banner{
    height: 4.3rem;
    padding: 0 0.32rem;
    overflow: hidden;
    background: url(/global/image/home/bg_top.png) no-repeat 0 0/cover;
    .wrap{
      display: flex;
      display:-webkit-flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
    }
    .col-l{
      display: flex;
      display:-webkit-flex;
      align-items: center;
      padding-top: 0.4rem;
      img{
        height: 1.2rem;
        width: 1.2rem;
        border:0.04rem solid #ffa599;
        margin-right: 0.2rem;
        overflow: hidden;
        border-radius: 50%;
        margin-top: -0.1rem;
      }
    }
    ul{
      li{
        @include fontFormat($fz:0.36rem,$fc:$white);
        padding-bottom: 0.2rem;
        position: relative;
        .bg-white{
          /*@include opacity_bg($col:$white);*/
          display: inline-block;
          border-radius: 0.2rem;
          height: 0.42rem;
          background-color: rgba($white,0.5);
          padding-right: 0.15rem;
          line-height: 0.42rem;
        }
        .icon-star-yellow{
          border-radius: 50%;
          height: 0.36rem;
          width: 0.36rem;
          margin-top: 0.03rem;
          margin-left: 0.01rem;
          background: url(/global/image/home/icon_home_points.png) no-repeat 0 0/cover;
        }
        .integral-num{
          margin-left: 0.1rem;
          @include fontFormat($fz:0.26rem,$fc:$white);
          i{
            @include fontFormat($fz:0.28rem,$fc:$white);
            margin-right: 0.05rem;
          }
        }
        p.txt{
          padding-top: 0.12rem;
          @include fontFormat($fz:0.28rem,$fc:$white);
        }

      }
    }
    .col-r{
      width: 1.6rem;
      .icon-level-star{
        width: 1.6rem;
        height: 1.6rem;
        padding: 0.1rem 0 0;
        img{
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .a-btn{
        margin-top: 0.22rem;
        width: 100%;
        height: 0.52rem;
        line-height: 0.48rem;
        border-radius: 0.28rem;
        border-width: 0.02rem;
      }
    }
    .unlogin{
      .col-l{
        padding-top: 0.84rem;
        ul{
          li{
            a{
              @include fontFormat($fz:0.28rem,$fc:$white);
            }
          }
        }
      }
      .col-r{
        width: 2.1rem;
        padding-top: 0.8rem;
        .a-btn{
          margin-top: 0.22rem;
          width: 100%;
          height: 0.84rem;
          line-height: 0.84rem;
          border-radius: 0.1rem;
          @include fontFormat($fz:0.32rem,$fc:$white,$ta:center);
        }
      }
    }
  }
  .sec-li4{
    margin-bottom: 0.4rem;
    background-color: #fff;
    padding: 0.36rem 0 0.1rem;
    ul{
      overflow: hidden;
      li{
        float: left;
        width: 25%;
        a{
          width: 100%;
          text-align: center;
        }
        span.icon{
          height: 0.8rem;
          width: 0.8rem;
        }
        p{
          padding: 0.16rem 0;
          @include fontFormat($fz:0.26rem,$fc:$c6,$ta:center);
        }
      }
    }
  }

  .border-top-radius{
    position: relative;
    z-index: 2;
    margin-top: -1.62rem;
    border-top-left-radius: 0.22rem;
    border-top-right-radius: 0.22rem;
    @include opacity_bg($opa:0.9,$col:$white);
    ul{
      li{
        span.icon{
          height: 0.5rem;
          width: 0.5rem;
        }
      }
    }

  }
  .icon-king{
    background: url(/global/image/home/icon_exchange_VIP.png) no-repeat 0 0/cover;
  }
  .icon-cake{
    background: url(/global/image/home/icon_birthday.png) no-repeat 0 0/cover;
  }
  .icon-package{
    background: url(/global/image/home/icon_gift.png) no-repeat 0 0/cover;
  }
  .icon-more{
    background: url(/global/image/home/icon_more.png) no-repeat 0 0/cover;
  }
}
//特权详情

.privilege{
  .banner{
    width: 100%;
    height: 4.2rem;
    padding: 0.2rem 0;
    background: url(/global/image/privilege/bg_top.png) no-repeat 0 0/cover;
    .icon-wrap{
      position: absolute;
      top:0;
      left:-1rem;
      z-index:3;
      min-width: 5rem;
      span.icon{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
      }
      p.name{
        @include fontFormat($fz:0.32rem,$ta:center,$fc:$white);
        line-height: 0.6rem;
        margin-bottom: 0.1rem;
      }
      .txt{
        display: inline-block;
        background-color: #d5a054;
        @include fontFormat($fz:0.26rem,$ta:center,$fc:$white);
        padding: 0.08rem 0.2rem;
        border-radius: 0.3rem;
        line-height: 0.4rem;
      }
    }
    .swiper-container {
      padding: 0.5rem 0 0.1rem;
      width: 100%;
      height: 4rem;
    }
    .swiper-slide {
      width:4.4rem;
      height: 2.5rem;
      text-align: center;
      background: #ccc;
      border-radius: 0.1rem;
      position: relative;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      .icon-wrap{
        display: none;
      }
      a{
        padding: 0.4rem 0.3rem 0.25rem;
        text-align: center;
        border-radius: 0.1rem;
        position: absolute;
        top:0;
        left: 0;
        z-index: 2;
        display: inline-block;
        width: 100%;
        height: 100%;
        span{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(/global/image/privilege/icon_card_light.png) no-repeat 0 0;
          background-size: 100% 100%;
        }

      }
    }
    .swiper-slide-active{
      .icon-wrap{
        display: block;
      }
      a{
        -webkit-transform: scale(2,1.3);
        -moz-transform: scale(2,1.3);
        -ms-transform: scale(2,1.3);
        -o-transform: scale(2,1.3);
        transform: scale(2,1.3);
      }
    }

    .swiper-pagination{
      padding-top: 0.46rem;
      bottom:0.1rem;
      background: url(/global/image/privilege/bg_light_bottom.png) no-repeat 0 0;
      background-size: 100% 100%;
      .swiper-pagination-bullet{
        width: 0.2rem;
        border-radius:0.2rem;
        height: 0.05rem;
        background-color: $white;
        margin-top: 0.2rem;
      }
      .swiper-pagination-bullet-active{
        background-color: $red;
      }
    }
    $d:45deg;
    .qingtong{
      a{
        @include lineGradient($deg:$d,$cS:#669999,$cE:#a8cccc);
      }
      .txt{
        background-color: #669999;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_bronze.png) no-repeat 0 0/cover;
      }
    }
    .baiyin {
      a{
        @include lineGradient($deg:$d,$cS:#99aabb,$cE:#c2cfdb);
      }
      .txt{
        background-color: #99aabb;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_silver.png) no-repeat 0 0/cover;
      }
    }
    .huangjin{
      a{
        @include lineGradient($deg:$d,$cS:#e7ab52,$cE:#ffd494);
      }
      .txt{
        background-color: #e7ab52;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_gold.png) no-repeat 0 0/cover;
      }
    }
    .bojin{
      a{
        @include lineGradient($deg:$d,$cS:#6e7087,$cE:#a9b5d5);
      }
      .txt{
        background-color: #6e7087;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_platinum.png) no-repeat 0 0/cover;
      }
    }
    .zhuanshi{
      a{
        @include lineGradient($deg:$d,$cS:#23459f,$cE:#4f7bbc);
      }
      .txt{
        background-color: #23459f;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_diamond.png) no-repeat 0 0/cover;
      }
    }
    .zhizhun {
      a{
        @include lineGradient($deg:$d,$cS:#dd212b,$cE:#ff4350);
      }
      .txt{
        background-color: #dd212b;
      }
      .icon{
        background: url(/global/image/privilege/icon_member_extreme.png) no-repeat 0 0/cover;
      }
    }

  }
  .sec-li-center{
    background-color: $white;
    .title{
      @include fontFormat($fz:0.32rem,$ta:center,$fc:$c3);
      line-height: 0.6rem;
      padding: 0.2rem 0;
      border-bottom: 0.01rem solid #fafafc;
      i{
        height: 0.36rem;
        width: 0.6rem;
        background-color: red;
        vertical-align: middle;
      }
      .icon-title-left{
        background: url(/global/image/privilege/icon_title_left.png) no-repeat 0 0/cover;
      }
      .icon-title-right{
        background: url(/global/image/privilege/icon_title_right.png) no-repeat 0 0/cover;
      }
      span{
       // margin: 0 0.2rem;
      }
    }
    .row-cont{
      padding: 0 0.5rem;
      .row{
        @extend .border-bottom;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding: 0.3rem 0 0.3rem 0.7rem;
        &:last-child{
          border:0;
        }
      }
      .col{
        span{
          height: 0.88rem;
          width: 0.88rem;
          border-radius:50%;
          margin-right: 0.4rem;
          overflow: hidden;
          text-align: center;
          line-height: 0.88rem;
          background-color: $yellow;
          i{
            height: 0.5rem;
            width: 0.5rem;
            vertical-align: middle;
          }
          .icon01{
            background: url(/global/image/privilege/icon_privilege_1.png) no-repeat 0 0/cover;
          }
          .icon02{
            background: url(/global/image/privilege/icon_privilege_2.png) no-repeat 0 0/cover;
          }
          .icon03{
            background: url(/global/image/privilege/icon_privilege_3.png) no-repeat 0 0/cover;
          }
          .icon04{
            background: url(/global/image/privilege/icon_privilege_4.png) no-repeat 0 0/cover;
          }
          .icon05{
            background: url(/global/image/privilege/icon_privilege_5.png) no-repeat 0 0/cover;
          }
          .icon06{
            background: url(/global/image/privilege/icon_privilege_5.png) no-repeat 0 0/cover;
          }
        }
        p.name{
          line-height: 0.5rem;
          @include fontFormat($fz:0.32rem,$fc:$c3);
          height: 0.6rem;
          width:100%;
          @extend .ellipsis;
        }
        p.grey-font{
          line-height: 0.46rem;
          height: 0.46rem;
          @include fontFormat($fz:0.28rem,$fc:$c9);
          width: 100%;
          @extend .ellipsis;
        }

      }
    }
    .qingtong{
      .col{
        span{
          background-color: #669999;
        }
      }
    }
    .baiyin{
      .col{
        span{
          background-color: #99aabb;
        }
      }
    }
    .huangjin{
      .col{
        span{
          background-color: #e7ab52;
        }
      }
    }
    .bojin{
      .col{
        span{
          background-color: #6e7087;
        }
      }
    }
    .zhuanshi{
      .col{
        span{
          background-color: #23459f;
        }
      }
    }
    .zhizhun{
      .col{
        span{
          background-color: #dd212b;
        }
      }
    }
  }
}
.privilegeDetail{
  .banner{
    height: 3rem;
    width: 100%;
    padding:0.55rem 0.32rem 0;
    background: url(/global/image/privilege/icon_privilege_bg.png) no-repeat black 0 0/cover;
    .txt{
      flex: 1;
      padding: 0.15rem 2rem 0.15rem 0.2rem;
      height: 1.9rem;
      background-color: $white;
      border-radius:0.2rem;
      position: relative;
      h2{
        @include fontFormat($fz:0.4rem,$fc:$fc);
        margin-bottom: 0.15rem;
        margin-top: 0.2rem;
        font-weight: normal;
      }
      p{
        @include fontFormat($fz:0.28rem,$fc:$c9);
      }
      .rightPic{
        position: absolute;
        right: 0.1rem;
        top: 0.05rem;
        width: 1.8rem;
        height: 1.8rem;

      }
      .birthday{
        background: url(/global/image/privilege/icon_detail_1.png) no-repeat 0 0/cover;
      }
      .excharge{
        background: url(/global/image/privilege/icon_detail_2.png) no-repeat 0 0/cover;
      }
      .first{
        background: url(/global/image/privilege/icon_detail_3.png) no-repeat 0 0/cover;
      }
      .service{
        background: url(/global/image/privilege/icon_detail_4.png) no-repeat 0 0/cover;
      }
      .invest{
        background: url(/global/image/privilege/icon_detail_5.png) no-repeat 0 0/cover;
      }
    }

  }
  .cont-wrap{
    margin-bottom:1.58rem;
  }
}
.upGrade{
  padding-bottom: 1.6rem;
  .sec{
    background-color: $white;
    padding:0.3rem 0.32rem;
    @extend  .border-bottom;
    margin-bottom: 0.3rem;
    .title{
      @include fontFormat($fz:0.32rem,$fc:$c3);
      line-height: 0.6rem;
      margin-bottom: 0.14rem;
    }
    .cont{
      p{
        @include fontFormat($fz:0.3rem,$fc:$c6);
        line-height: 0.46rem;
        margin-bottom: 0.1rem;
      }
      .p-cont{
        margin-bottom: 0.2rem;
        padding-left: 0.2rem;
      }
    }
  }
}
//柱状图
.histogram-wrap{
  .tag{
    @include fontFormat($fz:0.28rem,$fc:$c9);
    line-height:0.36rem;
  }
  .histogram-cont{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    height: 4.4rem;
    .column{
      flex: auto;
      align-self: flex-end;
      @extend .flexStyle;
      align-items: center;
      justify-content: center;
      flex-direction:column;
      overflow: hidden;
      .num{
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 0.18rem;
        @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
        line-height: 0.32rem;
        height: 0.5rem;
        i{
          vertical-align: middle;
        }
      }
      p.name{
        padding-top: 0.16rem;
        height: 0.5rem;
        line-height: 0.34rem;
        @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
      }
      .column-ocuppy{
        vertical-align: bottom;
        $redC:#ff5055;
        $yellowC:#ffbd67;
        $deg:0deg;
        height: 1rem;
        width: 0.23rem;
        border-radius: 0.2rem;
        background: -webkit-linear-gradient($deg, $redC, $yellowC); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient($deg, $redC, $yellowC); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient($deg, $redC, $yellowC); /* Firefox 3.6 - 15 */
        background: linear-gradient($deg, $redC, $yellowC); /* 标准的语法（必须放在最后） */
      }
    }
  }

}
//
.detail{
  .cont-wrap{
    padding:0.6rem 0 0 0.32rem;
    background-color: $white;
    border-bottom:0.01rem solid $dd;

    .row{
      margin-bottom: 0.2rem;
      padding-right: 0.32rem;
      border-bottom: 0.01rem solid $dd;
      &:last-child{
        border:0;
      }
      h3{
        @include fontFormat($fz:0.32rem,$fc:$c3);
        line-height: 0.5rem;
        margin-bottom: 0.1rem;
        font-weight:normal;
        span.icon{
          height: 0.32rem;
          width: 0.32rem;
          margin-right: 0.3rem;
          vertical-align: middle;
          margin-top: -0.05rem;
        }
        .icon-introduce{
          background: url(/global/image/privilege/icon_introduce.png) no-repeat 0 0/cover;
        }
        .icon-get{
          background: url(/global/image/privilege/icon_get.png) no-repeat 0 0/cover;
        }
        .icon01{
          background: url(/global/image/mall/icon_profile.png) no-repeat 0 0/cover;
        }
        .icon02{
          background: url(/global/image/mall/icon_declaration.png) no-repeat 0 0/cover;
        }
      }
      h4 {
        @include fontFormat($fz: 0.28rem, $fc: $c3);
        line-height: 0.6rem;
        font-weight: normal;
      }
      .txt-cont{
        padding-left: 0.62rem;
        padding-bottom: 0.18rem;
        p{
          line-height: 0.52rem;
          @include fontFormat($fz:0.27rem,$fc:$c6);
        }
      }
    }
  }
}

.ulist{
  padding-left: 0.32rem;
  background-color: $white;
  .title{
    @include fontFormat($fz:0.3rem,$fc:$c3);
    line-height: 1rem;
  }
  ul{
    li{
      border-top: 0.01rem solid $dd;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem  0;
      p.txt{
        @include fontFormat($fz:0.32rem,$fc:$c3);
        line-height: 0.52rem;
        margin-bottom: 0.08rem;
      }
      p.date-time{
        @include fontFormat($fz:0.28rem,$fc:$c9);
        line-height: 0.32rem;
      }
      .col{
        height: 100%;
        img{
          width: 0.73rem;
          height: 0.73rem;
          border-radiu:50%;
          background-color: red;
          overflow: hidden;
          margin-right: 0.35rem;
          vertical-align: middle;
        }
      }
      .center{
        flex:1;
      }
      .col-r{
        padding-right: 0.3rem;
        span{
          @include fontFormat($fz:0.36rem,$fc:$c3);
          vertical-align: middle;
        }
      }
    }
  }
}

//签到
.sign{
  margin-top: 0.2rem;
  text-align: center;
  .card{
    width:7.1rem;
    height:2.1rem;
    border-top-left-radius:0.28rem;
    border-top-right-radius:0.28rem;
    margin: 0 auto;
    @extend .flexStyle;
    justify-content: space-between;
    align-items: center;
    background: url(/global/image/sign/bg_score.png) no-repeat 0 0/cover;
    .bg_title{
      width:1rem;
      height:1.1rem;
    }
    .titleLeft{
      margin: 0.3rem;
      background: url(/global/image/sign/icon_total_score.png) no-repeat 0 0/cover;
    }
    .titleRight{
      align-self: flex-end;
      margin-right: 0.2rem;
    }
    .inner{
      flex:1;
      min-width:3rem;
      div{
        @include fontFormat($fz:0.28rem,$fc:$white);
        .num{
          margin-right: 0.2rem;
          @include fontFormat($fz:0.4rem,$fc:$white);
        }
        .day{
          margin: 0 0.1rem;
          vertical-align: middle;
          @include fontFormat($fz:0.36rem,$fc:yellow);
        }
      }
      .topDiv{
        margin-bottom: 0.1rem;
        @include fontFormat($fz:0.36rem,$fc:$white);
      }

    }
  }
  .main{
    background: #fff;
    padding-top:0.02rem;
    padding-bottom: 2rem;
    .tips{
      @include fontFormat($fz:0.28rem,$fc:$c3);
      margin: 0 auto;
      padding: 0.2rem 0.3rem 0.1rem;
      span{
        @include fontFormat($fz:0.28rem,$fc:$red);
      }
    }
    #scheduleBox{
      border: 1px solid #fff1d1;
      border-radius: 0.28rem;
      box-shadow:0rem 0.1rem 0.05rem #fff1d1;
      //width: 7rem;
      padding: 0 0 0.2rem;
      @include fontFormat($fz:0.28rem);
      .schedule-hd{
        display: flex;
        justify-content: space-between;
        padding: 0 0.15rem;
        background: #fff6de;
        height:0.8rem;
        width:100%;
        border-top-left-radius:0.28rem;
        border-top-right-radius:0.28rem;
        @include fontFormat($fz:0.28rem,$fc:#ffa10e);
        .today{
          line-height: 0.8rem;
        }
        #prevMonth{
          margin-top: 0.25rem;
          width:0.3rem;
          height:0.3rem;
          margin-left: 0.4rem;
          background: url(/global/image/sign/icon_title_before.png) no-repeat 0 0/cover;
        }
        #nextMonth{
          margin-top: 0.25rem;
          width:0.3rem;
          height:0.3rem;
          margin-right: 0.4rem;
          background: url(/global/image/sign/icon_title_after.png) no-repeat 0 0/cover;
        }
        .arrow{
          cursor: pointer;
        }
      }
      .ul-box{
        overflow: hidden;
        padding: 0.1rem 0.2rem 0.2rem;
      }
      .ul-box > li{
        float: left;
        width: 14.28%;
        text-align: center;
      }
      .week-ul{
        @include fontFormat($fz:0.28rem,$fc:#999);
      }
      .schedule-bd{
        padding-top: 0.1rem;
        li{
          position: relative;
          padding:0 0 0.32rem;
        }
        .selected-style {
          background: #f7655e;
          color: #ffffff;
        }
        .current-month{
          color: $c3;
        }
        .dayStyle{
          display: inline-block;
          background-color: $white;
          width: 0.56rem;
          height:0.56rem;
          border-radius: 50%;
          text-align: center;
          line-height: 0.54rem;
          border: 0.02rem solid transparent;
        }
        .today-style{
          border-radius: 50%;
          background: $red;
          border-color:$red;
        }
        // 补卡样式
        .signed{
          position: relative;
          .currentDate{
            border-color:$red;
          }
          span.icon-duihao{
            position: absolute;
            left: 50%;
            margin-left: -0.11rem;
            bottom:0.08rem;
            height: 0.22rem;
            width: 0.22rem;
            background: url(/global/image/sign/icon_selected.png) no-repeat 0 0/cover;
          }
        }
        .unSign {
          .currentDate{
            background: $cc;
            border-color:$cc;
            color: #ffffff;
          }
          span.txt{
            width: 100%;
            position: absolute;
            left:0;
            bottom:0.04rem;
            @include fontFormat($fz:0.2rem,$fc:$c9,$ta:center);
          }
        }
         .today-flag{
           background: $red;
           color: #fff;
         }
        .other-month{
          //color: #999999;
          color:$white;
          .dayStyle{
            display: none;
          }
        }
      }

    }
    .signBox{
      position: relative;
      padding: 0.2rem;
      .page-tb{
        position: absolute;
        right: 0.2rem;
        bottom:0.2rem;
        height: 0.68rem;
        width: 0.68rem;
        background: url(/global/image/sign/icon_form_bottom.png) no-repeat 0 0/cover;
      }
    }
    .tips-b{
      @include fontFormat($fz:0.28rem,$fc:$c3);
      margin: 0.4rem auto 0;
      padding: 0.1rem 0.3rem;
      text-align: center
    }
  }
}
//签到记录
.signRecord{
  .ulist{
    ul{
      li{
        .col{
          span.icon{
            width: 0.72rem;
            height: 0.72rem;
            vertical-align: middle;
            margin-right: 0.36rem;
            background: url(/global/image/sign/icon_reward.png) no-repeat 0 0/cover;
          }
        }
      }
    }
  }
}
//任务中心
.task{
  .banner{
    height: 2.8rem;
    text-align: center;
    padding-top:0.66rem ;
    background: url(/global/image/task/icon_mission_banner.png) no-repeat 0 0/cover;
    h1{
      @include fontFormat($fz:0.6rem,$fc:$white,$ta:center);
      margin-bottom: 0.1rem;
      font-weight: normal;
    }
    .border-white{
      min-width: 4.6rem;
      padding:0 0.1rem;
      border-radius: 0.36rem;
      border: 0.03rem solid $white;
      line-height:0.52rem ;
      @include fontFormat($fz:0.32rem,$fc:$white,$ta:center);
      .icon-star-white-border{
        height: 0.32rem;
        width: 0.32rem;
        background-color: $white;
        vertical-align: middle;
        margin: 0 0.15rem;
      }
    }
  }
  .sign-day7-tips{
    position: relative;
    .sign-bg-yellow{
      padding: 0.1rem 0.32rem;
      background-color: #fbf9e2;
      position: absolute;
      top:2.7rem;
      left:0;
      line-height: 0.4rem;
      @include fontFormat($fz:0.24rem,$fc:$yellow);
    }
  }
  .icon-login-first{
    background: url(/global/image/task/icon_task_first.png) no-repeat 0 0/cover;
  }
  .icon-invest-first{
    background: url(/global/image/task/icon_task_invest_1.png) no-repeat 0 0/cover;
  }
  .icon-invest-day58{
    background: url(/global/image/task/icon_task_invest_2.png) no-repeat 0 0/cover;
  }
  .icon-invest-day88{
    background: url(/global/image/task/icon_task_invest_3.png) no-repeat 0 0/cover;
  }
}



//积分商城
.red-notice-tips{
  height: 0.9rem;
  overflow: hidden;
  background-color: $white;
  ul{
    li{
      padding: 0.2rem 0.32rem;
      .icon-horn{
        height: 0.4rem;
        width: 0.4rem;
        margin-right: 0.2rem;
        margin-top: 0.1rem;
        background: url(/global/image/mall/icon_publicity.png) no-repeat 0 0/cover;
      }
      .icon-red-font{
        height: 0.3rem;
        width: 1.16rem;
        margin-top: 0.12rem;
        background: url(/global/image/mall/icon_change.png) no-repeat 0 0/cover;
      }
      .border-l{
        border-right:0.01rem solid $dd;
        margin:0.11rem 0.2rem 0;
        height: 0.4rem;
      }
      @include fontFormat($fz:0.28rem,$fc:$c6);
      line-height: 0.6rem;
      .red-font{
        color: $red;
      }
    }
  }
}
.integral-ticket{
  img{
    width: 3.12rem;
    height: 1.44rem;
    overflow: hidden;
  }
}
.addCutWrap{
  display: flex;
  span{
    @include fontFormat($fz:0.28rem,$fc:$c6,$ta:center);
    background-color: $dd;
    line-height: 0.36rem;
    width: 0.6rem;
    height: 0.4rem;
    border-radius:0.1rem;
  }
  input{
    margin: 0 0.05rem;
    background-color: $dd;
    width: 1rem;
    line-height: 0.4rem;
    @include fontFormat($fz:0.3rem,$fc:$c3,$ta:center);
    vertical-align: top;
  }
}
.risk-tip{
  padding: 0 0 0.2rem;
  h3{
    @include fontFormat($fz:0.28rem,$fc:$c6,$ta:center);
    font-weight: normal;
    line-height:0.6rem;
  }
  p{
    @include fontFormat($fz:0.24rem,$fc:$c9,$ta:center);
    line-height:0.42rem;
  }
}
.mall{
  .banner{
    height: 2.8rem;
    background: url(/global/image/mall/icon_banner.png) no-repeat 0 0/cover;
  }
  .sec-top{
    margin-bottom: 0.2rem;
    background-color: $white;

    .row-b{
      display: flex;
      display: -webkit-flex;
      border-top: 0.01rem solid $dd;
      padding: 0.2rem 0.32rem;
      .col{
        width: 50%;
        padding-left: 0.45rem;
        border-right: 0.01rem solid $dd;
        &:last-child{
          border:0;
        }
        .icon{
          height: 0.78rem;
          width: 0.78rem;
          margin-right: 0.05rem;
        }
        .icon-money-yellow{
          background: url(/global/image/mall/icon_record.png) no-repeat 0 0/cover;
        }
        .icon-excharge-record{
          background: url(/global/image/mall/icon_record.png) no-repeat 0 0/cover;
        }
        .txt{
          @include fontFormat($fz:0.32rem,$fc:$c3);
          line-height: 0.78rem;
        }
      }
    }
  }
  .sec-list{
      padding: 0;
    .title{
      padding: 0 0.32rem;
    }
    .sec-cont{
      padding: 0 0.32rem;
      border-bottom: 0.01rem solid $dd;
    }
    .sec-row{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      border-bottom: 0.01rem solid $dd;
      &:last-child{
        border-bottom: 0;
      }
      .col{
        width: 50%;
        border-right:0.01rem solid $dd;
        padding-right: 0.3rem;
        padding-bottom: 0.4rem;
        &:last-child{
          border:0;
          padding-right: 0;
          padding-left: 0.3rem;
        }
        .ticket{
          min-height: 2.4rem;
          padding-top: 0.5rem;
          @extend .flexStyle;
          align-items: center;
          img{
            max-height: 1.8rem;
            overflow: hidden;
          }
          p {
            @include fontFormat($fz: 0.28rem, $fc: $white, $ta: right);
          }
          p.num{
            line-height: 0.52rem;
            span{
              font-style: italic;
              line-height: 0.46rem;
              @include fontFormat($fz:0.5rem,$fc:$white,$ta:right);
              margin-right: 0.1rem;
            }
          }
        }
        .bg-red{
          background-color: red;
        }
        .bg-blue{
          background-color: blue;
        }
      }
    }

    .price-wrap{
      width: 100%;
      p.price-name{
        @include fontFormat($fz:0.30rem,$fc:$c3);
        height: 0.4rem;
        line-height: 0.4rem;
        width: 100%;
        margin-bottom: 0.15rem;
        @extend .ellipsis;
      }
      p.price-num{
        height: 0.4rem;
        overflow: hidden;
        text-align: left;
        .icon-money-red{
          width: 0.32rem;
          height: 0.32rem;
          margin-right: 0.1rem;
          background: url(/global/image/mall/icon_integral.png) no-repeat 0 0/cover;
        }
        .font-red{
          @include fontFormat($fz:0.28rem,$fc:$red);
          line-height: 0.36rem;
          margin-right: 0.1rem;
        }
        .font-grey{
          @include fontFormat($fz:0.24rem,$fc:$c9);
          line-height: 0.38rem;
          text-decoration: line-through;
        }
      }
    }
    .sec-cont{
      ul{
        overflow: hidden;
        li{
          width: 50%;
          float: left;
          border-right: 0.01rem solid $dd;
          display: block;
          padding-right: 0.08rem;
          text-align: center;
          &:nth-child(even){
            padding-left: 0.28rem;
            border-right: 0;
          }
          &:nth-last-child(1){
            border-bottom: 0;
          }
          &:nth-last-child(2){
            border-bottom: 0;
          }
          img{
            width:1.6rem;
            height: 2.1rem;
            box-shadow: 0.02rem 0.02rem 0.02rem $cc;
            overflow: hidden;
            margin-bottom:0.4rem;
          }
        }
      }
    }
  }
}
//我的积分
.myIntegral{

  .list-null{
    padding-top: 40%;
    text-align: center;
    .pic-bg{
      height: 2rem;
      width: 2rem;
      background: url(/global/image/mall/my_integral_null.png) no-repeat 0 0/cover;
    }
  }

  .banner{
    height: 3rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background: url(/global/image/mall/icon_myintegral_banner.png) no-repeat 0 0/cover;
    .icon-oclock{
      width: 2.8rem;
      height: 2.8rem;
      padding-top: 1.4rem;
      background: url(/global/image/mall/icon_circle.png) no-repeat 0 0/cover;
      p.txt{
        @include fontFormat($fz:0.28rem,$fc:#ec6300,$ta:center);
        line-height: 0.36rem;
      }
      p.num{
        @include fontFormat($fz:0.6rem,$fc:#ec6300,$ta:center);
      }
    }
  }
}
//商品详情
.productDetail{
  .sec-top{
    padding-top: 0.32rem;
    margin-bottom: 0.3rem;
    background-color: $white;
    padding-left: 0.32rem;
    .row{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 0.32rem 0.3rem 0;
      .col{
        width: 50%;
        overflow: hidden;
        .addCutWrap{
         float: right;
        }
        line-height: 0.4rem;
      }
      label{
        @include fontFormat($fz:0.28rem,$fc:$c3);
      }
      span.red-font{
        @include fontFormat($fz:0.32rem,$fc:$red);
        line-height: 0.42rem;
      }
      span.num{
        @include fontFormat($fz:0.26rem,$fc:$c6);
        line-height: 0.4rem;
      }
      span.grey-font{
        margin-left: 0.1rem;
        @include fontFormat($fz:0.27rem,$fc:$c6);
        text-decoration: line-through;
        line-height: 0.44rem;
      }
      span.icon-circle-star{
        height: 0.38rem;
        width: 0.38rem;
        background: url(/global/image/mall/icon_integral_3.png) no-repeat 0 0/cover;
      }
    }
    .sec01{
      border-radius: 0.18rem;
      background-color: #f2f2f2;
      padding: 0.6rem 0.2rem 0.3rem;
      overflow: hidden;
      width: 100%;
      .col{
        width: 50%;
        float: left;
      }
      p{
        @include fontFormat($fz:0.4rem,$fc:$c3);
        margin-bottom: 0.18rem;
      }
      .a-btn-bg-blue{
        @include fontFormat($fz:0.28rem,$fc:$white,$ta:center);
        background-color: $blue;
        padding: 0.1rem 0.2rem;
        line-height: 0.32rem;
        border-radius: 0.26rem;
      }
    }
  }
  .sec-m{
    margin-bottom: 0.3rem;
  }
  .risk-tip{
    margin-top: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .cont-wrap{
    .row{

      .icon-introduce{
        background: url(/global/image/mall/icon_change.png) no-repeat 0 0/cover;
      }
    }
  }
  .btn-warp{
    a{
      span.icon-star{
        height: 0.38rem;
        width: 0.38rem;
        vertical-align: middle;
        margin-right: 0.2rem;
      }
      .icon-star-white{
        background: url(/global/image/mall/icon_integral_1.png) no-repeat 0 0/cover;
      }
      .icon-star-grey{
        background: url(/global/image/mall/icon_integral_2.png) no-repeat 0 0/cover;
      }
      i#integralNumSum{
        margin-right: 0.1rem;
      }
    }

  }
}
//订单
.order-one{
  .title{
    @include fontFormat($fz:0.3rem,$fc:$c3);
    line-height: 0.8rem;
    padding: 0 0.32rem;
    background-color: $white;
  }
  .cont{
    overflow: hidden;
    padding:0.1rem 0.32rem;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    background-color: #f5f5f5;
    .img-wrap{
      width: 1.6rem;
      min-width:1.6rem;
      height: 1.6rem;
      border: 0.01rem solid $dd;
      background-color: $white;
      float: left;
      img{
        vertical-align: middle;
        max-width: 100%;
        width: 100%;
      }
    }
    .txt{
      background-color: #f5f5f5;
      margin-left: 0.4rem;
      span.name{
        @extend .ellipsis2;
        @include fontFormat($fz:0.28rem,$fc:$c6);
        margin-bottom: 0.1rem;
        min-height: 0.5rem;
      }
      span{
        overflow: hidden;
        line-height: 0.36rem;
        vertical-align: middle;
        width: 100%;
      }
      .red-font{
        @include fontFormat($fz:0.29rem,$fc:$red);
      }
      .no{
        float:right;
        @include fontFormat($fz:0.29rem,$fc:$c6);
      }
    }
  }
  .row-list{
    padding-left: 0.32rem;
    background-color: $white;
  }
  .row{
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
    border-bottom:0.01rem solid $dd;
    line-height: 1rem;
    padding-right: 0.32rem;
    &:last-child{
      border:0;
    }
    label{
      @include fontFormat($fz:0.32rem,$fc:$c3);
    }
    span{
      @include fontFormat($fz:0.32rem,$fc:$red);
    }
    span.black-font{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      font-weight: bold;
    }
  }
}

//确认兑换
.address-wrap{
  position: relative;
  padding: 0.3rem 0.32rem;
  overflow: hidden;
  min-height: 2.4rem;
  background-color: $white;
  overflow: hidden;
  .address-border{
    position: absolute;
    left: 0;
    z-index: 1;
    height: 0.04rem;
    width: 100%;
    background: url(/global/image/mall/icon_address_bg.png) no-repeat 0 0/cover;
  }
  .border-top{
    top:0;
  }
  .border-bottom{
    bottom:0;
  };
  .address-exist{
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .a-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 2;
  }
  .icon-address{
    height: 0.4rem;
    width: 0.4rem;
    background: url(/global/image/mall/icon_address.png) no-repeat 0 0/cover;
  }
  .icon-arrow-right{
    position: absolute;
    top:1rem;
    right: 0.32rem;
    height: 0.3rem;
    width: 0.3rem;
    background: url(/global/image/mall/icon_select_next.png) no-repeat 0 0/cover;
  }
  .adress-txt{
    margin-left: 0.3rem;
    p.name{
      @include fontFormat($fz:0.30rem,$fc:$c3);
      line-height: 0.5rem;
      margin-bottom: 0.12rem;
      padding: 0;
      span{
        @include fontFormat($fz:0.3rem,$fc:$c3);
      }
    }
    p{
      padding-right: 0.4rem;
      @include fontFormat($fz:0.3rem,$fc:$c6);
      line-height: 0.48rem;
    }
  }
  .address-null{
    height: 100%;
    width: 100%;
    line-height: 2.1rem;
    .icon-add-btn{
      width: 0.44rem;
      height: 0.44rem;
      border-radius:50%;
      border:0.02rem solid $red;
      vertical-align: middle;
      @include fontFormat($fz:0.36rem,$fc:$red,$ta:center);
      line-height: 0.4rem;
      margin-right: 0.15rem;
    }
    a{
      height: 100%;
      width: 100%;
      @include fontFormat($fz:0.3rem,$fc:$red,$ta:center);
      vertical-align: middle;
    }
  }

}
.sureExcharge{
  .address-wrap{
    margin-bottom: 0.3rem;
  }
  .btn-warp{
    margin-top: 3rem;
  }
  .order-one{
    margin-bottom: 0.3rem;
  }
  .el-form{
    margin-bottom: 0.3rem;
  }
  .detail {
    .cont-wrap{
      padding-top: 0.3rem;
      border: 0;
      .row{
        h3{
          span.icon{
            margin-right: 0.2rem;
          }
        }
        .txt-cont{
          padding-left: 0.02rem;
        }
      }
    }
  }
}
//兑换成功
.exchargeSuc{
  .banner{
    background-color: $white;
    height: 3.86rem;
    text-align: center;
    padding-top: 0.4rem;
    margin-bottom: 0.3rem;
    @extend .border-bottom;
    .icon-suc{
      width: 2.6rem;
      height: 2.6rem;
      vertical-align: middle;
      background: url(/global/image/mall/icon_succeed.png) no-repeat 0 0/cover;
    }
    p{
      margin-top: 0.1rem;
      font-weight: bold;
      @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
    }
  }
  .order-one{
    border-top: 0.01rem solid $dd;
    .row-list{
      padding-top:0.3rem;
      padding-bottom:0.3rem;
      .row{
        line-height: 0.6rem;
        border-bottom: 0;
      }
    }
  }
  .tips{
    @include fontFormat($fz:0.26rem,$fc:$c9);
    padding: 0.3rem 0.32rem;
    margin-bottom: 0.3rem;
    .icon-tips{
      width: 0.32rem;
      height: 0.32rem;
      margin-top: 0.02rem;
      margin-right: 0.1rem;
      background: url(/global/image/mall/tip.png) no-repeat 0 0/cover;
    }
  }
}
//兑换记录
.exchargeRecord{
  padding-top: 0.3rem;
  .list-null{
    padding-top: 40%;
    text-align: center;
    .pic-bg{
      height: 2rem;
      width: 2rem;
      background: url(/global/image/mall/excharge_record_null.png) no-repeat 0 0/cover;
    }
  }
  .ulist{
    ul{
      li{
        .col{
          span.icon{
            width: 0.72rem;
            height: 0.72rem;
            vertical-align: middle;
            margin-right: 0.36rem;
          }
          .icon-full-cut{
            background: url(/global/image/mall/icon_record_1.png) no-repeat 0 0/cover;
          }
          .icon-rate{
            background: url(/global/image/mall/icon_record_2.png) no-repeat 0 0/cover;
          }
          .icon-obj{
            background: url(/global/image/mall/icon_record_3.png) no-repeat 0 0/cover;
          }
          .icon-oil{
            background: url(/global/image/mall/icon_record_4.png) no-repeat 0 0/cover;
          }
        }
      }
    }
  }
}

//收货地址
.addressList{
  .address-one{
    background-color: $white;
    padding: 0.26rem 0.32rem 0.15rem;
    border-bottom: 0.01rem solid $dd;
    overflow: hidden;
    p{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.5rem;
      @extend .ellipsis2;
      margin-bottom: 0.08rem;
      a{
        @include fontFormat($fz:0.3rem,$fc:$c3);
      }
      span.default-address{
        @include fontFormat($fz:0.3rem,$fc:$red);
        margin-right: 0.1rem;
      }
    }
  }
  .opt-wrap{
    background-color: $white;
    padding: 0.25rem 0.32rem;
    margin-bottom: 0.3rem;
    .set-default{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.4rem;
      i{
        margin-right: 0.1rem;
        height: 0.36rem;
        width: 0.36rem;
        background: url(/global/image/mall/icon_selected_2.png) no-repeat 0 0/cover;
      }
    }
    .choosed{
      i{
        background: url(/global/image/mall/icon_selected_1.png) no-repeat 0 0/cover;
      }
    }
    a{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.44rem;
      &:last-child{
        margin-left: 0.3rem;
      }
      i{
        width:0.4rem;
        height: 0.4rem;
        margin-right: 0.05rem;
      }
      .icon-edit{
        background: url(/global/image/mall/icon_edit.png) no-repeat 0 0/cover;
      }
      .icon-delete{
        background: url(/global/image/mall/icon_delete.png) no-repeat 0 0/cover;
      }
    }
  }
}

//编辑地址
.addressEdit{
  .el-form{
    margin-bottom: 0.3rem;
    border-top: 0.01rem solid $dd;
    border-bottom: 0.01rem solid $dd;
  }
  .el-switch{
    float:right;
    height: 0.64rem;
    width: 1.1rem;
    border: 0.01rem solid $dd;
    border-radius: 0.32rem;
    background-color: $white;
    overflow: hidden;
    @extend .flexStyle;
    justify-content: space-between;
    align-items: center;
    input{
      display: none;
    }
    span{
      background-color: $white;
    }
    .circle-l{
      height: 0.62rem;
      width: 0.62rem;
      border:0.01rem solid $dd;
      border-radius: 50%;
    }
    .circle-r{
      margin-right: 0.1rem;
      height: 0.2rem;
      width: 0.2rem;
      border:0.01rem solid $c9;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  .switch-checked{
    background-color: $blue;
    .circle-l{
      margin-left: 0.2rem;
      height: 0.3rem;
      width: 0.2rem;
      border:0.01rem solid $c9;
      border-radius: 0.2rem;
      vertical-align: middle;
    }
    .circle-r{
      margin-right:0;
      height: 0.59rem;
      width: 0.58rem;
      border:0.03rem solid $blue;
      border-radius: 50%;
      vertical-align: top;
    }
  }
}


//抽奖
.luck-wrap{
  padding:0 0.3rem;
  width: 100%;
  //height: 5.9rem;
  .shanDeng{
    width:100%;
    padding: 0.28rem;
    border-radius:0.2rem;
  }
  .shanDeng{
    background: url(../image/luck/shandeng1.png) no-repeat 0.02rem 0 #fe3020;
    background-size: 100% 100%;
  }
  .shanDeng2{
    background: url(../image/luck/shandeng2.png) no-repeat 0.01rem 0 #fe3020;
    background-size: 100% 100%;
  }
  #luck{
    width:100%;
    height:100%;
    background:#c8190b;
    border-radius:0.16rem;
    padding: 0.05rem;
    overflow: hidden;
  }
  .shanDeng{
    .row{
      @extend .flexStyle;
      &:last-child{
        div{
          margin-bottom: 0;
        }
      }
      div{
        flex:1;
        height: 1.7rem;
        padding: 0.15rem 0.01rem 0.2rem;
        text-align: center;
        background: url(../image/luck/proBj.png) no-repeat 0 0;
        background-size: 100% 100%;
        margin-right: 0.08rem;
        margin-bottom: 0.08rem;
        position: relative;
        span.bg{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 1.7rem;
          border-radius: 0.2rem;
          @include opacity_bg($opa:0.5,$col:#000);
          display: none;
        }
        &:last-child{
          margin-right: 0.03rem;
        }
        &.active{
          background: url(../image/luck/active.png) no-repeat 0 0;
          background-size: 100% 100%;
          span.bg{
            display: block;
          }
        }

        &.cjBtn{
          background: url(../image/luck/btn_raffle_normal.png) no-repeat 0 0;
          background-size: 100% 100%;
          p{
            margin-top:1rem;
          }
        }
        &.cjBtnDom{
          background: url(../image/luck/btn_raffle_press.png)  no-repeat 0 0;
          background-size: 100% 100%;
        }
        &.disabledBtn{
          background: url(../image/luck/btn_raffle_unuse.png) no-repeat 0 0;
          background-size: 100% 100%;
        }
        img{
          max-height: 0.86rem;
          max-width:1.7rem;
          overflow: hidden;
        }
        p{
          width:100%;
          margin: 0.1rem 0;
          line-height: 0.3rem;
          @include fontFormat($fz:0.26rem,$fc:#783e00,$ta:center);
        }
      }
    }

  }

}
.luckDraw{
  background-color: #3b1c53;
  .btn{
    display: inline-block;
    border:0.02rem solid #cc8fee;
    @include fontFormat($fz:0.28rem,$fc:$white,$ta:center);
    background-color: #8233b3;
    line-height: 0.36rem;
  }
  .banner{
    height: 4.65rem;
    position: relative;
    background: #711bb4;

    .sec-top{
      @extend .flexStyle;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      left:0;
      top:0;
      padding: 0.3rem 0.32rem 0;
      z-index: 2;
      .integral-num{
        @include fontFormat($fz:0.28rem,$fc:$white);
        span.icon-star-yellow{
          height: 0.44rem;
          width: 0.44rem;
          vertical-align: middle;
          margin-right: 0.1rem;
          background: url(/global/image/luck/icon_gold.png) no-repeat 0 0/cover;
        }
      }
      a.drawRecord{
        @extend .btn;
        padding: 0.03rem 0.2rem;
        border-radius: 0.28rem;
      }
    }
    .bg{
      position: absolute;
      left:0;
      top:0;
      z-index: 1;
      width: 100%;
      height: 4.3rem;
      background: url(/global/image/luck/icon_lottery_bg.png) no-repeat #711bb4 0 0/cover;
    }
    .tip-time{
      position: absolute;
      bottom: 0.34rem;
      left: 50%;
      z-index: 2;
      margin-left: -1.95rem;
      padding: 0 0.3rem;
      @extend .btn;
      border-radius: 0.36rem;
      width: 4rem;
      line-height: 0.56rem;
      span{
        width:0.56rem;
        height:0.56rem;
        background: url(/global/image/luck/icon_giftbox.png) no-repeat 0 0/cover;
        margin-right: 0.1rem;
      }
      i{
        font-style: italic;
        padding: 0 0.1rem;
        @include fontFormat($fz:0.36rem,$fc:#ffd146);
      }
    }
  }
  .draw-rule{
    text-align: center;
    margin: 0.3rem 0 0.6rem;
    a{
      padding: 0.1rem 0.5rem;
      border-radius:0.28rem;
      @extend .btn;
      i.arrow-right-white{
        margin-top: 0.07rem;
        margin-left: 0.07rem;
      }

    }

  }
  .drawed-user{
    background: url(/global/image/luck/userBg.png) no-repeat 0 0/cover;
    padding: 0.28rem;
    .title{
      @include fontFormat($fz:0.36rem,$fc:#5e109a,$ta:center);
      position: relative;
      line-height: 0.5rem;
      margin-bottom: 0.2rem;
      &:before{
        content:'';
        border-bottom: 0.02rem solid #5e109a;
        width: 1.6rem;
        height: 0.01rem;
        position: absolute;
        top:0.3rem;
        left:0.6rem;
      }
      &:after{
        content:'';
        border-bottom: 0.02rem solid #5e109a;
        width: 1.6rem;
        height: 0.01rem;
        position: absolute;
        top:0.3rem;
        right:0.6rem;
      }
    }
    .cont{
      background-color: $white;
      padding:0.22rem 0.35rem;
      border-radius: 0.2rem;
      height: 2.54rem;
      overflow: hidden;
      .swiper-container{
        height:100%;
        overflow: hidden;
        li{
          @extend .flexStyle;
          justify-content: space-between;
          line-height: 0.6rem;
          height: 0.5rem;
          overflow: hidden;
          span{
            @include fontFormat($fz:0.28rem,$fc:$c3);
          }
        }
      }
    }

  }
  .footer{
    margin-top: 0.2rem;
    height:1rem;
    width: 100%;
    background: url(/global/image/luck/icon_bottom_bg.png) no-repeat 0 0/cover;
  }
}
//抽奖记录
.red-bg{
  background-color: #f7655e;
  .load-more{
    color: $white;
  }
}
.luckDrawRecord{
  .sec-top{
    height: 1.8rem;
    background: url(/global/image/luck/icon_record_bg.png) no-repeat 0 0/cover;
    padding: 0.5rem;
    text-align: center;
    .title{
      width: 5rem;
      height: 0.36rem;
      line-height: 0.33rem;
      margin-top: 0.3rem;
      @include fontFormat($fz:0.36rem,$fc:$white,$ta:center);
      background: url(/global/image/luck/icon_record_title.png) no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
  .record-list{
    padding: 0.3rem  0.2rem;
    .row{
      @extend .flexStyle;
      align-items: center;
      padding: 0.1rem 0.2rem;
      border-radius: 0.1rem;
      background-color: $white;
      margin-bottom: 0.2rem;
      .col-r{
        flex:1;
        p{
         width: 100%;
        }
      }
    }
    .img-wrap{
      width: 1.6rem;
      height:1.6rem;
      background-color: #f5f5f5;
      padding:0.1rem;
      margin-right: 0.3rem;
      img{
        max-width:100%;
        vertical-align: middle;
      }
    }

    p.name{
      @include fontFormat($fz:0.32rem,$fc:$c3);
      line-height: 0.42rem;
      min-height: 0.6rem;
      max-height: 0.84rem;
      @extend .ellipsis2;
      margin-top: 0.05rem;
    }
    p.grey-font{
      @include fontFormat($fz:0.28rem,$fc:$c9);
      line-height: 0.36rem;
      a{
        @include fontFormat($fz:0.28rem,$fc:$c9);
        line-height: 0.38rem;
        padding: 0 0.05rem;
      }
    }
  }
}


//邀请好友
.invitation{
  background-color: #e2220d;
  .banner{
    height: 5.5rem;
    width:100%;
    background: url(../image/invitation/invite_top_bg.jpg) no-repeat 0 0;
    background-size: 100% 100%;
    .txt-bg{
      height: 3.39rem;
      width:100%;
      background: url(../image/invitation/icon_content_font.png) no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
  .sec{
    padding: 0 0.3rem 0.35rem;
    .btn-wrap{
      text-align: center;
      padding-top: 0.3rem;
    }
  }
  .sec-get{
    height: 5.1rem;
    background: url(../image/invitation/invite_bg_1.png) no-repeat 0 0;
    background-size: 100% 100%;
    .cont{
      padding: 0.6rem 0.4rem;
     // background-color: #fff2e7;
      text-align: center;
    }
    span.h2{
      @include fontFormat($fz:0.4rem,$fc:$c3,$ta:center);
      height: 0.64rem;
      width: 4.5rem;
      line-height: 0.64rem;
      margin-bottom: 0.5rem;
      background: url(../image/invitation/invite_title_1.png) no-repeat 0 0;
      background-size: 100% 100%;
    }
    p{
      @include fontFormat($fz:0.32rem,$fc:$c3,$ta:center);
      line-height: 0.6rem;
      margin-bottom: 0.4rem;
      .red-font{
        @include fontFormat($fz:0.32rem,$fc:$red,$ta:center);
        i{
          @include fontFormat($fz:0.36rem,$fc:$red);
        }
      }
    }
    a.btn-yellow{
      @include fontFormat($fz:0.32rem,$fc:#ed4800,$ta:center);
      width: 5.04rem;
      height: 0.8rem;
      line-height: 0.8rem;
      background-color: #ffc706;
      border-radius: 0.4rem;
    }
  }
  .sec-my{
    position: relative;
    border: 0.04rem solid #bd1414;
    border-radius: 0.1rem;
    background-color: #fff2e7;
    padding:0.35rem 0.4rem 0.5rem;
    margin-top: 1.3rem;
    h2{
      @include fontFormat($fz:0.4rem,$fc:$white,$ta:center);
      height: 0.64rem;
      line-height: 0.64rem;
      width: 3.62rem;
      position: absolute;
      top:-0.64rem;
      left:50%;
      margin-left: -1.81rem;
      background: url(../image/invitation/invite_title_2.png) no-repeat 0 0;
      background-size: 100% 100%;
    }
    .row{
      @extend .flexStyle;
      justify-content: space-around;
      margin-bottom: 0.4rem;
      .col{
        padding: 0.2rem  0.3rem;
        width: 2.6rem;
        background-color: #f9e4d2;
        border-radius: 0.1rem;
      }
      p{
        @include fontFormat($fz:0.32rem,$fc:$c3,$ta:center);
        line-height: 0.5rem;
      }
      p.red-font{
        @include fontFormat($fz:0.36rem,$fc:#f93824,$ta:center);
        line-height: 0.6rem;
      }

    }

    .img-wrap{
      text-align: center;
        img{
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 0.2rem;
          &:last-child{
            margin-right: 0;
          }
        }
    }
    p{
      @include fontFormat($fz:0.32rem,$fc:$c6,$ta:center);
      line-height: 0.6rem;
    }
    a.a-btn-bg-red{
      @include fontFormat($fz:0.32rem,$fc:$white,$ta:center);
      width: 5.04rem;
      height: 0.8rem;
      line-height: 0.8rem;
      background-color: #f93824;
      border-radius: 0.4rem;
    }
  }
}
