@import 'common';


.home{
  .banner{
    height: 2.9rem;
    background-color: red;
    padding: 0 0.32rem;
    overflow: hidden;
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
    .col-l{
      display: flex;
      display:-webkit-flex;
      align-items: center;
      img{
        vertical-align: middle;
        height: 1.2rem;
        width: 1.2rem;
        border:0.04rem solid #ffa599;
        margin-right: 0.2rem;
      }
    }
    ul{
      li{
        @include fontFormat($fz:0.36rem,$fc:$white);
        padding-bottom: 0.2rem;
        position: relative;
        .bg-white{
          /*@include opacity_bg($col:$white);*/
          display: inline-block;
          border-radius: 0.2rem;
          height: 0.42rem;
          background-color: rgba($white,0.5);
          padding-right: 0.15rem;
          line-height: 0.42rem;
        }
        .icon-star-yellow{
          background-color: yellow;
          border-radius: 50%;
          height: 0.36rem;
          width: 0.36rem;
          margin-top: 0.03rem;
          margin-left: 0.01rem;
        }
        .integral-num{
          margin-left: 0.1rem;
          @include fontFormat($fz:0.26rem,$fc:$white);
          i{
            @include fontFormat($fz:0.28rem,$fc:$white);
            margin-right: 0.05rem;
          }
        }
        p.txt{
          padding-top: 0.15rem;
          @include fontFormat($fz:0.28rem,$fc:$white);
        }
      }
    }
    .col-r{
      width:1.6rem;
      .a-btn{
        margin-top: 0.25rem;
        width: 100%;
        height: 0.52rem;
        line-height: 0.48rem;
      }
    }
  }

}
//特权详情
.card-wrap{
  .card{
    //height: 2.5rem;
    width: 6rem;
    height: 3.1rem;
    padding: 0.4rem 0.3rem 0.25rem;
    text-align: center;
    background-color: $yellow;
    span.icon{
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
    }
    p.name{
      @include fontFormat($fz:0.32rem,$ta:center,$fc:$white);
      line-height: 0.6rem;
      margin-bottom: 0.2rem;
    }
    .txt{
      display: inline-block;
      background-color: #d5a054;
      @include fontFormat($fz:0.26rem,$ta:center,$fc:#ffe9c3);
      padding: 0.08rem 0.2rem;
      border-radius: 0.3rem;
      line-height: 0.34rem;
    }
  }
}
.privilege{
  .banner{
    height: 3.2rem;
    margin-bottom: 0.7rem;
  }
  .sec-li-center{
    background-color: $white;
    .title{
      @include fontFormat($fz:0.32rem,$ta:center,$fc:$c3);
      line-height: 0.6rem;
      padding: 0.2rem 0;
      border-bottom: 0.01rem solid #fafafc;
      i{
        height: 0.3rem;
        width: 0.3rem;
        background-color: red;
        vertical-align: middle;
      }
      span{
        margin: 0 0.2rem;
      }
    }
    .row-cont{
      padding: 0 0.5rem;
      .row{
        @extend .border-bottom;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding: 0.3rem 0 0.3rem 0.7rem;
        &:last-child{
          border:0;
        }
      }
      .col{
        img {
          height: 0.88rem;
          width: 0.88rem;
          border-radius:50%;
          background-color: $yellow;
          margin-right: 0.4rem;
          overflow: hidden;
        }
        p.name{
          line-height: 0.5rem;
          @include fontFormat($fz:0.32rem,$fc:$c3);
          height: 0.6rem;
          width:100%;
          @extend .ellipsis;
        }
        p.grey-font{
          line-height: 0.46rem;
          height: 0.46rem;
          @include fontFormat($fz:0.28rem,$fc:$c9);
          width: 100%;
          @extend .ellipsis;
        }
      }
    }
  }
}
.privilegeDetail{
  .banner{
    height: 3rem;
    width: 100%;
    padding:0.4rem 0.32rem 0;
    background-color: black;
    .txt{
      padding: 0.15rem 0.2rem;
      height: 1.9rem;
      background-color: $white;
      border-radius:0.2rem;
      h2{
        @include fontFormat($fz:0.4rem,$fc:$fc);
        margin-bottom: 0.15rem;
        margin-top: 0.2rem;
        font-weight: normal;
      }
      p{
        @include fontFormat($fz:0.28rem,$fc:$c9);
      }
    }
  }
  .cont-wrap{
    margin-bottom:1.58rem;
  }
}
.upGrade{
  padding-bottom: 1.6rem;
  .sec{
    background-color: $white;
    padding:0.3rem 0.32rem;
    @extend  .border-bottom;
    margin-bottom: 0.3rem;
    .title{
      @include fontFormat($fz:0.32rem,$fc:$c3);
      line-height: 0.6rem;
      margin-bottom: 0.14rem;
    }
    .cont{
      p{
        @include fontFormat($fz:0.3rem,$fc:$c6);
        line-height: 0.46rem;
        margin-bottom: 0.1rem;
      }
      .p-cont{
        margin-bottom: 0.2rem;
        padding-left: 0.2rem;
      }
    }
  }
}
//柱状图
.histogram-wrap{
  .tag{
    @include fontFormat($fz:0.28rem,$fc:$c9);
    line-height:0.36rem;
  }
  .histogram-cont{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    height: 4.4rem;
    .column{
      flex: auto;
      text-align: center;
      align-self: flex-end;
      .num{
        padding-bottom: 0.18rem;
        @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
        line-height: 0.32rem;
        height: 0.5rem;
        i{
          vertical-align: middle;
        }
      }
      p.name{
        padding-top: 0.16rem;
        height: 0.5rem;
        line-height: 0.34rem;
        @include fontFormat($fz:0.28rem,$fc:$c3,$ta:center);
      }
      .column-ocuppy{
        height: 1rem;
        background-color: $yellow;
        width: 0.23rem;
        border-radius: 0.2rem;
      }
    }
  }


}
//
.detail{
  .cont-wrap{
    padding:0.6rem 0 0 0.32rem;
    background-color: $white;
    border-bottom:0.01rem solid $dd;

    .row{
      margin-bottom: 0.2rem;
      padding-right: 0.32rem;
      border-bottom: 0.01rem solid $dd;
      &:last-child{
        border:0;
      }
      h3{
        @include fontFormat($fz:0.32rem,$fc:$c3);
        line-height: 0.5rem;
        margin-bottom: 0.1rem;
        font-weight:normal;
        span.icon{
          height: 0.32rem;
          width: 0.32rem;
          background-color: $yellow;
          margin-right: 0.3rem;
          vertical-align: middle;
        }
      }
      h4 {
        @include fontFormat($fz: 0.28rem, $fc: $c3);
        line-height: 0.6rem;
        font-weight: normal;
      }
      .txt-cont{
        padding-left: 0.62rem;
        padding-bottom: 0.18rem;
        p{
          line-height: 0.52rem;
          @include fontFormat($fz:0.27rem,$fc:$c6);
        }
      }
    }
  }
}
.sec-li4{
  margin-bottom: 0.4rem;
  background-color: #fff;
  padding: 0.36rem 0 0.1rem;
  ul{
    overflow: hidden;
    li{
      float: left;
      width: 25%;
      a{
        width: 100%;
        text-align: center;
      }
      span.icon{
        height: 0.8rem;
        width: 0.8rem;
      }
      p{
        padding: 0.2rem 0;
        @include fontFormat($fz:0.26rem,$fc:$c6,$ta:center);
      }
    }
  }
}

.border-top-radius{
  position: relative;
  z-index: 2;
  margin-top: -0.18rem;
  border-top-left-radius: 0.22rem;
  border-top-right-radius: 0.22rem;
  ul{
    li{
      span.icon{
        height: 0.46rem;
        width: 0.46rem;
      }
    }
  }

}
//列表排序
.sec-list{
  margin-bottom: 0.4rem;
  background-color: $white;
  padding: 0 0 0 0.32rem;
  .title{
    padding-right: 0.32rem;
    @include fontFormat($fz:0.32rem,$fc:$c3);
    line-height: 1rem;
    border-bottom: 0.01rem solid $dd;
    a{
      @include fontFormat($fz:0.3rem,$fc:$c6);
      float: right;
      i{
        width: 0.26rem;
        height: 0.26rem;
        vertical-align: middle;
      }
    }
  }
  ul{
    li{
      border-bottom: 0.01rem solid $dd;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      padding: 0.4rem 0.32rem 0.4rem 0;
      &:last-child{
        border: 0;
      }
      .col-l{
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        span{
          min-width: 0.8rem;
          height: 0.8rem;
          width: 0.8rem;
          background-color: red;
          margin-right: 0.25rem;
        }
        p{
          @include fontFormat($fz:0.28rem,$fc:$c3);
          max-height: 0.9rem;
          overflow: hidden;
          &:last-child{
            padding-top: 0.1rem;
            @include fontFormat($fz:0.27rem,$fc:$c9);
          }
        }
        p.font-red{
          color: $red;
        }
      }
      .col-r{
        padding-left: 0.1rem;
        min-width: 1.7rem;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .progress{
    .progress-bar{
      background-color: #eee;
      width: 1.6rem;
      height: 0.2rem;
      border-radius: 0.24rem;
      .progress-ocuppy{
        border-radius: 0.24rem;
        width: 1rem;
        height: 0.2rem;
        background-color: $red;
      }
    }
    .tips{
      height: 0.5rem;
      line-height: 0.5rem;
      border-radius: 0.1rem;
      border: 0.01rem solid $red;
      margin-bottom: 0.2rem;
      @include fontFormat($fz:0.26rem,$fc:$red,$ta:center);
    }
  }
  .icon-status{
    height: 1rem;
    width: 1rem;
    background-color: red;
  }
  .a-btn{
    height: 0.6rem;
    line-height: 0.56rem;
    padding: 0 0.4rem;
    vertical-align: middle;
  }
  .box-wrapper{
    padding: 0.32rem 0.32rem 0 0;
    .box{
      height: 2rem;
      width: 100%;
      border-radius: 0.2rem;
      background-color: #00a4ee;
      margin-bottom: 0.55rem;
      padding: 0.32rem 1.1rem;
      .cont-border{
        height: 100%;
        border: 0.03rem solid $white;
        border-radius:0.2rem;
        text-align: center;
        h3{
          font-weight: normal;
          @include fontFormat($fz:0.4rem,$fc:$white,$ta:center);
          margin-bottom: 0.1rem;
        }
        .txt{
          min-width: 2.82rem;
          line-height: 0.32rem;
          border-radius: 0.24rem;
          background-color: $white;
          padding: 0.02rem 0.1rem;
          @include fontFormat($fz:0.24rem,$fc:$red,$ta:center);
        }
      }
    }
  }
}

.ulist{
  padding-left: 0.32rem;
  background-color: $white;
  .title{
    @include fontFormat($fz:0.3rem,$fc:$c3);
    line-height: 1rem;
  }
  ul{
    li{
      border-top: 0.01rem solid $dd;
      display: flex;
      display: -webkit-flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.2rem  0;
      p.txt{
        @include fontFormat($fz:0.32rem,$fc:$c3);
        line-height: 0.52rem;
        margin-bottom: 0.08rem;
      }
      p.date-time{
        @include fontFormat($fz:0.28rem,$fc:$c9);
        line-height: 0.32rem;
      }
      .col{
        height: 100%;
        img{
          width: 0.73rem;
          height: 0.73rem;
          border-radiu:50%;
          background-color: red;
          overflow: hidden;
          margin-right: 0.35rem;
          vertical-align: middle;
        }
      }
      .center{
        flex:1;
      }
      .col-r{
        padding-right: 0.3rem;
        span{
          @include fontFormat($fz:0.36rem,$fc:$c3);
          vertical-align: middle;
        }
      }
    }
  }
}


//任务中心
.task{
  .banner{
    height: 2.8rem;
    background-color: #00a4ee;
    text-align: center;
    padding-top:0.66rem ;
    h1{
      @include fontFormat($fz:0.6rem,$fc:$white,$ta:center);
      margin-bottom: 0.1rem;
      font-weight: normal;
    }
    .border-white{
      min-width: 4.6rem;
      padding:0 0.1rem;
      border-radius: 0.36rem;
      border: 0.03rem solid $white;
      line-height:0.52rem ;
      @include fontFormat($fz:0.32rem,$fc:$white,$ta:center);
      .icon-star-white-border{
        height: 0.32rem;
        width: 0.32rem;
        background-color: $white;
        vertical-align: middle;
        margin: 0 0.15rem;
      }
    }
  }
  .sign-day7-tips{
    position: relative;
    .sign-bg-yellow{
      padding: 0.1rem 0.32rem;
      background-color: #fbf9e2;
      position: absolute;
      top:2.7rem;
      left:0;
      line-height: 0.4rem;
      @include fontFormat($fz:0.24rem,$fc:$yellow);
    }
  }
}



//积分商城
.red-notice-tips{
  height: 0.9rem;
  padding: 0.15rem 0.32rem;
  background-color: $white;
  ul{
    li{
      .icon-horn{
        height: 0.3rem;
        width: 0.4rem;
        background-color: red;
        margin-right: 0.2rem;
        vertical-align: middle;
      }
      .icon-red-font{
        height: 0.3rem;
        width: 1.35rem;
        background-color: $white;
        border-right:0.01rem solid $dd;
        margin-right: 0.2rem;
        vertical-align: middle;
      }
      @include fontFormat($fz:0.28rem,$fc:$c6);
      line-height: 0.7rem;
      .red-font{
        color: $red;
      }
    }
  }
}
.integral-ticket{
  img{
    width: 3.12rem;
    height: 1.44rem;
    overflow: hidden;
  }
}
.addCutWrap{
  display: flex;
  span{
    @include fontFormat($fz:0.28rem,$fc:$c6,$ta:center);
    background-color: $dd;
    line-height: 0.4rem;
    width: 0.4rem;
    height: 0.4rem;
  }
  input{
    margin: 0 0.05rem;
    background-color: $dd;
    width: 1rem;
    line-height: 0.4rem;
    @include fontFormat($fz:0.32rem,$fc:$c3);
    vertical-align: top;
  }
}
.risk-tip{
  padding: 0 0 0.2rem;
  h3{
    @include fontFormat($fz:0.28rem,$fc:$c6,$ta:center);
    font-weight: normal;
    line-height:0.6rem;
  }
  p{
    @include fontFormat($fz:0.24rem,$fc:$c9,$ta:center);
    line-height:0.42rem;
  }
}
.mall{
  .banner{
    height: 2.8rem;
    background-color: orange;
  }
  .sec-top{
    margin-bottom: 0.2rem;
    background-color: $white;

    .row-b{
      display: flex;
      display: -webkit-flex;
      border-top: 0.01rem solid $dd;
      padding: 0.2rem 0.32rem;
      .col{
        width: 50%;
        padding-left: 0.45rem;
        border-right: 0.01rem solid $dd;
        &:last-child{
          border:0;
        }
        .icon{
          height: 0.78rem;
          width: 0.78rem;
          background-color: yellow;
          margin-right: 0.05rem;
        }
        .txt{
          @include fontFormat($fz:0.32rem,$fc:$c3);
          line-height: 0.78rem;
        }
      }
    }
  }
  .sec-list{
      padding: 0;
    .title{
      padding: 0 0.32rem;
    }
    .sec-cont{
      padding: 0 0.32rem;
      border-bottom: 0.01rem solid $dd;
    }
    .sec-row{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      border-bottom: 0.01rem solid $dd;
      &:last-child{
        border-bottom: 0;
      }
      .col{
        width: 50%;
        border-right:0.01rem solid $dd;
        padding-right: 0.3rem;
        padding-bottom: 0.4rem;
        &:last-child{
          border:0;
          padding-right: 0;
          padding-left: 0.3rem;
        }
        .ticket{
          margin: 0.6rem 0;
          padding:0.28rem 0.45rem 0.2rem;
          p {
            @include fontFormat($fz: 0.28rem, $fc: $white, $ta: right);
          }
          p.num{
            line-height: 0.52rem;
            span{
              font-style: italic;
              line-height: 0.46rem;
              @include fontFormat($fz:0.5rem,$fc:$white,$ta:right);
              margin-right: 0.1rem;
            }
          }
        }
        .bg-red{
          background-color: red;
        }
        .bg-blue{
          background-color: blue;
        }
      }
    }

    .price-wrap{
      width: 100%;
      p.price-name{
        @include fontFormat($fz:0.30rem,$fc:$c3);
        height: 0.4rem;
        line-height: 0.4rem;
        width: 100%;
        margin-bottom: 0.15rem;
        @extend .ellipsis;
      }
      p.price-num{
        height: 0.4rem;
        overflow: hidden;
        text-align: left;
        .icon-money-red{
          width: 0.32rem;
          height: 0.32rem;
          background-color: red;
          margin-right: 0.1rem;
        }
        .font-red{
          @include fontFormat($fz:0.28rem,$fc:$red);
          line-height: 0.36rem;
          margin-right: 0.1rem;
        }
        .font-grey{
          @include fontFormat($fz:0.24rem,$fc:$c9);
          line-height: 0.38rem;
          text-decoration: line-through;
        }
      }
    }
    .sec-cont{
      ul{
        overflow: hidden;
        li{
          width: 50%;
          float: left;
          border-right: 0.01rem solid $dd;
          display: block;
          padding-right: 0.08rem;
          text-align: center;
          &:nth-child(even){
            padding-left: 0.28rem;
            border-right: 0;
          }
          &:nth-last-child(1){
            border-bottom: 0;
          }
          &:nth-last-child(2){
            border-bottom: 0;
          }
          img{
            width:1.6rem;
            height: 2.1rem;
            box-shadow: 0.02rem 0.02rem 0.02rem $cc;
            overflow: hidden;
            margin-bottom:0.4rem;
          }
        }
      }
    }
  }
}
//我的积分
.myIntegral{
  .banner{
    background-color: $yellow;
    height: 3rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    .icon-oclock{
      width: 2.8rem;
      height: 2.03rem;
      padding-top: 0.7rem;
      background-color: $white;
      p.txt{
        @include fontFormat($fz:0.28rem,$fc:#ec6300,$ta:center);
        line-height: 0.36rem;
      }
      p.num{
        @include fontFormat($fz:0.6rem,$fc:#ec6300,$ta:center);
      }
    }
  }
}
//商品详情
.productDetail{
  .sec-top{
    padding-top: 0.32rem;
    margin-bottom: 0.3rem;
    background-color: $white;
    padding-left: 0.32rem;
    .row{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 0.32rem 0.3rem 0;
      .col{
        width: 50%;
        overflow: hidden;
        .addCutWrap{
         float: right;
        }
        line-height: 0.4rem;
      }
      label{
        @include fontFormat($fz:0.28rem,$fc:$c3);
      }
      span.red-font{
        @include fontFormat($fz:0.32rem,$fc:$red);
        line-height: 0.42rem;
      }
      span.num{
        @include fontFormat($fz:0.26rem,$fc:$c6);
        line-height: 0.4rem;
      }
      span.grey-font{
        margin-left: 0.1rem;
        @include fontFormat($fz:0.27rem,$fc:$c6);
        text-decoration: line-through;
        line-height: 0.44rem;
      }
      span.icon-circle-star{
        height: 0.38rem;
        width: 0.38rem;
        background-color: $yellow;
      }
    }
    .sec01{
      border-radius: 0.18rem;
      background-color: #f2f2f2;
      padding: 0.6rem 0.2rem;
      overflow: hidden;
      width: 100%;
      .col{
        width: 50%;
        float: left;
      }
      p{
        @include fontFormat($fz:0.4rem,$fc:$c3);
        margin-bottom: 0.18rem;
      }
      .a-btn-bg-blue{
        @include fontFormat($fz:0.28rem,$fc:$white,$ta:center);
        background-color: $blue;
        padding: 0.1rem 0.2rem;
        line-height: 0.32rem;
        border-radius: 0.26rem;
      }
    }
  }
  .sec-m{
    margin-bottom: 0.3rem;
  }
  .risk-tip{
    margin-top: 0.3rem;
    margin-bottom: 1.3rem;
  }
  .btn-warp{
    a{
      span.icon-star{
        height: 0.38rem;
        width: 0.38rem;
        background-color: red;
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }

  }
}
//订单
.order-one{
  .title{
    @include fontFormat($fz:0.3rem,$fc:$c3);
    line-height: 0.8rem;
    padding: 0 0.32rem;
    background-color: $white;
  }
  .cont{
    overflow: hidden;
    padding:0.1rem 0.32rem;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    background-color: #f5f5f5;
    .img-wrap{
      width: 1.6rem;
      min-width:1.6rem;
      height: 1.6rem;
      border: 0.01rem solid $dd;
      background-color: $white;
      float: left;
      img{
        vertical-align: middle;
        max-width: 100%;
        width: 100%;
      }
    }
    .txt{
      background-color: #f5f5f5;
      margin-left: 0.4rem;
      span.name{
        @extend .ellipsis2;
        @include fontFormat($fz:0.28rem,$fc:$c6);
        margin-bottom: 0.1rem;
        min-height: 0.5rem;
      }
      span{
        overflow: hidden;
        line-height: 0.36rem;
        vertical-align: middle;
        width: 100%;
      }
      .red-font{
        @include fontFormat($fz:0.29rem,$fc:$red);
      }
      .no{
        float:right;
        @include fontFormat($fz:0.29rem,$fc:$c6);
      }
    }
  }
  .row-list{
    padding-left: 0.32rem;
    background-color: $white;
  }
  .row{
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
    border-bottom:0.01rem solid $dd;
    line-height: 1rem;
    padding-right: 0.32rem;
    &:last-child{
      border:0;
    }
    label{
      @include fontFormat($fz:0.32rem,$fc:$c3);
    }
    span{
      @include fontFormat($fz:0.32rem,$fc:$red);
    }
    span.black-font{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      font-weight: bold;
    }
  }
}

//确认兑换
.address-wrap{
 position: relative;
  border-bottom: 0.05rem solid red;
  border-top: 0.05rem solid red;
  padding: 0.3rem 0.32rem;
  overflow: hidden;
  min-height: 2.1rem;
  background-color: $white;
  .address-border{
    position: absolute;
    left: 0;
    height: 0.05rem;
    background-color: green;
    width: 100%;
  }
  .border-top{
    top:-0.05rem;
  }
  .border-bottom{
    bottom:-0.05rem;
  };
  .address-exist{
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .a-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 2;
  }
  .icon-address{
    height: 0.4rem;
    width: 0.3rem;
    background-color: red;
  }
  .icon-arrow-right{
    position: absolute;
    top:1rem;
    right: 0.32rem;
    height: 0.3rem;
    width: 0.18rem;
    background-color: grey;
  }
  .adress-txt{
    margin-left: 0.3rem;
    p.name{
      @include fontFormat($fz:0.30rem,$fc:$c3);
      line-height: 0.5rem;
      margin-bottom: 0.12rem;
      padding: 0;
      span{
        @include fontFormat($fz:0.3rem,$fc:$c3);
      }
    }
    p{
      padding-right: 0.4rem;
      @include fontFormat($fz:0.3rem,$fc:$c6);
      line-height: 0.48rem;
    }
  }
  .address-null{
    height: 100%;
    width: 100%;
    line-height: 2.1rem;
    .icon-add-btn{
      width: 0.44rem;
      height: 0.44rem;
      border-radius:50%;
      border:0.02rem solid $red;
      vertical-align: middle;
      @include fontFormat($fz:0.36rem,$fc:$red,$ta:center);
      line-height: 0.4rem;
      margin-right: 0.15rem;
    }
    a{
      height: 100%;
      width: 100%;
      @include fontFormat($fz:0.3rem,$fc:$red,$ta:center);
      vertical-align: middle;
    }
  }

}
.sureExcharge{
  .address-wrap{
    margin-bottom: 0.3rem;
  }
  .btn-warp{
    margin-top: 3rem;
  }
  .order-one{
    margin-bottom: 0.3rem;
  }
  .el-form{
    margin-bottom: 0.3rem;
  }
  .detail {
    .cont-wrap{
      padding-top: 0.3rem;
      border: 0;
      .row{
        h3{
          span.icon{
            margin-right: 0.2rem;
          }
        }
        .txt-cont{
          padding-left: 0.02rem;
        }
      }
    }
  }
}
//兑换成功
.exchargeSuc{
  .banner{
    background-color: $white;
    height: 3.86rem;
    text-align: center;
    padding-top: 0.4rem;
    margin-bottom: 0.3rem;
    @extend .border-bottom;
    .icon-suc{
      width: 2.6rem;
      height: 2.6rem;
      background-color: red;
      vertical-align: middle;
    }
    p{
      margin-top: 0.1rem;
      font-weight: bold;
      @include fontFormat($fz:0.36rem,$fc:$c3,$ta:center);
    }
  }
  .order-one{
    border-top: 0.01rem solid $dd;
    .row-list{
      padding-top:0.3rem;
      padding-bottom:0.3rem;
      .row{
        line-height: 0.6rem;
        border-bottom: 0;
      }
    }
  }
  .tips{
    @include fontFormat($fz:0.26rem,$fc:$c9);
    padding: 0.3rem 0.32rem;
    margin-bottom: 0.3rem;
    .icon-tips{
      width: 0.3rem;
      height: 0.3rem;
      background-color: red;
      vertical-align: middle;
      margin-right: 0.2rem;
    }
  }
}
//兑换记录
.exchargeRecord{
  padding-top: 0.3rem;
}

//收货地址
.addressList{
  .address-one{
    background-color: $white;
    padding: 0.26rem 0.32rem 0.15rem;
    border-bottom: 0.01rem solid $dd;
    overflow: hidden;
    p{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.5rem;
      @extend .ellipsis2;
      margin-bottom: 0.08rem;
      a{
        @include fontFormat($fz:0.3rem,$fc:$c3);
      }
      span.default-address{
        @include fontFormat($fz:0.3rem,$fc:$red);
        margin-right: 0.1rem;
      }
    }
  }
  .opt-wrap{
    background-color: $white;
    padding: 0.25rem 0.32rem;
    margin-bottom: 0.3rem;
    .set-default{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.4rem;
      i{
        margin-right: 0.1rem;
        height: 0.32rem;
        width: 0.32rem;
        border: 0.02rem solid $c3;
        border-radius:50%;
        margin-top: 0.03rem;
        @include fontFormat($fz:0.26rem,$fc:$white,$ta:center);
        line-height: 0.34rem;
        &:after{
          content:'\2714';
        }
      }
    }
    .choosed{
      i{
        border-color:$red;
        background-color: $red;
      }
    }
    a{
      @include fontFormat($fz:0.3rem,$fc:$c3);
      line-height: 0.4rem;
      &:last-child{
        margin-left: 0.3rem;
      }
      i{
        width:0.35rem;
        height: 0.4rem;
        background-color: $c6;
        margin-right: 0.05rem;
      }
    }
  }
}

//编辑地址
.addressEdit{
  .el-form{
    margin-bottom: 0.3rem;
    border-top: 0.01rem solid $dd;
    border-bottom: 0.01rem solid $dd;
  }
  .el-switch{
    float:right;
    height: 0.64rem;
    width: 1.1rem;
    border: 0.01rem solid $dd;
    border-radius: 0.32rem;
    background-color: $white;
    span{
      background-color: $white;
    }
    .circle-l{
      height: 0.62rem;
      width: 0.62rem;
      border:0.01rem solid $dd;
      border-radius: 50%;
    }
    .circle-r{
      margin-left: 0.1rem;
      height: 0.2rem;
      width: 0.2rem;
      border:0.01rem solid $c9;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  .switch-checked{
    background-color: $blue;
    .circle-l{
      margin-left: 0.2rem;
      height: 0.3rem;
      width: 0.1rem;
      border:0.01rem solid $c9;
      border-radius: 0.2rem;
      vertical-align: middle;
    }
    .circle-r{
      float: right;
      height: 0.59rem;
      width: 0.58rem;
      border:0.04rem solid $blue;
      border-radius: 50%;
      vertical-align: top;
    }
  }
}


//抽奖
.luck-wrap{

}
.luckDraw{
  background-color: #3b1c53;
  padding-bottom: 1.2rem;
  .btn{
    display: inline-block;
    border:0.03rem solid #cc8fee;
    @include fontFormat($fz:0.28rem,$fc:$white,$ta:center);
    background-color: #8233b3;
    line-height: 0.36rem;
  }
  .banner{
    height: 4.1rem;
    background-color: black;
    padding: 0.3rem 0.32rem;
    position: relative;
    .sec-top{
      @extend .flexStyle;
      justify-content: space-between;
      width: 100%;
      .integral-num{
        @include fontFormat($fz:0.28rem,$fc:$white);
        span.icon-star-yellow{
          height: 0.32rem;
          width: 0.32rem;
          background-color: red;
          vertical-align: middle;
          margin-right: 0.1rem;
        }
      }
      a.drawRecord{
        @extend .btn;
        padding: 0.03rem 0.2rem;
        border-radius: 0.28rem;
      }
    }
    .tip-time{
      position: absolute;
      bottom: 0.4rem;
      left: 50%;
      margin-left: -1.95rem;
      padding: 0.1rem 0.3rem;
      @extend .btn;
      border-radius: 0.36rem;
      width: 3.9rem;
      i{
        font-style: italic;
        padding: 0 0.1rem;
        @include fontFormat($fz:0.36rem,$fc:#ffd146);
      }
    }
  }
  .draw-rule{
    text-align: center;
    margin: 0.3rem 0 0.6rem;
    a{
      padding: 0.1rem 0.5rem;
      border-radius:0.28rem;
      @extend .btn;
      position: relative;
      &:after{
        position: absolute;
        right: 0.28rem;
        top:0.2rem;
        content: '';
        display: inline-block;
        width: 0.14rem;
        height: 0.14rem;
        border-top: 0.023rem solid $white;
        border-right: 0.023rem solid $white;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

  }
  .drawed-user{
    background-color: $white;
    padding: 0.28rem;
    .title{
      @include fontFormat($fz:0.36rem,$fc:#5e109a,$ta:center);
      position: relative;
      line-height: 0.6rem;
      margin-bottom: 0.2rem;
      &:before{
        content:'';
        border-bottom: 0.02rem solid #5e109a;
        width: 1.6rem;
        height: 0.01rem;
        position: absolute;
        top:0.3rem;
        left:0.6rem;
      }
      &:after{
        content:'';
        border-bottom: 0.02rem solid #5e109a;
        width: 1.6rem;
        height: 0.01rem;
        position: absolute;
        top:0.3rem;
        right:0.6rem;
      }
    }
    .cont{
      padding:0.28rem 0.35rem;
      li{
        @extend .flexStyle;
        justify-content: space-between;
        line-height: 0.5rem;
        span{
          @include fontFormat($fz:0.28rem,$fc:$c3);
        }
      }
    }

  }

}
//抽奖记录
.red-bg{
  background-color: #f7655e;
  .load-more{
    color: $white;
  }
}
.luckDrawRecord{
  .sec-top{
    height: 1.68rem;
    background-color: red;
    padding: 0.5rem;
    .title{
      @include fontFormat($fz:0.4rem,$fc:$white,$ta:center);
      line-height: 0.6rem;
      span.icon-eplises{
        width: 0.9rem;
        height: 0.1rem;
        background-color: grey;
        vertical-align: middle;
      }
      span.txt{
        padding:0 0.18rem;
      }
    }
  }
  .record-list{
    padding: 0.3rem  0.2rem;
    .row{
      @extend .flexStyle;
      align-items: center;
      padding: 0.1rem 0.2rem;
      border-radius: 0.1rem;
      background-color: $white;
      margin-bottom: 0.2rem;
      .col-r{
        flex:1;
        p{
         width: 100%;
        }
      }
    }
    .img-wrap{
      width: 1.6rem;
      height:1.6rem;
      background-color: #f5f5f5;
      padding:0.1rem;
      margin-right: 0.3rem;
      img{
        max-width:100%;
        vertical-align: middle;
      }
    }

    p.name{
      @include fontFormat($fz:0.32rem,$fc:$c3);
      line-height: 0.42rem;
      min-height: 0.6rem;
      max-height: 0.84rem;
      @extend .ellipsis2;
      margin-top: 0.05rem;
    }
    p.grey-font{
      @include fontFormat($fz:0.28rem,$fc:$c9);
      line-height: 0.36rem;
      a{
        @include fontFormat($fz:0.28rem,$fc:$c9);
        line-height: 0.38rem;
        padding: 0 0.05rem;
      }
    }
  }
}
