@charset "UTF-8";
body, ul, li, h1, h2, h3, h4, p, input,textarea,span,div,em, strong, dl, dt, dd {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  -webkit-appearance: none;
}

a, a:hover,a:visited {
  text-decoration: none;
  outline:none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  -webkit-touch-callout:none;
}

select,input{
  text-decoration: none;
  outline:none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  -webkit-touch-callout:none;
}

ul, li {
  list-style: none;
}

input {
  outline: none;
  vertical-align: middle;
}

input:-webkit-autofill {
  background-color: #fff;
  background-image: none;
}

input[type=date]:before{
  color:#A9A9A9;
  content:attr(placeholder);
}

input[type=date].full:before {
  color:#3d4145;
  content:""!important;
}

img {
  border: none;
  vertical-align: middle;
}

.cf:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.cf {
  *zoom: 1;
}

input:-webkit-autofill,textarea:-webkit-autofill, select:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}

input::-webkit-input-placeholder {color: #999 !important; /* WebKit browsers */  }
input::-moz-placeholder { color: #999 !important; /* Mozilla Firefox 4 to 18 */  }
input:-moz-placeholder {color: #999 !important;/* / Mozilla Firefox 19+ /*/  }
input:-ms-input-placeholder { color: #999 !important; /*/ Internet Explorer 10+ *!*/}


article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block;
}
