extends ../layout/layout

block append headTitle
  title 活动中心

block content
  section.activity
    .sec-list.sec-activity
      .title 活动中心
      .box-wrapper
        .box
          img(src='/global/image/home/icon_activity_1.png')
        .box
          img(src='/global/image/home/icon_activity_2.png')

  .script








