@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j0iul3');
  src:  url('fonts/icomoon.eot?j0iul3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j0iul3') format('truetype'),
    url('fonts/icomoon.woff?j0iul3') format('woff'),
    url('fonts/icomoon.svg?j0iul3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-package_icon:before {
  content: "\e900";
}
.icon-close_icon:before {
  content: "\e901";
}
.icon-send_icon:before {
  content: "\e902";
}
.icon-pay_icon:before {
  content: "\e903";
}
.icon-receive_icon:before {
  content: "\e904";
}
.icon-shopcar_icon:before {
  content: "\e905";
}
.icon-manage_icon:before {
  content: "\e906";
}
.icon-loading_icon:before {
  content: "\e907";
}
.icon-service_icon:before {
  content: "\e908";
}
.icon-delivery_icon:before {
  content: "\e909";
}
.icon-shelves_icon:before {
  content: "\e90a";
}
.icon-trashcan_icon:before {
  content: "\e90b";
}
.icon-link_icon:before {
  content: "\e90c";
}
.icon-lock_icon:before {
  content: "\e90d";
}
.icon-fire_icon:before {
  content: "\e90e";
}
.icon-商品分类:before {
  content: "\e90f";
}
.icon-address_icon:before {
  content: "\e910";
}
.icon-home_icon:before {
  content: "\e911";
}
.icon-search_icon:before {
  content: "\e912";
}
.icon-eye_icon:before {
  content: "\e913";
}
.icon-完成:before {
  content: "\e914";
}
.icon-list_icon:before {
  content: "\e915";
}
.icon-person_icon:before {
  content: "\e916";
}
.icon-customer_icon:before {
  content: "\e917";
}
.icon-trangle_down_icon:before {
  content: "\e918";
}
.icon-arrow_down_icon:before {
  content: "\e919";
}
.icon-arrow_right_icon:before {
  content: "\e91a";
}
.icon-arrow_left_icon:before {
  content: "\e91b";
}
.icon-new_icon:before {
  content: "\e91c";
}
.icon-已购买产品:before {
  content: "\e91d";
}
.icon-collect_icon:before {
  content: "\e91e";
}
.icon-recommond_icon:before {
  content: "\e91f";
}
.icon-意见反馈:before {
  content: "\e920";
}
.icon-account_icon:before {
  content: "\e921";
}
.icon-ok_icon:before {
  content: "\e922";
}

