extends ../layout/layout

block append headTitle
  title 管理收货地址

block content
  section.addressEdit

    .el-form.address-edit-wrap
      form
        .form-row
          label 收货人
          input(type="text" placeholder="请填写收货人姓名" data-validate="name").input-text-large
        .form-row
          label 联系电话
          input(type="text" placeholder="请填写联系电话" data-validate="telephone").input-text-large
        .form-row
          label 所在省
          select.select-large( placeholder="请选择所在省" data-validate="province").input-text-large
            option(value="" ) 请选择所在省
        .form-row
          label 所在市
          select.select-large( placeholder="请选择所在市" data-validate="city").input-text-large
            option(value="" ) 请选择所在市
        .form-row
          label 所在区/县
          select.select-large( placeholder="请选择所在区/县" data-validate="district").input-text-large
            option(value="" ) 请选择所在区/县
        .form-row
          label 详细地址
          textarea(type="text" placeholder="请填写详细地址，不少于5个字" data-validate="detailAddress").input-text-large.height2





    .el-form
      .form-row
        label 设为默认
        .el-switch.switch-checked
          input(type='checkbox')
          span.circle-l
          span.circle-r

    .btn-a-wrap
      //a.a-btn-bg-grey(href="javascript:void(0);") 保存
      a.a-btn-bg-red#saveBtn(href="javascript:void(0);") 保存


  script.
    $(function () {
      //选择为默认地址
      $(".el-switch").onClick('click',  function () {
        var sel = $(this);
        var inputCheckBox = sel.find('input[type=checkbox]');
        if (sel.hasClass('switch-checked')) {
          sel.removeClass('switch-checked');
          inputCheckBox.attr('checked', false);
        }
        else {
          sel.addClass('switch-checked');
          inputCheckBox.attr('checked', true);
        }
      });

      //表单验证
      var checkForm = function () {
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var zipCode = /^[1-9][0-9]{5}$/;
        var showDialog = function (sel, errTip) {
          sel.addClass("error-input");
          var dialogExist = $(".dialog-alert-pop").length;
          if (dialogExist == 0) {
            commonEvent.validataDialog(errTip);
            return false;
          }
        }
        var eleValidate = $("form").find("[data-validate]");
        eleValidate.on('focus', function () {
          var sel = $(this);
          sel.removeClass("error-input");
        });
        eleValidate.each(function () {
          var sel = $(this);
          var selDataVal = $.trim(sel.data('validate'));
          if (selDataVal === 'name') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal === 'telephone') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              if (!mobile.test(selVal)) {
                var errTip = "请填写正确的手机号";
                return showDialog(sel, errTip);
              }
              else {
                sel.removeClass("error-input");
              }
            }
          }
          else if (selDataVal === 'province') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal === 'city') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal === 'district') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal === 'detailAddress') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
        });
        if ($(".error-input").length > 0) {
          return false
        }
        else {
          return true;
        }
      }

      $("#saveBtn").onClick('click', function () {
        if (checkForm()) {
          alert('ok');
        }
        else {
          alert('fail');
        }
      });

    });





