extends ../layout/layout

block append headTitle
  title 管理收货地址

block content
  section.addressList
    .address-list#adressList
      .row(data-id='1')
        .address-one
          p 墨小刀
            a(href="tel:13958466616").fr 13958466616
          p
            span.default-address [默认地址]
            |浙江省 杭州市 江干区 四季青街道印象城18楼
        .opt-wrap
          span.set-default.choosed
            i
            | 默认地址
          .fr
            a(href="javascript:void(0);")
              i.icon-edit
              | 编辑
            a(href="javascript:void(0);")
              i.icon-delete
              | 删除
      .row(data-id='3')
        .address-one
          p 墨小刀
            a(href="tel:13958466616").fr 13958466616
          p
            span.default-address
            |浙江省 杭州市 江干区 四季青街道印象城18楼
        .opt-wrap
          span.set-default
            i
            | 默认地址
          .fr
            a(href="javascript:void(0);")
              i.icon-edit
              | 编辑
            a(href="javascript:void(0);")
              i.icon-delete
              | 删除
      .row(data-id='2')
        .address-one
          p 墨小刀
            a(href="tel:13958466616").fr 13958466616
          p
            span.default-address
            | 浙江省 杭州市 江干区 四季青街道印象城18楼
        .opt-wrap
          span.set-default
            i
            | 默认地址
          .fr
            a(href="javascript:void(0);")
              i.icon-edit
              | 编辑
            a(href="javascript:void(0);")
              i.icon-delete
              | 删除

  script.
    //默认地址选择
    $("#adressList").onClick('click','.set-default',function () {
      var redFont = '[默认地址]';
      var self = $(this).find('i');
      var selfRow = self.closest('.row');
      var selfRowId = selfRow.data('id');
      //alert(selfRowId)
      //回调
      var selfParent = $(this).parent();
      var allParent = selfParent.closest('#adressList');
      allParent.find('.set-default').removeClass('choosed');
      allParent.find('.default-address').html('');
      $(this).addClass('choosed');
      selfRow.closest('.row').find('.default-address').html(redFont);

    });
    //回调
    var callBackDeleteFn = function (self) {
      var selfRow = self.closest('.row');
      var selfRowId = selfRow.data('id');
      self.closest('.row').remove();
    }
    //删除
    $("#adressList").onClick('click', '.icon-delete', function () {
      var self = $(this);
      var tip = '你确定要删除此条地址吗？';
      commonEvent.confirmDialog(tip,function () {
        callBackDeleteFn(self);
      });

    });







