extends ../layout/layout

block append headTitle
  title 选择收货地址

block content
  section.addressList
    .address-list
      .address-one
        p 墨小刀
          a(href="tel:13958466616").fr 13958466616
        p
          span.default-address [默认地址]
          |浙江省 杭州市 江干区 四季青街道印象城18楼
      .address-one
        p 墨小刀
          a(href="tel:13958466616").fr 13958466616
        p 浙江省 杭州市 江干区 四季青街道印象城18楼
      .address-one
        p 墨小刀
          a(href="tel:13958466616").fr 13958466616
        p 浙江省 杭州市 江干区 四季青街道印象城18楼








