extends ../layout/layout

block append headTitle
  title 兑换记录

block content
  section.exchargeRecord
    .ulist
      ul
        li
          .col
            img(src="")
          .col.center
            p.txt 10元红包满减券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -2000
        li
          .col
            img(src="")
          .col.center
            p.txt 0.3%加息券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -3500
        li
          .col
            img(src="")
          .col.center
            p.txt 10元红包满减券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -800
