extends ../layout/layout

block append headTitle
  title 兑换记录

block content
  section.exchargeRecord
    .ulist
      ul
        li
          .col
            span.icon.icon-full-cut
          .col.center
            p.txt 10元红包满减券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -2000
        li
          .col
            span.icon.icon-rate
          .col.center
            p.txt 0.3%加息券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -3500
        li
          .col
            span.icon.icon-full-cut
          .col.center
            p.txt 10元红包满减券
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -800
        li
          .col
            span.icon.icon-obj
          .col.center
            p.txt 小米子自拍杆 -黑色
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -800
        li
          .col
            span.icon.icon-oil
          .col.center
            p.txt 100元加油卡
            p.date-time 2017-11-12  17:15
          .col.col-r
            span.integral-num -800
