extends ../layout/layout

block append headTitle
  title 积分商城

block content
  section.mall
    .banner
    .sec-top
      .red-notice-tips.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            span.icon-horn
            |章先生兑换了
            i.red-font 200
            |元满减券
          li.swiper-slide
            span.icon-horn
            | 章先生兑换了
            i.red-font 600
            | 元满减券
      .row-b
        .col
          span.icon.icon-money-yellow
          span.txt 135积分
        .col
          span.icon.icon-excharge-record
          span.txt 兑换记录

    .sec-list
      .title 优惠券专区
      .sec-cont
        .sec-row
          .col
            .ticket
              img(src="/global/image/mall/icon_img_1.png")
            .price-wrap
              p.price-name 10元红包兑换券
              p.price-num
                span.icon-money-red
                span.font-red 2000
                span.font-grey 2600积分
          .col
            .ticket
              img(src="/global/image/mall/icon_img_2.png")
            .price-wrap
              p.price-name 20元红包兑换券
              p.price-num
                span.icon-money-red
                span.font-red 4000
                span.font-grey 45000积分

        .sec-row
          .col
            .ticket
              img(src="/global/image/mall/icon_img_3.png")
            .price-wrap
              p.price-name 0.1%加息券
              p.price-num
                span.icon-money-red
                span.font-red 2000
                span.font-grey 2600积分
          .col
            .ticket
              img(src="/global/image/mall/icon_img_4.png")
            .price-wrap
              p.price-name 0.3%加息券
              p.price-num
                span.icon-money-red
                span.font-red 3000
                span.font-grey 3600积分


    .sec-list
      .title 实物专区
      .sec-cont
        ul
          li
            img(src="")
            .price-wrap
              p.price-name 小米自拍杆（线控板）
              p.price-num
                span.icon-money-red
                span.font-red 86000
                span.font-grey 120000积分
          li
            img(src="")
            .price-wrap
              p.price-name 小米运动蓝牙耳机
              p.price-num
                span.icon-money-red
                span.font-red 86000
                span.font-grey 120000积分
          li
            img(src="")
            .price-wrap
              p.price-name 《小岛经济学》
              p.price-num
                span.icon-money-red
                span.font-red 86000
                span.font-grey 120000积分
          li
            img(src="")
            .price-wrap
              p.price-name 《简单的逻辑学》
              p.price-num
                span.icon-money-red
                span.font-red 86000
                span.font-grey 120000积分

    .sec-bottom.risk-tip
      h3 出借有风险，选择需谨慎
      p 本活动规则解释权归 念钱安 所有
      p 如有疑问，请联系在线客服或拨打400-8269-227

block append footer
  script(type="text/javascript" src="../../global/js/swiper.min.js")
  script.
    $(function () {
      var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        autoplay: true,
        delay: 2000,
        loop: true,
        speed: 400
      });
      if (mySwiper.slides.length <= 1) {
        mySwiper.destroy();
      }

    });



