extends ../layout/layout

block append headTitle
  title 确认兑换

block content
  section.sureExcharge
    .order-one
      .title 商品名称
      .cont
        .img-wrap
          img(src="")
        .txt
          span.name 小米运动蓝牙耳机
          span
            i.red-font 5600积分
            i.no ×1
      .row-list
        .row
          label 运费
          span 0.00
        .row
          label 使用积分
          span 5600积分




    .el-form
      form
        .form-row
          label 联系电话
          input(type="text" placeholder="请填写联系电话" data-validate="telephone").input-text-large
        .form-row
          label 邮箱
          input(type="email" placeholder="请填写邮箱" data-validate="email").input-text-large

    .detail
      .cont-wrap
        .row
          h3
            span.icon.icon02
            | 免责声明
          .txt-cont
            p 请填写您本人的手机号和邮箱，如果因您本人的手机号或者邮箱填错，卡券发放到其他人的账户，本平台概不负责。


    .btn-warp.fixed-footer
      a.a-btn-bg-red#exChargeBtn(href='javascript:void(0);') 确认兑换


  script.
    $(function () {

      //表单验证
      var checkForm = function () {
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var email =/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+$/ ;
        var showDialog = function (sel, errTip) {
          sel.addClass("error-input");
          var dialogExist = $(".dialog-alert-pop").length;
          if (dialogExist == 0) {
            commonEvent.validataDialog(errTip);
            return false;
          }
        }
        var eleValidate = $("form").find("[data-validate]");
        eleValidate.on('focus', function () {
          var sel = $(this);
          sel.removeClass("error-input");
        });
        eleValidate.each(function () {
          var sel = $(this);
          var selDataVal = $.trim(sel.data('validate'));
          if (selDataVal === 'telephone') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              if (!mobile.test(selVal)) {
                var errTip = "请填写正确的手机号";
                return showDialog(sel, errTip);
              }
              else {
                sel.removeClass("error-input");
              }
            }
          }
          else if (selDataVal == 'email') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, errTip);
            } else {
              if (!email.test(selVal)) {
                var errTip = "请填写正确的邮箱";
                return showDialog(sel, errTip);
              }
              else {
                sel.removeClass("error-input");
              }
            }
          }
        });
        if ($(".error-input").length > 0) {
          return false
        }
        else {
          return true;
        }
      }

      $("#exChargeBtn").onClick('click', function () {
        if (checkForm()) {
          alert('ok');
        }
        else {
          alert('fail');
        }
      });


    });








