extends ../layout/layout

block append headTitle
  title 积分抽奖

block content
  section.luckDraw
    .banner
      .sec-top
        .integral-num
          span.icon-star-yellow
          |我的积分：1460
        a.drawRecord(href="") 抽奖记录
      .bg
      .tip-time
        span.icon
        |今天还有
        i 2
        |次机会哦

    .luck-wrap
      .shanDeng#deng
        #luck
          .wrap
            .row
              .luck-unit.luck-unit-0
                span.bg
                img(src="/global/image/luck/icon_gift_1.png")
                p 10元红包
              .luck-unit.luck-unit-1
                span.bg
                img(src="/global/image/luck/icon_gift_2.png")
                p 20积分
              .luck-unit.luck-unit-2
                span.bg
                img(src="/global/image/luck/icon_gift_2.png")
                p 扫地机器人
            .row
              .luck-unit.luck-unit-7
                span.bg
                img(src="/global/image/luck/icon_gift_5.png")
                p iphone8 256G
              .cjBtn#drawBtn
                p -50积分
              .luck-unit.luck-unit-3
                span.bg
                img(src="/global/image/luck/icon_gift_5.png")
                p 15元满减券
            .row
              .luck-unit.luck-unit-6
                span.bg
                img(src="/global/image/luck/icon_gift_1.png")
                p 80积分
              .luck-unit.luck-unit-5
                span.bg
                img(src="/global/image/luck/icon_gift_4.png")
                p 0.3%加息券
              .luck-unit.luck-unit-4
                span.bg
                img(src="/global/image/luck/icon_gift_1.png")
                p 20元红包
    .draw-rule
      a(href="javascript:void(0);")#ruleBtn 抽奖规则
        i.arrow-right-white

    .plr32
      .drawed-user
        .title 中奖用户
        .cont
          .swiper-container
            ul.swiper-wrapper
              li.swiper-slide
                span 139****8907
                span christing
                span 抽中 20元红包
              li.swiper-slide
                span 139****8907
                span christing
                span 抽中 20元红包
              li.swiper-slide
                span 139****8907
                span christing
                span 抽中 20元红包
              li.swiper-slide
                span 139****8907
                span christing
                span 抽中 20元红包
    .footer

  .bg-pic-pop
  .dia-pic.luck-pop.rule-pop
    .dialog-cont
      .dia-close
      .luckPic
        .imgBg
      .cont
        .title 抽奖规则
        p 1. 每次抽奖消耗10积分；
        p 2. 每天仅限3次；
        p 3. 积分不够则不能参与抽奖；
        p 4. 可在抽奖记录查看抽奖详情。
  .dia-pic.luck-pop.integral-null
    .dialog-cont
      .dia-close
      .luckPic
        .imgBg
      .cont
        p 亲，您的积分不够了！
      a(href="javascript:void(0);").a-btn-bg-yellow 去赚积分
  .dia-pic.luck-pop.drawed-pop
    .dia-close
    .cont
      p.title 恭喜您！
      p.big-font 中了
        span.red-font 20积分
      p.red-font 已放到您的积分账户中
    a(href="javascript:void(0);").a-btn-bg-yellow 了解奖品使用详情





block append footer
  script(type="text/javascript" src="../../global/js/luckDraw.js")
  script(type="text/javascript" src="../../global/js/swiper.min.js")
  script.
    $(function () {
      var len = $('.swiper-container .swiper-slide').length;
      var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        autoplay: true,
        delay: 1000,
        speed: 400,
        loop: true,
        slidesPerView: 'auto',
        loopedSlides: len
      });
      if (mySwiper.slides.length <= 4) {
        mySwiper.destroy();
      }
      //抽奖规则
      $('#ruleBtn').onClick('click',function () {
        $(".bg-pic-pop").show()
        $(".rule-pop").show()
      });
      //关闭弹层
      commonEvent.closePicDia();
      //抽奖按钮
      var lessIntegral = function () { //积分不够
        $(".bg-pic-pop").show()
        $(".integral-null").show()
      }
      var drawSuc = function () { //抽中了
        $(".bg-pic-pop").show()
        $(".drawed-pop").show()
      }
      $("#luck").onClick('click','#drawBtn',function () {
        var self = $(this);
        if(self.hasClass('disabledBtn')){
          var tip = '今天的抽奖次数已用完了，明天再来试试吧~';
          commonEvent.alertDialog(tip);
        }
        else{
          //状态一
          //lessIntegral();
          //状态二
          var callBackFn = function () {
            drawSuc();
            self.addClass('disabledBtn');
          }
          luckDraw.clickFn(callBackFn);
        }

      });

    });






