extends ../layout/layout

block append headTitle
  title 抽奖记录

block content
  section.luckDrawRecord

    .record-list#temp-list
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            |-
            a(href="javascript:void(0);") 积分
            |中查看
          p.grey-font 2017-11-09 17:46:29
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29

      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29
      .row
        .col.img-wrap
          img(src="")
        .col.col-r
          p.name 奖品：15元满减券
          p.grey-font 请在
            a(href="javascript:void(0);") 会员中心
            | -
            a(href="javascript:void(0);") 积分
            | 中查看
          p.grey-font 2017-11-09 17:46:29


    // p.load-more 没有更多了/加载更多

  script.
    $(function () {
      var htmlList = function () {
        var loading = true;
        var showLoadingTxt = function (txt) {
          var listWrap = $("#temp-list");
          listWrap.find('.load-more').remove();
          var temp = '<p class="load-more">' + txt + '</p>';
          listWrap.append(temp);
        }
        var showList = function () {
          var listWrap = $("#temp-list");
          listWrap.html("");
          $.ajax({
            type: "POST",
            url: "",
            data: {
              //type: listType
            },
            beforeSend: function () {
              showLoadingTxt('正在努力加载中,请耐心等待片刻……');
            },
            success: function (result) {
             // var dataNum = data.tatol;
              var dataNum = 12;
              var perPageNum = $("#temp-list .row").length;
              listWrap.find('.loading').remove();
              var html = '';
              if (dataNum > perPageNum) {
                for(var i=0;i<6;i++){
                  html += '<div class="row"> <div class="col img-wrap"><img src=""></div>' +
                    '<div class="col col-r"> <p class="name">奖品：15元满减券</p>' +
                    '<p class="grey-font">请在<a href="javascript:void(0);">会员中心</a>-<a href="javascript:void(0);">积分</a>中查看</p>' +
                    '<p class="grey-font">2017-11-09 17:46:29</p></div></div>';
                }
                listWrap.append(html);
                showLoadingTxt('加载更多');
              }
              else if (dataNum <= perPageNum) {
                showLoadingTxt('没有更多了');
              }
              loading = true;
            },
            error: function () {
              showLoadingTxt('系统繁忙，请稍后再试');
            }
          });
        }

        var initList = function () {
          $("#temp-list").html("");
          showList();
        }
        //加载更多
        var loadMore = function () {
          $(window).scroll(function () {
            var docHei = $(document).height();
            var scrollT = $(window).scrollTop();
            if (scrollT + $(window).height() > docHei - 20) {
              if (loading) {
                loading = false;
                showList();
              }
            }
          });
        };
        return {
          initalList: function () {
            $("#temp-list").html("");
            initList();
          },
          scrollList: function () {
            loadMore();
          }
        }

      }();

    // htmlList.initalList();//初始化页面
     htmlList.scrollList();
    })










