
.fixed-footer
  ul
    li
      a(href="/template/recharge.html")
        p 立即充值
    li
      a(href="/template/creditOfficer-mycustomer.html")
        p 我的客户
    li
      a(href="/template/creditOfficer-person.html")
        p 贷款中心
  //-ul
  //-  li
  //-    a(href="/template/recharge.html")
  //-      span.trangle
  //-      p 立即充值
  //-  li
  //-    a(href="/template/creditOfficer-mycustomer.html")
  //-      span.trangle
  //-        em 2
  //-      p 我的客户
  //-  li
  //-    a(href="/")
  //-      span.trangle
  //-        em 9
  //-      p 贷款中心



