#scrollWrap
  #scroller
    #scroller-pullDown
      span#down-icon.icon-double-angle-down.pull-down-icon.reverse_icon
      span#pullDown-msg.pull-down-msg  下拉刷新
    #scroller-content

    #scroller-pullUp
      span#up-icon.icon-double-angle-up.pull-up-icon
      span#pullUp-msg.pull-up-msg  上拉刷新