extends ../layout/layout-buyer

block append headTitle
  title 收货地址

block content
  section.shopping-address
    .sec
      ul.address-list#choose-list
        li
          .circle-choose
            span
              i.icon-ok
          .address-txt
            span.default-address-icon
            p.font-60.clearfix 张海泽
              a.font-60.fr(href="tel:13688888888") 13688888888
            p 浙江省  绍兴市  诸暨市
            p 滨江南路



  footer.fixed-footer.two-layers.shopping-address-footer
    ul.sec-bottom.li-2
      li
        .circle-choose#all-choose
          span
            i.icon-ok
          | 全选
        .sumNum
      li.btn-2
        a.a-blank(href="javascript:void(0);")
        a.a-btn-bggray.fr.delete-btn(href="javascript:void(0);") 删除
    a.a-btn.a-btn-bgblue(href="/template/buy/address-edit.html")  新增收货地址

  script.
    $(function(){
      //全选及删除
      commonEvent.chooseCircle('收货地址');
    })








