extends ../layout/layout-buyer

block append headTitle
  title 地址编辑

block content
  section.sticky-cont.address-edit
    .sec
      .address-edit-wrap
        form
          .row-per
            input(type="text" placeholder="收货人姓名" data-validate="name").input-text-large
          .row-per
            input(type="text" placeholder="收货人手机号码" data-validate="telephone").input-text-large
          .row-per.select-region-wrap
            select(data-validate="province")
              option(value="") 所在省
              option(value="浙江省") 浙江省
            select(data-validate="city")
              option(value="") 所在市
              option(value="杭州市") 杭州市
            select(data-validate="district")
              option(value="" ) 所在区/县
              option(value="江干区" ) 江干区
              option(value="上城区" ) 上城区
          .row-per
            input(type="text" placeholder="街道地址" data-validate="detailAddress").input-text-large
          .row-per
            input(type="text" placeholder="邮编" data-validate="zipCode").input-text-large
          .set-default-address
            .rectangle-choose
              input(type="checkbox" checked="checked").input-cbox
              span.active
                i.icon-ok
              | 设为默认地址


  footer.fixed-footer
    a.a-btn.a-btn-bgred#sure-btn 确定

  script.
    $(function(){
      //选择为默认地址
      $(".rectangle-choose").onClick('click','span',function(){
        var sel = $(this);
        var inputCheckBox = sel.parent().find('input[type=checkbox]');
        if(sel.hasClass('active')){
          sel.removeClass('active');
          inputCheckBox.attr('checked',false);
        }
        else{
          sel.addClass('active');
          inputCheckBox.attr('checked',true);
        }
      });

      //表单验证
      var checkForm = function () {
        var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var zipCode = /^[1-9][0-9]{5}$/;
        var showDialog = function (sel, dialogExist, errTip) {
          sel.addClass("error-input");
          if (dialogExist == 0) {
            if(sel.is('input[type=text]')){
              errTip = '请输入' + errTip;
            }
            commonEvent.validataDialog(errTip);
            return false;
          }
        }
        var eleValidate = $("form").find("[data-validate]");
        eleValidate.on('focus',function () {
          var sel = $(this);
          sel.removeClass("error-input");
        });
        eleValidate.each(function(){
          var sel = $(this);
          var selDataVal = $.trim(sel.data('validate'));
          var dialogExist = $(".dialog-alert-pop").length;
          if (selDataVal == 'name') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, dialogExist, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal == 'telephone') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, dialogExist, errTip);
            } else {
              if (!mobile.test(selVal)) {
                var errTip = "正确的手机号";
                return showDialog(sel, dialogExist, errTip);
              }
              else {
                sel.removeClass("error-input");
              }
            }
          }
          else if (selDataVal == 'province') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = "请选择省份";
              return showDialog(sel, dialogExist, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal == 'city') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = "请选择市区";
              return showDialog(sel, dialogExist, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal == 'district') {
            var selectedVal = $.trim(sel.find('option:selected').val());
            if (selectedVal == '') {
              var errTip = "请选择区/县";
              return showDialog(sel, dialogExist, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal == 'detailAddress') {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, dialogExist, errTip);
            } else {
              sel.removeClass("error-input");
            }
          }
          else if (selDataVal == 'zipCode' ) {
            var selVal = $.trim(sel.val());
            if (selVal == '') {
              var errTip = $.trim(sel.attr("placeholder"));
              return showDialog(sel, dialogExist, errTip);
            } else {
              if (!zipCode.test(selVal)) {
                var errTip = "正确的邮编";
                return showDialog(sel, dialogExist, errTip);
              }
              else {
                sel.removeClass("error-input");
              }
            }
          }
        });
        if ($(".error-input").length > 0) {
          return false
        }
        else {
          return true;
        }
      }

      $("#sure-btn").onClick('click',function(){
        if(checkForm()){
          alert('ok');
        }
        else{
          alert('fail');
        }
      });

    });



