extends ../layout/layout-buyer

block append headTitle
  title 卖家中心

block content
  section.person-center-sec.buyer-center
    .sec-top
      .avatar
        img(src="")
      p.seller-name AppleBaby
      ul.a-link-opt.clearfix
        li
          a
            span.icon.icon-book
            p 全部订单
            i.border-white-r
        li
          a
            span.circle-red 5
            span.icon.icon-pay
            p 待付款
        li
          a
            span.icon.icon-send
            p 待发货
        li
          a
            span.icon.icon-receive
            p 已发货
    .sec-list
      ul
        li
          a(href='/template/seller-goods-manage.html')
            span.icon.icon01.icon-collect
            span.txt 收藏夹
            span.status  8
            i.icon-arrow-right
        li
          a(href='/template/buy/address-edit.html')
            span.icon.icon02.icon-address
            span.txt  收货地址
            span.status 编辑您的收货地址
            i.icon-arrow-right

  footer.fixed-footer
    ul.footer-nav
      li
        a(href="/template/buy/index.html")
          span.icon-home
          p 首页
      li
        a(href="/template/buy/goods-sort.html")
          span.icon-link
          p 商品分类
      li
        a(href="/template/buy/purchase-orders.html")
          span.icon-shopcar
          p 进货单
      li
        a(href="/").active
          span.icon-person
          p 个人中心
















