extends ../layout/layout-buyer

block append headTitle
  title 商品分类

block content
  section.goods-sort
   .left-sort-list
     ul
       li
         a.tab-a 品牌
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 性别
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 年龄
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 材质
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 筒高
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 厚薄
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 功能
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 特殊用途
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
       li
         a.tab-a 季节
         .cont-show
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品
           a M木及良品



  footer.fixed-footer
    ul.footer-nav
      li
        a(href="")
          span.icon-home
          p 首页
      li
        a(href="").active
          span.icon-link
          p 商品分类
      li
        a(href="")
          span.icon-shopcar
          p 进货单
      li
        a(href="")
          span.icon-person
          p 个人中心
















