extends ../layout/layout-buyer

block append headTitle
  title 首页
block append headCss
  script(type="text/javascript" src="../../global/js/jsrender.min.js")
block content
  section.index-home
    .sec-serch-buy
      img(src="../../global/images/yuesong_log.png").log-pic
      .serch-input-wrap
        span.serch-icon.icon-search
        input(type="text" placeholder="请输入搜索内容").serch-input
      span.serch-txt  搜索
    .sec-tab
      a(data-type="0")
        span.home-icon01.icon-book
        p 已购买产品
      a.active(data-type="1")
        span.home-icon02.icon-collect
        p 已收藏产品
      a(data-type="2")
        span.home-icon03.icon-package
        p 包装
      a(data-type="3")
        span.home-icon04.icon-fire
        p 热销产品
      a(data-type="4")
        span.home-icon05.icon-eye
        p 天天特价
      a(data-type="5")
        span.home-icon06.icon-new
        p 新品上线
    .sec-show-list
      .list-title 请浏览
        span.red-font 2,600
        |件商品
      ul#temp-list
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.now-goods 现货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.book-goods 订货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...

      p.try-loading  正在努力加载中
        span.icon-loading
        |请耐心等待片刻

  footer.fixed-footer
    ul.footer-nav
      li
        a(href="/template/buy/index.html").active
          span.icon-home
          p 首页
      li
        a(href="/template/buy/goods-sort.html")
          span.icon-link
          p 商品分类
      li
        a(href="/template/buy/purchase-orders.html")
          span.icon-shopcar
          p 进货单
      li
        a(href="/template/buy/buyer-center.html")
          span.icon-person
          p 个人中心

  script.
    $(function () {
      var showList = function(){

      }
      //显示列表
      var htmlList = function () {
        var loading = true;
        var listType = '';
        var showLoadingTxt = function (txt) {
          var listWrap = $("#temp-list").parent();
          listWrap.find('.try-loading').remove();
          var temp = '<p class="try-loading">'+txt+'</p>';
          listWrap.append(temp);
        }
        var makeSureType = function () {
          $(".index-home").onClick('click', 'a', function () {
            var sel = $(this);
            sel.addClass('active').siblings('a').removeClass("active");
            listType = $.trim(sel.data('type'));
            showList();
            return false;
          });
        }
        var showList = function () {
          var listWrap = $("#temp-list");
          listWrap.html("");
          $.ajax({
            type: "POST",
            url: "",
            data: {
              type: listType
            },
            beforeSend: function () {
              showLoadingTxt('正在努力加载中<span class="icon-loading"></span>请耐心等待片刻');
            },
            success: function (result) {
              var dataNum = data.tatol;
              var perPageNum = $("#temp-list .per-page").length;
              listWrap.find('.loading').remove();
              if (dataNum > perPageNum) {
                var dataSrouce = data.msg;
                var html = $.templates("#testTmpl").render(dataSrouce);
                listWrap.append(html);
              }
              else if (dataNum == perPageNum) {
                showLoadingTxt('无更多数据');
              }
              loading = true;
            },
            error: function () {
              showLoadingTxt('系统繁忙，请稍后再试');
            }
          });
        }
        var initList = function () {
          $("#temp-list").html("");
          showList();
        }
        //加载更多
        var loadMore = function () {
          $(window).scroll(function () {
            var docHei = $(document).height();
            var scrollT = $(window).scrollTop();
            if (scrollT + $(window).height() > docHei - 20) {
              if (loading) {
                loading = false;
                showList();
              }
            }
          });
        };
        return {
          initalList: function () {
            makeSureType();
            initList();
          },
          scrollList: function () {
            loadMore();
          }
        }
      }();

      htmlList.initalList();//初始化页面
      htmlList.scrollList();

    });
  script(id="testTmpl" type="text/x-jsrender").
    <li>
      <a>
        <img src="{{:src}}">
        <div class="status-cont">
          <div class="status-title"><span class="now-goods">{{:现货}}</span>{{:title}}</div>
          <p class="num"> 成交{{:sum}}笔</p>
          <p class="price"><span class="fl red-font"> ￥{{:price}}</span><span class="fr">{{:num}}双起批<i>...</i></span></p>
        </div>
      </a>
    </li>














