extends ../layout/layout-buyer

block append headTitle
  title 首页

block content
  section.index-home
    .sec-serch-buy
      img(src="../../global/images/yuesong_log.png").log-pic
      .serch-input-wrap
        span.serch-icon.icon-search
        input(type="text" placeholder="请输入搜索内容").serch-input
      span.serch-txt  搜索
    .sec-tab
      a
        span.home-icon01.icon-book
        p 已购买产品
      a.active
        span.home-icon02.icon-collect
        p 已收藏产品
      a
        span.home-icon03.icon-package
        p 包装
      a
        span.home-icon04.icon-fire
        p 热销产品
      a
        span.home-icon05.icon-eye
        p 天天特价
      a
        span.home-icon06.icon-new
        p 新品上线
    .sec-show-list
      .list-title 请浏览
        span.red-font 2,600
        |件商品
      ul
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.now-goods 现货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.book-goods 订货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...

      p.try-loading  正在努力加载中
        span.icon-loading
        |请耐心等待片刻

  footer.fixed-footer
    ul.footer-nav
      li
        a(href="/template/buy/index.html").active
          span.icon-home
          p 首页
      li
        a(href="/template/buy/goods-sort.html")
          span.icon-link
          p 商品分类
      li
        a(href="/template/buy/purchase-orders.html")
          span.icon-shopcar
          p 进货单
      li
        a(href="/template/buy/buyer-center.html")
          span.icon-person
          p 个人中心
















