extends ../layout/layout-buyer

block append headTitle
  title 我的订单

block content
  section.order-manage-list.padtop300
    .search-fixed
      .sec-serch
        input(type="text" placeholder='请输入您要搜索的订单').input-text-search
        a.a-btn-bgred 搜索
      .tab-opts
        a.active(href="javascript:void(0);")  全部
        a(href="javascript:void(0);")  待付款
        a(href="javascript:void(0);")  待发货
        a(href="javascript:void(0);")  已发货
    .sec-manage-list
      ul#temp-list
        li.order-li
          a.order-status 卖家已发货
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bgred.make-sure-btn(href="javascript:void(0);") 确认收货
        li.order-li
          a.order-status(href="javascript:void(0);") 已付款，等待卖家发货
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bgred(href="/template/seller-service-manage.html") 联系卖家
        li.order-li
          a.order-status(href="javascript:void(0);") 待付款
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            ul.li-3
              li
                a.a-btn-bggrey.delete-btn(href="javascript:void(0);") 删除订单
              li
                a.a-btn-bgblue(href="javascript:void(0);") 线下支付
              li
                a.a-btn-bgred(href="javascript:void(0);") 在线支付
        li.order-li
          a.order-status 交易完成
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bggrey.delete-btn(href="javascript:void(0);") 删除订单

  script.
    $(function(){
      //切换
      $(".tab-opts a").onClick('click', function () {
        var sel = $(this);
        sel.addClass('active').siblings().removeClass('active');
      });

      var deleteFun = function (sel) {
        sel.closest('li.order-li').remove();
      };
      $(".sec-manage-list").onClick('click','.delete-btn',function () {
        var sel = $(this);
        var tip='您确定要删除此订单吗？';
        commonEvent.confirmDialog(tip,function () {
          deleteFun(sel);
        });
      });
      $(".sec-manage-list").onClick('click', '.make-sure-btn', function () {
        var sel = $(this);
        var tip = '您确认已经收到货物了吗？';
        commonEvent.confirmDialog(tip, function () {
          alert('收货ok');
        });
      });
      //显示列表
      var htmlList = function () {
        var loading = true;
        var listType = '';
        var showLoadingTxt = function (txt) {
          var listWrap = $("#temp-list").parent();
          listWrap.find('.try-loading').remove();
          var temp = '<p class="try-loading">' + txt + '</p>';
          listWrap.append(temp);
        }
        var makeSureType = function () {
          //切换
          $(".tab-opts a").onClick('click', function () {
            var sel = $(this);
            sel.addClass('active').siblings().removeClass('active');
            listType = $.trim(sel.data('type'));
            showList();
            return false;
          });
        }
        var showList = function () {
          var listWrap = $("#temp-list");
          listWrap.html("");
          $.ajax({
            type: "POST",
            url: "",
            data: {
              type: listType
            },
            beforeSend: function () {
              showLoadingTxt('正在努力加载中<span class="icon-loading"></span>请耐心等待片刻');
            },
            success: function (result) {
              var dataNum = data.tatol;
              var perPageNum = $("#temp-list li.order-li").length;
              listWrap.find('.loading').remove();
              if (dataNum > perPageNum) {
                var dataSrouce = data.msg;
                var html = $.templates("#testTmpl").render(dataSrouce);
                listWrap.append(html);
              }
              else if (dataNum == perPageNum) {
                showLoadingTxt('无更多数据');
              }
              loading = true;
            },
            error: function () {
              showLoadingTxt('系统繁忙，请稍后再试');
            }
          });
        }
        var initList = function () {
          $("#temp-list").html("");
          showList();
        }
        //加载更多
        var loadMore = function () {
          $(window).scroll(function () {
            var docHei = $(document).height();
            var scrollT = $(window).scrollTop();
            if (scrollT + $(window).height() > docHei - 20) {
              if (loading) {
                loading = false;
                showList();
              }
            }
          });
        };
        return {
          initalList: function () {
            makeSureType();
            initList();
          },
          scrollList: function () {
            loadMore();
          }
        }
      }();

      // htmlList.initalList();//初始化页面
      //htmlList.scrollList();
    });






















