extends ../layout/layout-buyer

block append headTitle
  title 我的订单

block content
  section.order-manage-list
    .sec-serch
      input(type="text" placeholder='请输入您要搜索的订单').input-text-search
      a.a-btn-bgred 搜索
    .sec-manage-list
      .tab-opts
        a.active 全部
        a 待付款
        a 待发货
        a 已发货
      ul
        li
          a.order-status 卖家已发货
            i.arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bgred 确认收货
        li
          a.order-status 已付款，等待卖家发货
            i.arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bgred 联系卖家
        li
          a.order-status 待付款
            i.arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            ul.li-3
              li
                a.a-btn-bggrey 删除订单
              li
                a.a-btn-bgblue 线下支付
              li
                a.a-btn-bgred 在线支付
        li
          a.order-status 交易完成
            i.arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bggrey 删除订单
























