extends ../layout/layout-buyer

block append headTitle
  title 产品详情

block append headCss
  script(type="text/javascript" src="../../global/js/TouchSlide.1.1.js")

block content
  header.fixed-header
    a(href="javascript:window.history.back();").go-back.icon-arrow-left
    .fr
      a(href="/template/buy/index.html").icon-home
      a(href="").icon-shopcar

  section.product-detail
    .sec
      .sec-banner#banner
        .hd
          ul
        .bd
          ul
            li
              a
                img(src="../../global/images/img.jpg")
            li
              a
                img(src="../../global/images/img.jpg")
            li
              a
                img(src="../../global/images/img.jpg")
      .sec-txt-wrap

        .sec-txt-title
          .status-title
            span.now-goods 现货
            |7047 一件代发纯棉袜子男士四季中筒防 臭全棉秋冬款优质产品淘宝爆款
          .red-heart-collect
            span.icon-collect
            p 收藏
        ul.sec-txt-list
          li
            p.red-font ￥<span class="bing-font">24</span>.00
            p 2盒起批
            p.grey-font 已成交4445双
          li
            p.red-font ￥<span class="bing-font">23</span>.00
            p 6-11盒
            p.grey-font 运费：￥20
          li
            p.red-font ￥<span class="bing-font">22</span>.50
            p ≥12盒
            p.grey-font 发货地： 浙江 绍兴

      .sec-pro-formate#format-choose
        .fl.col-l
          span.icon.icon-write
          p 规格选择
        .fl.col-r
          p 颜色：混包
          p 尺码：均码
          i.icon-trangle-down
      .sec-detail-info
        .list-title 产品属性
        .list-cont
          .list-row
            label 货源类别
            span.txt-wrap 现货
          .list-row
            label 品牌
            span.txt-wrap 自主品牌
          .list-row
            label 货号
            span.txt-wrap 7049
          .list-row
            label 适用性别
            span.txt-wrap 中性/男女均可
          .list-row
            label 产地
            span.txt-wrap 诸暨
          .list-row
            label 袜子材质
            span.txt-wrap 棉
          .list-row
            label 是否有跟
            span.txt-wrap 是
          .list-row
            label 筒高
            span.txt-wrap 中筒
          .list-row
            label 厚薄
            span.txt-wrap 厚
          .list-row
            label 适合季节
            span.txt-wrap 秋季
          .list-row
            label 袜子尺码
            span.txt-wrap M（约3-5岁），L（约6-8岁）， XL（约9-12岁）


      .bg-pop(style="display:none")
      .dialog-container(style="display:none")
        .dia-close.icon-close
        .dia-sec-01
          img(src="")
          .state-cont
            .state-txt 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
            p.price-num ￥22.50-￥24.00
        .dia-sec-02
          .title 颜色
          .a-tab.clearfix.a-tab-wrap
            .checkbox-wrap
              input(type="checkbox" name="拼色款" checked="checked")
              a(href="javascript:void(0);").active 拼色款
                span.num 10
            .checkbox-wrap
              input(type="checkbox" name="纯色款" checked="checked")
              a(href="javascript:void(0);") 纯色款
            .checkbox-wrap
              input(type="checkbox" name="卡通款" checked="checked")
              a(href="javascript:void(0);") 卡通款
            .checkbox-wrap
              input(type="checkbox" name="条纹款" checked="checked")
              a(href="javascript:void(0);") 条纹款
                span.num 10
            .checkbox-wrap
              input(type="checkbox" name="民族风款" checked="checked")
              a(href="javascript:void(0);") 民族风款

        .dia-sec-03
          .list-cont
            .list-row
              .big-font M (约3-5岁)
              .small-font 库存：20360
              .opts-wrap
                a(href="javascript:void(0);") -
                input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                a(href="javascript:void(0);") +
            .list-row
              .big-font l (约6-8岁)
              .small-font 库存：20360
              .opts-wrap
                a(href="javascript:void(0);") -
                input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                a(href="javascript:void(0);") +
            .list-row
              .big-font XL (约9-12岁)
              .small-font 库存：20360
              .opts-wrap
                a(href="javascript:void(0);") -
                input(type="number" value="12" data-defaultval="12" data-price="24").input-s
                a(href="javascript:void(0);") +
        .dia-sec-04.sum-data
          .fl 本产品按手批发，一手=10双
          .fr 共
            span.red-font#sumNum 0
            |双
            span.red-font.sum#sumPrice ￥0

  footer.fixed-footer.two-layers.pro-detail-footer
    ul.li-2
      li
        a#buyOrder.a-btn.a-btn-bgblue(href="javascript:void(0);") 加入进货单
      li
        a#buyNow.a-btn.a-btn-bgred(href="javascript:void(0);") 立即抢购

  script.
    $(function(){

      //规格选择弹层
      var bgPop = $(".bg-pop");
      var dialogFormate = $(".dialog-container");
      $(".dialog-container").on("click", ".icon-close", function () {
        bgPop.hide();
        dialogFormate.hide();
        return false;
      });
      $("#format-choose").on('click',function(){
        bgPop.fadeIn(300);
        dialogFormate.fadeIn(300);
        return false;
      });
       //红心收藏
      $(".red-heart-collect").onClick("click",function(){
        var sel = $(this);
        var selSpan = sel.find('.icon-collect');
        if(selSpan.hasClass('red-heart')){
          selSpan.removeClass('red-heart')
        }
        else{
          selSpan.addClass('red-heart');
        }
        return false;
      });

      //弹层颜色多选
      $(".a-tab-wrap").onClick('click', '.checkbox-wrap a', function () {
        var sel = $(this);
        var selCheckbox = sel.parent(".checkbox-wrap").find("input[type=checkbox]");
        if (sel.hasClass('active')) {
          sel.removeClass('active');
          selCheckbox.attr("checked", false);
        }
        else {
          sel.addClass('active');
          selCheckbox.attr("checked", true);
        }
      });


      //验证规格填写的信息
      var checkFormateInfo = function(){
        var checkboxLen = dialogFormate.find('.dia-sec-02 input[type=checkbox]:checked').length;
        var inputNumber = dialogFormate.find('.dia-sec-03 input[type=number]');
        var inputVal = function (ind) {
          console.log(ind + Number($.trim(inputNumber.eq(ind).val())));
          return  Number($.trim(inputNumber.eq(ind).val()));
        }
        var defaultVal = function(ind){
          return  Number($.trim(inputNumber.eq(ind).data('defaultval')));
        }
        if(checkboxLen <=0){
          var tip="请选择规格颜色";
          commonEvent.validataDialog(tip);
          dialogFormate.find('.dia-sec-02').addClass("error-input");
          return false;
        }
        else{
          dialogFormate.find('.dia-sec-02').removeClass("error-input");
        }
        if (inputVal(0) == 0 && inputVal(1) == 0 && inputVal(2) == 0) {
          var tip = "尺码数量不能都为0";
          commonEvent.validataDialog(tip);
          inputNumber.addClass('error-input');
          return false;
        }
        else{
          inputNumber.removeClass('error-input');
        }
        inputNumber.each(function () {
          var sel = $(this);
          var selVal = Number($.trim(sel.val()));
          var selDefaultVal = Number($.trim(sel.data('defaultval')));
          if (selVal< selDefaultVal) {
            var tip = "输入的值不能小于默认值";
            commonEvent.validataDialog(tip);
            sel.addClass('error-input');
            return false;
          }
          else {
            inputNumber.removeClass('error-input');
          }
        });
        inputNumber.on("focus",function(){
          $(this).removeClass('error-input');
        });

        if(dialogFormate.find('.error-input').length>0){
          return false;
        }
        else {
          return true;
        }
      }

      //显示双数及总价
      var showSumNum = function () {
        var inputNumber = dialogFormate.find('.dia-sec-03 input[type=number]');
        var inputNumberLen = inputNumber.length;
        var sumNum = 0;
        var sumPrice = 0;
        for (var i = 0; i < inputNumberLen; i++) {
          var sel = inputNumber.eq(i);
          var selVal = Number(sel.val());
          var selPrice =Number(sel.data('price'));
          sumNum += selVal *10;
          sumPrice += selPrice * selVal;
        }
        $("#sumNum").html(sumNum);
        $("#sumPrice").html('￥'+sumPrice);
      }
      showSumNum();
      //加减
      commonEvent.addAndCutFun(function() {
        showSumNum();
      });
      //加入进货单按钮
      $("#buyOrder").onClick('click',function(){
         if(dialogFormate.is(':hidden')){
           $("#format-choose").trigger('click');
           //var tip = "请先规格选择"
           //commonEvent.confirmDialog(tip,function () {
            // $("#format-choose").trigger('click');
           //});
         }
         else{
           if(checkFormateInfo()){
              alert('ok');
           }
           else{
             alert('fail');
           }
         }
      });
      //立即抢购按钮
      $("#buyNow").onClick('click', function () {
        if (dialogFormate.is(':hidden')) {
          $("#format-choose").trigger('click');
        }
        else {
          if (checkFormateInfo()) {
            alert('ok');
          }
          else {
            alert('fail');
          }
        }
      });
    });









