extends ../layout/layout-buyer

block append headTitle
  title 进货单

block content
  section.purchase-order
    .sec
      .sec-list-none(style="display:none;")
        span.icon-shopcar
        p 没有货物， 快去逛逛吧！
      .sec-list(style="display:block;")
        ul#choose-list
          li.order-one
            .order-per
              .circle-choose
                span
                  i.icon-ok
                img(src="")
              .order-txt
                span 7047 一件代发
              .order-price
                p 单价：
                  span.red-font ￥
                    i.big-font 22
                    |.50
                  | /手
                a.icon-trash

            .order-table
              .order-table-tr.clearfix
                .th  颜色
                .th  尺码
                .th  进货量(手)
              .order-table-tr.clearfix
                .td 名族风款
                .td
                  p M (约3-5岁)
                  p l (约6-8岁)
                  p XL (约9-12岁)
                .td
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
              .order-table-tr.clearfix
                .td 拼色款
                .td
                  p M (约3-5岁)
                  p l (约6-8岁)
                .td
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +

              .order-table-tr-grey.big-font.clearfix
                .td 商品总价
                .td
                .td ￥
                  span.sumPiceS 117.60
          li.order-one
            .order-per
              .circle-choose
                span
                  i.icon-ok
                img(src="")
              .order-txt
                span 7047 一件代发纯棉袜子男士四季中筒防臭全棉秋冬款优质产品淘宝爆款
              .order-price
                p 单价：
                  span.red-font ￥
                    i.big-font 22
                    | .50
                  | /手
                a.icon-trash
            .order-table
              .order-table-tr.clearfix
                .th  颜色
                .th  尺码
                .th  进货量(手)
              .order-table-tr.clearfix
                .td 名族风款
                .td
                  p M (约3-5岁)
                  p l (约6-8岁)
                  p XL (约9-12岁)
                .td
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
              .order-table-tr.clearfix
                .td 拼色款
                .td
                  p M (约3-5岁)
                  p l (约6-8岁)
                .td
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +
                  .opts-wrap
                    a.cut-btn(href="javascript:void(0);") -
                    input(type="number" value="12" data-defaultval="12" data-price="22.5").input-s
                    a.add-btn(href="javascript:void(0);") +

              .order-table-tr-grey.big-font.clearfix
                .td 商品总价
                .td
                .td ￥
                  span.sumPiceS 117.60



  footer.fixed-footer.two-layers
    ul.sec-bottom.li-2
      li
        .circle-choose#all-choose
          span
            i.icon-ok
          | 全选
        .sumNum
          p 总计:
            span.red-font#sumPrice ￥<i class="big-font">1</i>18.00
          p.grey-font 1种12件;不含运费
      li.btn-2
        a.a-btn-bggray.delete-btn 删除
        a.a-btn-bgred.makeorder-btn 下单
    ul.footer-nav
      li
        a(href="/template/buy/index.html")
          span.icon-home
          p 首页
      li
        a(href="/template/buy/goods-sort.html")
          span.icon-link
          p 商品分类
      li
        a(href="/template/buy/purchase-orders.html").active
          span.icon-shopcar
          p 进货单
      li
        a(href="/template/buy/buyer-center.html")
          span.icon-person
          p 个人中心


  script.
    $(function(){
      //全选及删除
      var pram = {
        tip: "货品",
        url: ""
      }
      commonEvent.chooseCircle(pram);
      var chooseList = $("#choose-list");
      //列表中删除图标事件
      chooseList.onClick('click', '.icon-trash', function () {
        var sel = $(this);
        var tip = '您确定要删除此订单吗？';
        commonEvent.confirmDialog(tip, function () {
          sel.closest('li.order-one').remove();
          var liLen = chooseList.find('.circle-choose').length;
          if(liLen<=0){
             $(".sec-list-none").show();
             $(".sec-list-none").next('div').hide();
          }
          else{
            $(".sec-list-none").hide();
            $(".sec-list-none").next('div').show();
          }
        });
      });

       //显示总数有问题
      //显示双数及总价
      var totalSum = 0;
      var showSumNum = function (self) {
        var listOne = self.closest(".order-one");
        var inputNumber = listOne.find('input[type=number]');
        var inputNumberLen = inputNumber.length;
        var sumPrice = 0;
        for (var i = 0; i < inputNumberLen; i++) {
          var sel = inputNumber.eq(i);
          var selVal = Number(sel.val());
          var selPrice = Number(sel.data('price'));
          sumPrice += selPrice * selVal;
        }
        listOne.find(".sumPiceS").html(sumPrice);

        var selSelected =listOne.find(".circle-choose span");
        console.log(selSelected.length);
        if(selSelected.hasClass('active')){
          var perSum = Number(listOne.find(".sumPiceS").html());
          totalSum += perSum;
        }
        $("#sumPrice").html('￥' + totalSum);
      }
      //初始化
      $("#choose-list").find('input[type=number]').each(function(){
        var sel = $(this);
        showSumNum(sel);
      });

      //加减
      commonEvent.addAndCutFun(function (sel) {
        showSumNum(sel);
      });

      var checkInputVal =function() {
       var inputObj = $("#choose-list").find("input[type=number]");
       var inputLen = inputObj.length;
       inputObj.each(function(){
         var sel = $(this);
         var selVal = $.trim(sel.val());
         if(selVal == '0'){
             sel.addClass('error-input');
         }
         else{
           sel.removeClass('error-input');
         }
       });
        var errLen = $("#choose-list").find("input.error-input");
        if(errLen == inputLen){
          var tip = "进货量不能都为0";
          commonEvent.validataDialog(tip);
          return false;
        }
        else{
          return true;
        }
      }

      //下单
      $(".makeorder-btn").onClick('click',function(){
         if(checkInputVal()){
           alert('ok');
         }
        else{
           alert('fail');
         }
      });
    });






