extends ../layout/layout-buyer

block append headTitle
  title 分类搜索展示列表

block content
  section.sort-show-list
    h2 M木及良品
    .sec-show-list
      .list-title-wrap
        .list-title 请浏览
          span.red-font 2,600
          |件商品
      ul
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.now-goods 现货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...
        li
          a
            img(src="")
            .status-cont
              .status-title
                span.book-goods 订货
                | 7047 一件代发纯棉袜子男士 四季中筒防臭全棉秋冬款袜厂家...
              p.num  成交40845笔
              p.price
                span.fl.red-font  ￥9.00
                span.fr 12双起批
                  i ...

      p.try-loading  正在努力加载中
        span
        |请耐心等待片刻


















