extends layout/layout

block append headTitle
  title 悦融收款宝

block content
  section.creditCard
    p.title 快速办卡
    ul.card-list
      li
        .col-l
          img(src="/global/images/bank_icons/jiaotong.png")
        .col-r
          p.row-t 交通银行
            span.hot-red  秒批
          p.row-b  周五5%返现
      li
        .col-l
          img(src="/global/images/bank_icons/jiaotong.png")
        .col-r
          p.row-t 交通银行
            span.hot-red  秒批
          p.row-b  周五5%返现
      li
        .col-l
          img(src="/global/images/bank_icons/jiaotong.png")
        .col-r
          p.row-t 交通银行
            span.hot-red  秒批
          p.row-b  周五5%返现
      li
        .col-l
          img(src="/global/images/bank_icons/jiaotong.png")
        .col-r
          p.row-t 交通银行
            span.hot-red  秒批
          p.row-b  周五5%返现
    .bg-white.view-process
      p
        span.oclok-icon
        | 办卡进度查询
        span.arrow














