extends layout/layout

block append headTitle
  title 客户详情

block content
  section.customerDetail
  .sec
    .wrapper
      p 请及时修改贷款进度，以便我们为您提供更好的服务
      div.bg-white
        div.form-row
          label 贷款进度
          select
            option(value="") 贷款进度
            option(value="待联系") 待联系
            option(value="准备材料") 准备材料
            option(value="进件客户") 进件客户
            option(value="待签约") 申请通过-待签约
            option(value="已签约放款") 已签约放款
            option(value="贷款拒绝") 贷款拒绝
    .wrapper
      p 基本资料
      div.bg-white
        div.form-row
          label 客户
          div.txt-wrap 苹果
        div.form-row
          label 贷款类型
          div.txt-wrap 商贷
        div.form-row
          label 贷款需求
          div.txt-wrap 15万
        div.form-row
          label 申请时间
          div.txt-wrap 2015-12-21
    .wrapper
      p 客户资质
      div.bg-white
        div.form-row
          label 手机号
          div.txt-wrap 152
        div.form-row
          label 月收入
          div.txt-wrap 123
        div.form-row
          label 地址
          div.txt-wrap 浙江省绍兴市诸暨市
        div.form-row
          label 有无营业执照
          div.txt-wrap 有
        div.form-row
          label 有无POS机
          div.txt-wrap 无
        div.form-row
          label 有无信用卡
          div.txt-wrap 有

    .recharge-btn
      a.a-btn-orange  用户无贷款意向或无法联系，请审核退款






