extends layout/layout

block append headTitle
  title 链接页面


block content
  section
     ul
        li
           a(href='/template/memberCenter/home.html') 会员中心
        li
          a(href='/template/activity/activity.html') 活动中心
        li
          a(href='/template/memberCenter/privilege.html') 等级特权
          a(href='/template/memberCenter/privilegeUpgrade.html') 等级升级
        li
          a(href='/template/memberCenter/privilegeDetail.html') 等级特权详情
        li
          a(href='/template/task/task.html') 任务中心
        li
          a(href='/template/mall/integralMall.html') 积分商城
        li
          a(href='/template/mall/myIntegral.html') 我的积分
        li
          a(href='/template/mall/productDetail.html') 商品详情
        li
          a(href='/template/mall/sureExcharge.html') 确认兑换（实物）
          a(href='/template/mall/sureExchargeFullCut.html') 确认兑换-满减
          a(href='/template/mall/sureExchargeOil.html') 确认兑换-油卡
          a(href='/template/mall/sureExchargeBill.html') 确认兑换-话费
          a(href='/template/mall/sureExchargeSuc.html') 确认兑换-成功
          a(href='/template/mall/exchargeRecord.html') 兑换记录

        li
          a(href='/template/mall/addressList.html') 我的收货地址
        li
          a(href='/template/mall/addressListEdit.html') 管理收货地址
        li
          a(href='/template/mall/addressEdit.html') 编辑收货地址
        li
          a(href='/template/luckDraw/luckDraw.html') 积分抽奖
          a(href='/template/luckDraw/luckDrawRecord.html') 抽奖记录
          a(href='/template/luckDraw/luckedDrawRecord.html') 抽中记录
        li
          a(href='/template/sign/sign.html') 奖励
          a(href='/template/sign/signRecord.html') 签到奖励
        li
          a(href='/template/invitation/invitation.html') 邀请
          a(href='/template/invitation/invitationRecord.html') 邀请记录

















