extends layout/layout

block append headTitle
  title 首页

block content
  section
    .loan-index
      .banner
        img(src="../global/images/APPbanner.jpg")
      .sec
        p 为您提供如下贷款
        div.bg-white
          a.div-wrapper(href="http://192.168.158.175:7070/loan-webfront/salaryLoanPage.do")
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")
          a.div-wrapper
            h2  工薪贷
              span 月费率0.78-2.33%
            .contont
              p.font-bold   无需抵押，三小时极速放款
              p  放款额度:
              p.font-color 1-30万
              span.a-arrow(href="")














