extends layout/layout

block append headTitle
  title 链接页面


block content
  section
     ul
        li
           a(href='/template/memberCenter/home.html') 会员中心
        li
          a(href='/template/task/task.html') 任务中心


















