extends layout/layout

block append headTitle
  title 申请页

block content
  section.loan-applay-second
      .sec
        p.page-state 请完善以下信息，以便我们为您制定专属贷款方案
        form.valid-form(autocomplete="on")
          .wrapper
            div.bg-white
              div.form-row
                label 姓名
                input(type="text" placeholder="请输入您的姓名" value="ling")
              div.form-row
                label 您的手机
                input(type="number" placeholder="请输入您的手机号码" value="15236897856")
              div.form-row
                label 您的地址
                .select-wrapper.region-select
                  select.selectS.province
                    option(value="") 浙江省
                  select.selectS.city
                    option(value="") 杭州市
                  select.selectS.area
                    option(value="") 江干区
              div.form-row
                label 信用情况
                select.selectM
                  option(value="") 请选择
                  option(value='0') 无信用卡或贷款
                  option(value='1') 信用良好
                  option(value='2') 1年内逾期少于3次且少于90天
                  option(value='3') 1年内逾期超过3次或少于90天

          .wrapper
            p 本地社保公积金
            div.bg-white
              div.form-row
                label 是否缴纳社保
                select.selectM.filter-select
                  option(value="") 请选择
                  option(value='0')  缴纳社保
                  option(value='1' data-hide="true")  未缴纳社保
              div.form-row.sec-hide
                label 是否缴纳公积金
                select.selectM
                  option(value="") 请选择您
                  option(value='0')  缴纳公积金
                  option(value='1')  未缴纳公积金
          .wrapper
            p 房产类型
            div.bg-white
              div.form-row
                label 名下房产类型
                select.selectM.filter-select
                  option(value="") 请选择
                  option(value="无房产" data-hide="true") 无房产
                  option(value="商品房") 商品房
                  option(value="经济适用房") 经济适用房
                  option(value="商铺") 商铺
                  option(value="商住两用房") 商住两用房
                  option(value="厂房") 厂房
              .sec-hide
                div.form-row
                  label 房产估值
                  input(type="number" placeholder="请填写房产购买价格(万元)")
                div.form-row
                  label 房贷情况
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 无按揭还款
                    option(value="1") 有按揭，且已经还款6期以上
                    option(value="2") 有按揭，且已经还款12期以上
                div.form-row
                  label 能否提供房产证
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 是，能提供房产证
                    option(value="1") 是商品房，暂不能提供房产证
                    option(value="2") 无房产证
          .wrapper
            p 车辆情况
            div.bg-white
              div.form-row
                label 车辆情况
                select.selectM.filter-select
                  option(value="") 请选择
                  option(value="无车" data-hide="true") 无车
                  option(value="本人名下有车，无贷款") 本人名下有车，无贷款
                  option(value="本人名下有车，有按揭贷款") 本人名下有车，有按揭贷款
                  option(value="本人名下有车，但已被抵押") 本人名下有车，但已被抵押
              .sec-hide
                div.form-row
                  label 购买价格
                  input(type="number" placeholder="请填写车辆购买价格(万元)")
                div.form-row
                  label 投保公司
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 平安车险
                    option(value="1") 太平洋车险
                    option(value="2") 人保车险
                    option(value="3") 阳光车险
                    option(value="4") 其他保险公司
                div.form-row
                  label 保险生效日期
                  input(type="date" placeholder="请选择日期")

          .wrapper
            p 信用卡
            div.bg-white
              div.form-row
                label 名下有无信用卡
                select.selectM.filter-select
                  option(value="") 请选择
                  option(value="0") 有
                  option(value="1" data-hide="true") 无
              .sec-hide
                div.form-row
                  label 信用卡额度
                  input(type="number" placeholder="请您填写信用卡最高额度(元)")
                div.form-row
                  label 所属银行
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 国有银行（工农中建交）
                    option(value="1") 全国股份制银行（如：浦发、华夏、中信等）
                    option(value="2") 城市商业银行（如：上海银行、杭州银行等）
                    option(value="3") 邮政银行或农村商业银行
                    option(value="4") 外资银行
                div.form-row
                  label 持卡时间
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 6个月以下
                    option(value="1") 6-12个月
                    option(value="2") 1年以上

          .wrapper
            p 保险情况
            div.bg-white
              div.form-row
                label 是否购买保险
                select.selectM.filter-select
                  option(value="") 请选择
                  option(value="0") 是，我买了传统、分红型保险
                  option(value="1" data-hide="true") 否，我没有
              .sec-hide
                div.form-row
                  label 保险公司
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 平安保险
                    option(value="1") 太平洋保险
                    option(value="2") 中国人民保险
                    option(value="3") 人寿保险
                    option(value="4") 其他保险公司
                div.form-row
                  label 保险生效日期
                  input(type="date" placeholder="请选择日期")
                div.form-row
                  label 缴费方式
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 年缴
                    option(value="1") 月缴
                    option(value="2") 期缴
                div.form-row
                  label 每期缴费金额
                  select.selectM
                    option(value="") 请选择
                    option(value="0") 1000元以下
                    option(value="1") 1000-3000元
                    option(value="2") 3001-5000元
                    option(value="2") 5000-10000元
                    option(value="2") 10000元以上

        a.submit-a.a-btn-blue 提交











