extends layout/layout

block append headTitle
  title 登录


block content
  section.sec-login
    .sec-log
      img(src="../global/images/log_pic.png")
      p 悦融袜业城
    .sec-cont
      form
        .form-row
          label
            span.icon-account
            | 账号
          input(type="text" placeholder="请输入手机号" data-validate="telephone").input-text#user
        .form-row
          label
            span.icon-lock.pw-icon
            | 密码
          input(type="text" placeholder="请输入密码" data-validate="password").input-text#password
      .btn-a-login
        a.btn-a.bg-blue.submit-a 立即登录
      .password-rember.clearfix
        .fl
          input(type="checkbox" checked).input-cbox#rmbUser
          span 记住密码
        .fr
          a.forget-pass(href="/template/pw-forget.html") 忘记密码？

      .apply-link
        p 还不是商户？
         a.btn-a-red(href="/template/register.html") 立即申请

















