
extends layout/layout

block append headTitle
  title 车抵押贷款

block content
  section
    .banner
      img(src="../global/images/APPbanner.jpg")
    .sec
      p 请完善以下信息，以便我们为您制定专属贷款方案
      form.valid-form(autocomplete="on")
        div.bg-white
          div.form-row
            label 姓名
            input(type="text" placeholder="请输入您的姓名")
          div.form-row
            label 您的手机
            input(type="number" placeholder="请输入您的手机号码")
          div.form-row
            label 资金需求
            select.selectM
              option(value="") 请选择
              option(value="2") 2万元以下
              option(value="3") 3万元
              option(value="5") 5万元
              option(value="10") 10万元
              option(value="20") 20万元
              option(value="50") 50万元
              option(value="100") 100万元以上
          div.form-row
            label 用款时间
            select.selectM
              option(value="") 请选择
              option(value='1')  1个月
              option(value='6')  6个月
              option(value='12') 12个月
              option(value='24') 24个月
              option(value='36') 36个月
          div.form-row
            label 您的地址
            .select-wrapper
              select.selectS
                option(value="") 省
              select.selectS
                option(value="") 市
              select.selectS
                option(value="") 区
          div.form-row
            label 是否缴纳社保
            select.selectM
              option(value="") 请选择
              option(value='0')  缴纳社保
              option(value='1')  未缴纳社保
          div.form-row
            label 月均收入
            select.selectM
              option(value="") 请选择
              option(value='1')  2000以下
              option(value='2')  2000
              option(value='3')  3000
              option(value='4')  4000
              option(value='5')  5000
              option(value='6')  6000
              option(value='8')  8000
              option(value='10000')  10000
              option(value='15000')  15000以上
          div.form-row
            label 车辆情况
            select.selectM
              option(value="") 请选择
              option(value="无车") 无车
              option(value="本人名下有车，无贷款") 本人名下有车，无贷款
              option(value="本人名下有车，有按揭贷款") 本人名下有车，有按揭贷款
              option(value="本人名下有车，但已被抵押") 本人名下有车，但已被抵押
          div.form-row
            label 购买价格
            input(type="text" placeholder="请填写车辆购买价格(万元)")

        div.bg-white
          div.form-row
            input(type="text" class="varityCode" placeholder="请输入验证码")
            a.codeBtn 获取短信验证码
      a.submit-a.a-btn-blue 提交










