
extends layout/layout

block append headTitle
  title VIP申请

block content
  section.vipsection
    .banner
      img(src="")
    .sec
      .wrapper
        h2 悅融贷：金融秘籍
        p 会员价：
        p.price 68元
      .wrapper
        h2 产品详情
        p.font-blue 由于近期微信公众平台对公众号的运营有了更为严格的限制，为了长期持续为会员提供资源服务，悅融贷暂时关闭返佣功 能！
        p.font-s  该产品包含以下服务：<br/> 浏览悅融贷提供的菜单对应的资源信息。
      .btn
        a.blue-btn(href="") 立即分享
        a.yellow-btn(href="") 立即购买








