extends layout/layout

block append headTitle
  title 忘记密码

block content
  section.sec-login
    .sec-log
      span
      p 悦融袜业城
    .sec-cont
      form
        .form-row
          label
            span
            | 账号
          input(type="text" placeholder="请输入手机号").input-text
      .btn-a-login
        a.btn-a.bg-blue(href="/template/pw-set.html") 获取密码
      .btn-a-login
        a.btn-a-red(href="/template/register-suc.html") 立即登录

















