extends layout/layout

block append headTitle
  title 修改密码

block content
  section.sticky-cont.set-pw
    .sec
      form
        .form-row
          input(type="text" placeholder="请输入原密码" data-validate="password").input-text
        .form-row
          input(type="text" placeholder="请输入新密码" data-validate="password").input-text
  footer.sticky-foot
      a.submit-a 确认修改
















