extends layout/layout

block append headTitle
  title 修改密码

block content
  section.sticky-cont.set-pw
    .sec
      form
        .form-row
          input(type="text" placeholder="原密码").input-text
        .form-row
          input(type="text" placeholder="新密码").input-text
  footer.sticky-foot
      a 确认修改
















