
extends layout/layout

block append headTitle
  title 立即充值

block content
  section.recharge
    .sec.recharge-btn
      a.a-btn-blue  立即充值100元体验
      a.a-btn-red  立即充值500元体验
      a.a-btn-green  立即充值1000元体验
      a.a-btn-orange  立即充值2000元体验

    include temp/fixedFooter

    script.
      $(function () {
        $(".fixed-footer a").eq(0).addClass('active');
      });







