extends layout/layout

block append headTitle
  title 申请成功

block content
  section.sec-login
    .sec-log
      span
      p 悦融袜业城
    .sec-cont.register-suc
      .btn-a-login
        a.btn-a
          span.ok-icon
          |恭喜您申请成功
      .suc-txt
        p 请保持电话畅通
        p 我们会与您对接您的掌上商城

















