extends layout/layout

block append headTitle
  title 新品发布

block append headCss
  script.
    $("html,body").addClass('bg-white');

block content
  section.new-product-release.height100
    .sec
      .sec-fill
        form.product-release-form
          .sec-fill-title
            a 必填项
          .form-row.select-wrapper
            i.icon-trangle-down
            select#product-type(data-validate="产品种类")
              option(value="") 请选择您要发布的产品种类
              option(value="package") 包装
              option(value="cottonSock") 棉袜
              option(value="stockings") 丝袜
          .sec-fill-cont.package(style="display:none")
            .form-row.select-wrapper
              i.icon-trangle-down
              select(data-validate="发布类型")
                option(value="") 请选择发布类型
                option(value="全部") 全部
                option(value="热销产品") 热销产品
                option(value="天天特价") 天天特价
                option(value="新品上线") 新品上线
                option(value="热销产品及天天特价") 热销产品及天天特价
                option(value="热销产品及新品上线") 热销产品及新品上线
                option(value="天天特价及新品上线") 天天特价及新品上线
            .form-row.a-tab-wrap.tab-w-s
              .radio-wrap
                span.active 现货
                input(type="radio" value="现货" name="productStatus" checked="checked")
              .radio-wrap
                span.a-tab-orange 订货
                input(type="radio" value="订货" name="productStatus")
            .form-row
              input(type="text" placeholder="请输入货品名称" data-validate="货品名称")
            .form-row
              input(type="text" placeholder="请输入货号" data-validate="货号")
            .form-row.upload-pic
              .row-title 图片(最多5张)
              ul.clearfix
                li.input-file-wrap
                  input(type="file" data-validate="上传图片")
                  span.add-btn +
            .form-row
              .row-title 价格设置
              .row-cont.input-add-wrap
                .input-wrap
                  input(type="text" placeholder="请输入起订量" data-validate="起订量").input-text-s
                  input(type="text" placeholder="请输入价格" data-validate="价格").input-text-s
                span.add-btn  +
            .form-row
              .row-title 颜色（多选）
              .row-cont.a-tab-wrap(data-validate="颜色")
                .checkbox-wrap
                  span.a-tab.active 红色
                  input(type="checkbox" name="红色" checked="checked")
                .checkbox-wrap
                  span.a-tab 黄色
                  input(type="checkbox" name="黄色")
                .checkbox-wrap
                  span.a-tab 黑色
                  input(type="checkbox" name="黑色")
                .checkbox-wrap
                  span.a-tab 白色
                  input(type="checkbox" name="白色")
                .checkbox-wrap
                  span.a-tab 玉色
                  input(type="checkbox" name="玉色")
                span.a-tab.last-a(data-tip="请输入自定义颜色") 自定义
            .sec-fill-title
              a 选填项
            .form-row
              .row-title 自定义规格
              .row-cont.input-add-wrap
                .input-wrap
                  input(type="text" placeholder="请输入规格名" data-validate="规格名").input-text-s
                  input(type="text" placeholder="请输入该规格介绍" data-validate="规格介绍").input-text-m
                span.add-btn +
          .sec-fill-cont.cottonSock(style="display:none")
            .form-row.select-wrapper
              i.icon-trangle-down
              select(data-validate="发布类型")
                option(value="") 请选择发布类型
                option(value="全部") 全部
                option(value="热销产品") 热销产品
                option(value="天天特价") 天天特价
                option(value="新品上线") 新品上线
                option(value="热销产品及天天特价") 热销产品及天天特价
                option(value="热销产品及新品上线") 热销产品及新品上线
                option(value="天天特价及新品上线") 天天特价及新品上线
            .form-row.a-tab-wrap.tab-w-s
              .radio-wrap
                span.active 现货
                input(type="radio" value="现货" name="productStatus" checked="checked")
              .radio-wrap
                span.a-tab-orange 订货
                input(type="radio" value="订货" name="productStatus")
            .form-row
              input(type="text" placeholder="请输入货品名称" data-validate="货品名称")
            .form-row
              input(type="text" placeholder="请输入货号" data-validate="货号")
            .form-row.upload-pic
              .row-title 图片(最多5张)
              ul.clearfix
                li.input-file-wrap
                  input(type="file" data-validate="上传图片")
                  span.add-btn +
            .form-row.select-wrapper
              .row-title 面料
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="面料")
                    option(value="") 主面料名称
                    option(value="棉") 棉
                    option(value="涤纶") 涤纶
                    option(value="麻") 麻
                    option(value="锦纶") 锦纶
                    option(value="醋纤") 醋纤
                    option(value="蚕丝") 蚕丝
                    option(value="羊毛") 羊毛
                    option(value="莱卡") 莱卡
                    option(value="腈纶/化纤") 腈纶/化纤
                    option(value="氯纶") 氯纶
                    option(value="黏胶") 黏胶
                    option(value="毛腈") 毛腈
                    option(value="色纺纱") 色纺纱
                    option(value="混纺") 混纺
                    option(value="精硫棉") 精硫棉
                    option(value="木纤维") 木纤维
                input(type="text" placeholder="含量（%）" data-validate="含量（%）").input-text-s
            .form-row
              .row-title 价格设置
              .row-cont.input-add-wrap
                .input-wrap
                  input(type="text" placeholder="请输入起订量" data-validate="起订量").input-text-s
                  input(type="text" placeholder="请输入价格" data-validate="价格").input-text-s
                span.add-btn  +
            .form-row
              .row-title 颜色（多选）
              .row-cont.a-tab-wrap(data-validate="颜色")
                .checkbox-wrap
                  span.a-tab.active 红色
                  input(type="checkbox" name="红色" checked="checked")
                .checkbox-wrap
                  span.a-tab 黄色
                  input(type="checkbox" name="黄色")
                .checkbox-wrap
                  span.a-tab 黑色
                  input(type="checkbox" name="黑色")
                .checkbox-wrap
                  span.a-tab 白色
                  input(type="checkbox" name="白色")
                .checkbox-wrap
                  span.a-tab 玉色
                  input(type="checkbox" name="玉色")
                span.a-tab.last-a(data-tip="请输入自定义颜色") 自定义
            .form-row
              .row-title 尺码（多选）
              .row-cont.a-tab-wrap(data-validate="尺码")
                .checkbox-wrap
                  span.a-tab.active 均码
                  input(type="checkbox" name="均码" checked="checked")
                span.a-tab.last-a(data-tip="请输入自定义尺码") 自定义
            .form-row.select-wrapper
              .row-title 年龄
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="年龄")
                    option(value="") 请选择
                    option(value="成人袜" ) 成人袜
                    option(value="儿童袜" ) 儿童袜
                    option(value="婴儿袜" ) 婴儿袜
            .form-row.select-wrapper
              .row-title 适用性别
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="适用性别")
                    option(value="") 请选择
                    option(value="男袜") 男袜
                    option(value="女袜") 女袜
                    option(value="男女皆可") 男女皆可
            .form-row.select-wrapper
              .row-title 筒高
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="筒高")
                    option(value="") 请选择
                    option(value="隐形袜") 隐形袜
                    option(value="船袜") 船袜
                    option(value="短筒袜") 短筒袜
                    option(value="中筒袜") 中筒袜
                    option(value="长筒袜") 长筒袜
            .form-row
              .row-title 季节（多选）
              .row-cont.a-tab-wrap.last-grey-bg(data-validate="季节")
                .checkbox-wrap
                  span.a-tab.active 春季
                  input(type="checkbox" name="春季" checked="checked")
                .checkbox-wrap
                  span.a-tab 夏季
                  input(type="checkbox" name="夏季")
                .checkbox-wrap
                  span.a-tab 秋季
                  input(type="checkbox" name="秋季")
                .checkbox-wrap
                  span.a-tab 冬季
                  input(type="checkbox" name="冬季")
                .checkbox-wrap
                  span.a-tab 四季
                  input(type="checkbox" name="四季")
                .checkbox-wrap
                  span.a-tab 春夏
                  input(type="checkbox" name="春夏")
                .checkbox-wrap
                  span.a-tab 秋冬
                  input(type="checkbox" name="秋冬")
            .form-row.select-wrapper
              .row-title 厚度
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="厚度")
                    option(value="") 请选择
                    option(value="") 超薄
                    option(value="") 薄
                    option(value="") 中等
                    option(value="") 加厚
                    option(value="") 厚
            .form-row
              .row-title 克重
              .row-cont
                input(type="text" placeholder="克重（g）" data-validate="克重（g）").input-text-s

            .sec-fill-title
              a 选填项
            .form-row
              .row-title 功能
              .row-cont
                input(type="text" placeholder="请输入功能" data-validate="功能")
            .form-row
              .row-title 自定义规格
              .row-cont.input-add-wrap
                .input-wrap
                  input(type="text" placeholder="请输入规格名" data-validate="规格名").input-text-s
                  input(type="text" placeholder="请输入该规格介绍" data-validate="规格介绍").input-text-m
                span.add-btn.magin-top  +
          .sec-fill-cont.stockings(style="display:none")
            .form-row.select-wrapper
              i.icon-trangle-down
              select(data-validate="发布类型")
                option(value="") 请选择发布类型
                option(value="全部") 全部
                option(value="热销产品") 热销产品
                option(value="天天特价") 天天特价
                option(value="新品上线") 新品上线
                option(value="热销产品及天天特价") 热销产品及天天特价
                option(value="热销产品及新品上线") 热销产品及新品上线
                option(value="天天特价及新品上线") 天天特价及新品上线
            .form-row.a-tab-wrap.tab-w-s
              .radio-wrap
                span.active 现货
                input(type="radio" value="现货" name="productStatus" checked="checked")
              .radio-wrap
                span.a-tab-orange 订货
                input(type="radio" value="订货" name="productStatus")
            .form-row
              input(type="text" placeholder="请输入货品名称" data-validate="货品名称")
            .form-row
              input(type="text" placeholder="请输入货号" data-validate="货号")
            .form-row.upload-pic
              .row-title 图片(最多5张)
              ul.clearfix
                li.input-file-wrap
                  input(type="file" data-validate="上传图片")
                  span.add-btn +
            .form-row.select-wrapper
              .row-title 面料
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="面料")
                    option(value="") 主面料名称
                    option(value="棉") 棉
                    option(value="涤纶") 涤纶
                    option(value="麻") 麻
                    option(value="锦纶") 锦纶
                    option(value="醋纤") 醋纤
                    option(value="蚕丝") 蚕丝
                    option(value="羊毛") 羊毛
                    option(value="莱卡") 莱卡
                    option(value="腈纶/化纤") 腈纶/化纤
                    option(value="氯纶") 氯纶
                    option(value="黏胶") 黏胶
                    option(value="毛腈") 毛腈
                    option(value="色纺纱") 色纺纱
                    option(value="混纺") 混纺
                    option(value="精硫棉") 精硫棉
                    option(value="木纤维") 木纤维
                input(type="text" placeholder="含量（%）" data-validate="含量（%）").input-text-s
            .form-row
              .row-title 价格设置
              .row-cont
                input(type="text" placeholder="请输入起订量" data-validate="起订量").input-text-s
                input(type="text" placeholder="请输入价格" data-validate="价格").input-text-s
                span.add-btn  +
            .form-row
              .row-title 颜色（多选）
              .row-cont.a-tab-wrap(data-validate="颜色")
                .checkbox-wrap
                  span.a-tab.active 红色
                  input(type="checkbox" name="红色" checked="checked")
                .checkbox-wrap
                  span.a-tab 黄色
                  input(type="checkbox" name="黄色")
                .checkbox-wrap
                  span.a-tab 黑色
                  input(type="checkbox" name="黑色")
                .checkbox-wrap
                  span.a-tab 白色
                  input(type="checkbox" name="白色")
                .checkbox-wrap
                  span.a-tab 玉色
                  input(type="checkbox" name="玉色")
                span.a-tab.last-a(data-tip="请输入自定义颜色") 自定义
            .form-row
              .row-title 尺码（多选）
              .row-cont.a-tab-wrap(data-validate="尺码")
                .checkbox-wrap
                  span.a-tab.active 均码
                  input(type="checkbox" name="均码" checked="checked")
                .checkbox-wrap
                  span.a-tab 单面加档
                  input(type="checkbox" name="单面加档")
                .checkbox-wrap
                  span.a-tab 双面加档
                  input(type="checkbox" name="双面加档")
                .checkbox-wrap
                  span.a-tab 不加裆
                  input(type="checkbox" name="不加裆")
                span.a-tab.last-a(data-tip="请输入自定义尺码") 自定义
            .form-row.select-wrapper
              .row-title 年龄
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="年龄")
                    option(value="") 请选择
                    option(value="成人袜" ) 成人袜
                    option(value="儿童袜" ) 儿童袜
                    option(value="婴儿袜" ) 婴儿袜
            .form-row.select-wrapper
              .row-title 适用性别
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="适用性别")
                    option(value="") 请选择
                    option(value="男袜") 男袜
                    option(value="女袜") 女袜
                    option(value="男女皆可") 男女皆可
            .form-row.select-wrapper
              .row-title 筒高
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="筒高")
                    option(value="") 请选择
                    option(value="九分") 九分
                    option(value="踩脚") 踩脚
                    option(value="连裤") 连裤
            .form-row
              .row-title 季节（多选）
              .row-cont.a-tab-wrap.last-grey-bg(data-validate="季节")
                .checkbox-wrap
                  span.a-tab.active 春季
                  input(type="checkbox" name="春季" checked="checked")
                .checkbox-wrap
                  span.a-tab 夏季
                  input(type="checkbox" name="夏季")
                .checkbox-wrap
                  span.a-tab 秋季
                  input(type="checkbox" name="秋季")
                .checkbox-wrap
                  span.a-tab 冬季
                  input(type="checkbox" name="冬季")
                .checkbox-wrap
                  span.a-tab 四季
                  input(type="checkbox" name="四季")
                .checkbox-wrap
                  span.a-tab 春夏
                  input(type="checkbox" name="春夏")
                .checkbox-wrap
                  span.a-tab 秋冬
                  input(type="checkbox" name="秋冬")
            .form-row.select-wrapper
              .row-title 厚度
              .row-cont
                .select-wrapper-s
                  i.icon-trangle-down
                  select.select-s(data-validate="厚度")
                    option(value="") 请选择
                    option(value="") 超薄
                    option(value="") 薄
                    option(value="") 中等
                    option(value="") 加厚
                    option(value="") 厚
            .form-row
              .row-title 克重
              .row-cont
                input(type="text" placeholder="克重（g）" data-validate="克重（g）").input-text-s

            .sec-fill-title
              a 选填项
            .form-row
              .row-title 是否踩脚
              .row-cont.a-tab-wrap.last-grey-bg
                .radio-wrap
                  span.a-tab 是
                  input(type="radio" value="订货" name="stepFooter")
                .radio-wrap
                  span.a-tab 否
                  input(type="radio" value="订货" name="stepFooter")
            .form-row
              .row-title 是否有跟
              .row-cont.a-tab-wrap.last-grey-bg
                .radio-wrap
                  span.a-tab 是
                  input(type="radio" value="订货" name="heelFooter")
                .radio-wrap
                  span.a-tab 否
                  input(type="radio" value="订货" name="heelFooter")
            .form-row
              .row-title 功能
              .row-cont
                input(type="text" placeholder="请输入功能" data-validate="功能")
            .form-row
              .row-title 自定义规格
              .row-cont
                input(type="text" placeholder="请输入规格名" data-validate="规格名").input-text-s
                input(type="text" placeholder="请输入该规格介绍" data-validate="规格介绍").input-text-m
                span.add-btn.magin-top  +

  footer.fixed-footer.product-release
    a.a-btn.submit-a 确定

    script.
      //产品发布 验证
      var productReleaseEvent = function () {
        var checkForm = function () {
          var isTerge = /^([1-9][0-9]*)$/;
          var twoPoint = /^[1-9]\d+(\.\d{1,2})?$/;
          var inputValidate = $(".product-release-form [data-validate]:not(:hidden)");

          var showDialog = function (sel, dialogExist, errTip) {
            sel.addClass("error-input");
            if(sel.is("select") || sel.find("input[type=checkbox]").length >0){
              if (dialogExist == 0) {
                errTip ="您未选择<span>" + errTip;
              }
            }
            else if ( sel.is("input[type=text]")) {
              if (dialogExist == 0) {
                errTip = '您未填写<span>'+ errTip;
              }
            }
            else if (sel.hasClass("add-btn")) {
              if (dialogExist == 0) {
                errTip = '您未<span>' + errTip;
              }
            }
            commonEvent.inputTextNone(errTip);
            return false;
          }
          inputValidate.on('focus', function () {
            var sel = $(this);
            var selVal = $.trim(sel.val());
            if (sel.hasClass('error-input')) {
              $(this).removeClass('error-input');
            }

          })
          inputValidate.each(function () {
            var sel = $(this);
            var selVal = $.trim(sel.val());
            var selType = $.trim(sel.data("validate"));
            var dialogExist = $(".dialog-alert-pop").length;
            if (selType == '产品种类' || selType == '发布类型') {   //select
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '货品名称') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (selVal.length > 30) {
                  var errTip = "货品名称长度不能超过30个字符"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '货号') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (selVal.length > 10) {
                  var errTip = "货号长度不能超过10个字符"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '上传图片') {
              var uploadPic = sel.closest('.upload-pic');
              var liLen = uploadPic.find('li').length;
              var addBtn = sel.closest('li').find(".add-btn");
              if (liLen <= 1) {
                return showDialog(addBtn, dialogExist, selType);
              }
              else {
                addBtn.removeClass("error-input");
              }
            }
            else if (selType == '面料') {   //select
              var selectVal = $.trim(sel.find('option:selected').val());
              if (selectVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '含量') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (!twoPoint.test(selVal) && Number(selVal) > 100) {
                  var errTip = "含量为数字，且最多保留两位小数，且最大为100.00"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '起订量') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (!isTerge.test(selVal)) {
                  var errTip = "起订量为整数"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '价格') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (!twoPoint.test(selVal)) {
                  var errTip = "价格为数字，且最多保留两位小数"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '颜色') {
              var selRadioLen = sel.find("input[type=checkbox]:checked").length;
              if (selRadioLen == 0) {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '尺码') {
              var selRadioLen = sel.find("input[type=checkbox]:checked").length;
              if (selRadioLen == 0) {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '年龄' || selType == '适用性别' || selType == '筒高') {   //select
              var selectVal = $.trim(sel.find('option:selected').val());
              if (selectVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '季节') {
              var selRadioLen = sel.find("input[type=checkbox]:checked").length;
              if (selRadioLen == 0) {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '厚度') {   //select
              var selectVal = $.trim(sel.find('option:selected').val());
              if (selectVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else {
                sel.removeClass("error-input");
              }
            }
            else if (selType == '克重') {
              if (selVal == "") {
                return showDialog(sel, dialogExist, selType);
              }
              else if (selVal != "") {
                if (!twoPoint.test(selVal)) {
                  var errTip = "克重为数字，且最多保留两位小数"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '功能') {
              if (selVal != "") {
                if (selVal.length > 50) {
                  var errTip = "功能长度不能超过50个字符"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '规格名') {
              if (selVal != "") {
                if (selVal.length > 10) {
                  var errTip = "规格名长度不能超过10个字符"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
            else if (selType == '规格介绍') {
              if (selVal != "") {
                if (selVal.length > 50) {
                  var errTip = "规格介绍长度不能超过50个字符"
                  return showDialog(sel, dialogExist, errTip);
                }
                else {
                  sel.removeClass("error-input");
                }
              }
            }
          });

          if ($(".error-input").length > 0) {
            return false
          }
          else {
            return true;
          }
        };
        return {
          validateForm: function () {
            return checkForm();
          }
        }
      }();
      $(function(){

        //产品发布
        $("#product-type").on("change", function () {
          var selVal = $.trim($(this).find("option:selected").val());
          $(".sec-fill-cont").hide();
          if (selVal == 'package') {
            $(".package").show();
          }
          else if (selVal == 'cottonSock') {
            $(".cottonSock").show();
          }
          else if (selVal == 'stockings') {
            $(".stockings").show();
          }
          else if (selVal == '') {
            $(".sec-fill-cont").hide();
          }

        });
        //tab-a 选择
        //单选
        $(".a-tab-wrap").onClick('click', '.radio-wrap span', function () {
          var sel = $(this);
          var selRadio = sel.parent(".radio-wrap").find("input[type=radio]");
          $(".a-tab-wrap span").removeClass('active');
          $(".a-tab-wrap input[type=radio]").attr("checked", false);
          sel.addClass('active');
          selRadio.attr("checked", true);
        });
        //多选
        $(".a-tab-wrap").onClick('click', '.checkbox-wrap span', function () {
          var sel = $(this);
          var selCheckbox = sel.parent(".checkbox-wrap").find("input[type=checkbox]");
          if (sel.hasClass('active')) {
            sel.removeClass('active');
            selCheckbox.attr("checked", false);
          }
          else {
            sel.addClass('active');
            selCheckbox.attr("checked", true);
          }
        });
        //添加input
        $(".input-add-wrap").onClick('click', '.add-btn', function () {
          var sel = $(this);
          var cutBtn = '<span class="cut-btn">-</span>';
          var inputWrap = sel.prev('.input-wrap');
          var cloneRow = inputWrap.clone(true);
          if (inputWrap.find(".cut-btn").length == 0) {
            inputWrap.append(cutBtn);
          }
          cloneRow.find("input").val("");
          sel.before(cloneRow);
        });
        //删除input
        $(".input-add-wrap").onClick('click', '.cut-btn', function () {
          var sel = $(this);
          var selWrap = sel.parent(".input-wrap");
          selWrap.remove();
        });

        //自定义点击事件
        $(".a-tab-wrap").onClick("click", ".last-a", function () {
          var sel = $(this);
          var placeholderTxt = $.trim(sel.data('tip'));
          commonEvent.customizeDialog(sel, placeholderTxt);
        });
        //图片上传最多五张
        $(".upload-pic").on("change", "input[type=file]", function () {
          var sel = $(this);
          var ulWrap = sel.closest('ul');
          var temp = '<li><img src="../global/images/pic' + liLen + '.png"/><i class="icon-close"></i></li>'
          if ($(this).val() !== '') {
            sel.closest('li').before(temp);
            var liLen = ulWrap.find('li').length;
            var addBtn = sel.closest('li').find(".add-btn");
            if (addBtn.hasClass('error-input')) {
              addBtn.removeClass('error-input');
            }
            if (liLen == 6) {
              sel.closest('li').hide();
            }
          }
        });
        $(".upload-pic").onClick("click", 'li .icon-close', function () {
          var sel = $(this);
          var ulWrap = sel.closest('ul');
          var liLen = ulWrap.find('li:not(:hidden)').length;
          if (liLen <= 5) {
            ulWrap.find("li.input-file-wrap").show();
          }
          sel.closest('li').remove();
        })

         //表单验证提交
        $(".product-release a.submit-a").onClick("click", function () {
          if (productReleaseEvent.validateForm()) {
            alert('ok');
          }
          else {
            alert('fail');
          }
        });

      });


















