extends layout/layout

block append headTitle
  title 编辑订单

block content
  section.order-detail-option.seller-order-edit
    .sec
      .sec-title 待付款
      .sec-address-show
        span.address-icon.icon-address
        p.clearfix 收件人：张海泽
          span.fr 13688888888
        p 收件地址： 浙江省  绍兴市  诸暨市滨江南路滨江 南路
      .order-detail
        .order-per
          img(src="")
          .order-txt
            span 7047 一件代发纯棉袜子男士四季中筒防臭全棉秋冬款优质产品淘宝爆款
          .order-price 单价：
            span.red-font ￥
              i.big-font 22
              |.50
            |/手

        .order-table
          .order-table-tr.clearfix
            .th  颜色
            .th  尺码
            .th 进货量(手)
          .order-table-tr.clearfix
            .td 名族风款
            .td
              p M (约3-5岁)
              p l (约6-8岁)
              p XL (约9-12岁)
            .td
              p 12
              p 12
              p 12
          .order-table-tr.clearfix
            .td 拼色款
            .td
              p M (约3-5岁)
              p l (约6-8岁)
            .td
              p 12
              p 12
          .order-table-tr-grey.clearfix
            .td 商品总价
            .td
            .td ￥117.60
          .order-table-tr-grey.clearfix
            .td 运费（快递）
            .td
            .td ￥0.00
          .order-table-tr-grey.clearfix
            .td 付款方式
            .td
            .td 线下支付
          .order-table-tr-grey.big-font.clearfix
            .td 订单总价
            .td
            .td ￥117.60
          .order-table-tr.big-font.clearfix
            .td 实付款
            .td
            .td.red-font ￥117.60
              span.arrow-icon


  footer.fixed-footer.seller-order-edit-footer
    ul
      li
        a.a-btn.a-btn-bggray.delete-btn 删除
      li
        a.a-btn.a-btn-bgred(href="") 确认支付

  script.
    $(function(){
      var deleteFun = function () {
         window.location.href="http://192.168.158.178:8889/template/seller-order-manage.html"
      };
      $(".fixed-footer").onClick('click','.delete-btn',function () {
        var tip='您确定要删除此订单吗？'
           commonEvent.confirmDialog(tip,deleteFun);
      });
    });



















