extends layout/layout

block append headTitle
  title 货品管理

block content
  section.seller-goods-sec.padtop160
    .sec
      .sec-serch.search-fixed
        input(type="text" placeholder='请输入您要搜索的货品').input-text-search
        a.a-btn-bgred 搜索
      .sec-manage-list
        ul#choose-list
          li(id="13")
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条
          li(id="121")
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条

          li(id="3")
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条
          li(id="33")
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条

  footer.fixed-footer.seller-goods-footer.clearfix
    a.shelve(href="")
      .circle-add-btn +
      p 上架
    ul.sec-bottom
      li
        .circle-choose#all-choose
          span
            i.icon-ok
          |全选
        //.sumNum
        //  p 总计:
        //    span.red-font ￥<i class="big-font">1</i>18.00\
        p.grey-font
          i.categrory 1
          |种
          i.categorySum 12
          |件;不含运费
      li
        a.btn-a.delete-btn 删除

  script.
    $(function(){
       //全选及删除
       var pram = {
         tip:"货品",
         url:""
       }
       commonEvent.chooseCircle(pram);
       var chooseList = $("#choose-list");
       //列表中删除图标事件
       chooseList.onClick('click','.icon-trash',function(){
         var sel = $(this);
         var tip = '您确定要删除此订单吗？';
         commonEvent.confirmDialog(tip, function () {
           sel.closest('li').remove();
         });
       });

      //显示列表
      var htmlList = function () {
        var loading = true;
        var listType = '';
        var showLoadingTxt = function (txt) {
          var listWrap = $("#choose-list").parent();
          listWrap.find('.try-loading').remove();
          var temp = '<p class="try-loading">' + txt + '</p>';
          listWrap.append(temp);
        }
        var makeSureType = function () {
          listType = 0
        }
        var showList = function () {
          var listWrap = $("#choose-list");
          listWrap.html("");
          $.ajax({
            type: "POST",
            url: "",
            data: {
              type: listType
            },
            beforeSend: function () {
              showLoadingTxt('正在努力加载中<span class="icon-loading"></span>请耐心等待片刻');
            },
            success: function (result) {
              var dataNum = data.tatol;
              var perPageNum = $("#choose-list li").length;
              listWrap.find('.loading').remove();
              if (dataNum > perPageNum) {
                var dataSrouce = data.msg;
                var html = $.templates("#testTmpl").render(dataSrouce);
                listWrap.append(html);
              }
              else if (dataNum == perPageNum) {
                showLoadingTxt('无更多数据');
              }
              loading = true;
            },
            error: function () {
              showLoadingTxt('系统繁忙，请稍后再试');
            }
          });
        }
        var initList = function () {
          $("#choose-list").html("");
          showList();
        }
        //加载更多
        var loadMore = function () {
          $(window).scroll(function () {
            var docHei = $(document).height();
            var scrollT = $(window).scrollTop();
            if (scrollT + $(window).height() > docHei - 20) {
              if (loading) {
                loading = false;
                showList();
              }
            }
          });
        };
        return {
          initalList: function () {
            makeSureType();
            initList();
          },
          scrollList: function () {
            loadMore();
          }
        }
      }();

      //htmlList.initalList();//初始化页面
     // htmlList.scrollList();
    });



















