extends layout/layout

block append headTitle
  title 客服管理

block content
  section.sticky-cont.seller-service-sec
    .sec
      .QR-code-upload
        .add-icon +
        p 请上传客服的微信二维码
      .edit-txt
        input(type="text" placeholder="请输入想要编辑的文字")


  footer.fixed-footer
    a.btn-a 确认




















