extends layout/layout

block append headTitle
  title 我的客户

block content
  section.seller-mycustomer-sec
    .sec
      .sec-serch
        input(type="text" placeholder='请输入您要搜索的货品').input-text-search
        a.a-btn-bgblue 搜索
      .sec-filter
        .select-region
          select
            option(value="") 省
          select
            option(value="") 市
          select
            option(value="") 县/区
      .sec-mycustomer-list
        ul
          li
            p.row
              label 姓名：
              span.txt 张三丰
            p.row
              label 手机号：
              span.txt.red-font 13688888888
            p.row
              label 地址：
              span.txt 浙江省诸暨市暨阳街道滨江南路XXXXXXX XXXXXX
























