extends layout/layout

block append headTitle
  title 订单管理

block content
  section.order-manage-list
    .sec-serch
      input(type="text" placeholder='请输入您要搜索的订单').input-text-search
      a.a-btn-bgred 搜索
    .sec-manage-list
      .tab-opts
        a.active 全部
        a 待付款
        a 待发货
        a 已发货
      ul
        li.order-li
          a.order-status(href="javascript:void(0);") 已发货
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            |.60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bggrey(href="javascript:void(0);") 等待买家确认收货
        li.order-li
          a.order-status(href="javascript:void(0);") 已付款，等待发货
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bgred(href="javascript:void(0);") 确认发货
        li.order-li
          a.order-status(href="javascript:void(0);") 待付款（在线支付）
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            ul
              li
                a.a-btn-bggrey(href="javascript:void(0);").delete-btn 删除订单
              li
                a.a-btn-bgblue(href='/template/seller-order-edit-online.html') 编辑订单
        li.order-li
          a.order-status(href="javascript:void(0);") 交易完成
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            a.a-btn-bggrey.delete-btn(href="javascript:void(0);") 删除订单
        li.order-li
          a.order-status(href="javascript:void(0);") 待付款（线下支付）
            i.icon-arrow-right
          .order-per
            img(src="")
            .order-txt
              span 7047  一件代发纯棉袜子男士四季中筒 防臭全棉秋冬款优质产品淘宝爆款
            .order-price
              span ￥58.80
          p.order-sum 共12件商品 合计：￥
            span.bing-font 117
            | .60（含运费￥0.00）
          .btn-wrap
            ul
              li
                a.a-btn-bggrey(href="javascript:void(0);").delete-btn 删除订单
              li
                a.a-btn-bgred(href="javascript:void(0);") 确认付款

  script.
    $(function(){
      var deleteFun = function (sel) {
        sel.closest('li.order-li').remove();
      };
      $(".sec-manage-list").onClick('click','.delete-btn',function () {
        var sel = $(this);
        var tip='您确定要删除此订单吗？';
        commonEvent.confirmDialog(tip,function () {
          deleteFun(sel);
        });
      });
    });






















