extends layout/layout

block append headTitle
  title 货品管理

block content
  section.seller-goods-sec
    .sec
      .sec-serch
        input(type="text" placeholder='请输入您要搜索的货品').input-text-search
        a.a-btn-bgred 搜索
      .sec-manage-list
        ul#choose-list
          li
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条
          li
            .circle-choose
              span
                i.icon-ok
              img(src="")
            .status-cont
              .status-title
                span 现货
                | 7047 一件代发纯棉袜 子男士四季中筒防臭...
                a.icon-trash
              .status-detail
                p 颜色:随机混搭;尺码:均码
                .num-wrap
                  span ￥9.00/条
                    i 4条起批
                  span ￥8.50/条
                    i 5-8条
                  span ￥8.00/条
                    i  ≥9条

  footer.fixed-footer.seller-goods-footer.clearfix
    a.shelve(href="")
      .circle-add-btn +
      p 上架
    ul.sec-bottom
      li
        .circle-choose#all-choose
          span
            i.icon-ok
          |全选
        //.sumNum
        //  p 总计:
        //    span.red-font ￥<i class="big-font">1</i>18.00\
        p.grey-font 1种12件;不含运费
      li
        a.btn-a.delete-btn 删除

  script.
    $(function(){
      //全选及删除
       commonEvent.chooseCircle('货品');
       var chooseList = $("#choose-list");
       //列表中删除图标事件
       chooseList.onClick('click','.icon-trash',function(){
         var sel = $(this);
         var tip = '您确定要删除此订单吗？';
         commonEvent.confirmDialog(tip, function () {
           sel.closest('li').remove();
         });
       });

    });



















