extends layout/layout

block append headTitle
  title 卖家中心

block content
  section.person-center-sec
    .sec-top
      .avatar
        img(src="")
      p.seller-name AppleBaby
      p.seller-balance 账户余额
      p.balance-value ￥12.00
      .a-btn-wrap
        a.a-btn.a-btn-bg-red 立即充值
      ul.a-link-opt.clearfix
        li
          a
            span.icon.icon-book
            p 全部订单
            i.border-white-r
        li
          a
            span.circle-red 5
            span.icon.icon-pay
            p 待付款
        li
          a
            span.icon.icon-send
            p 待发货
        li
          a
            span.icon.icon-receive
            p 已发货
    .sec-list
      ul
        li
          a(href='/template/seller-goods-manage.html')
            span.icon.icon01.icon-manage
            span.txt 货品管理
            span.status  8
            i.icon-arrow-right
        li
          a
            span.icon.icon02.icon-shelve
            span.txt  快速上架
            span.status 发布商品如此简单
            i.icon-arrow-right
        li
          a(href="/template/seller-service-manage.html")
            span.icon.icon03.icon-service
            span.txt 客服信息
            span.status 快速编辑客服信息
            i.icon-arrow-right
        li
          a(href="/template/pw-set.html")
            span.icon.icon05.icon-lock
            span.txt 修改密码
            span.status 修改登录密码
            i.icon-arrow-right
        li
          a(href="/template/seller-mycustomer.html")
            span.icon.icon04.icon-customer
            span.txt 我的客户
            span.status 查看我的客户
            i.icon-arrow-right


















