extends layout/layout

block append headTitle
  title 提交成功

block content

  section.submitSuccess
    .banner
      img(src="../global/images/cgbanner.jpg")
      //.txt-wrap
      //  h1 贷款方案
      //  .hightest
      //    p 最高可贷(元)
      //    p.money  300000.00
      //  .payDate
      //    p  还款期限
      //    p  12-24个月
    .sec
      .wrapper
        p  支付10元信审费即可加速审核
        a.submit-a.a-btn-blue(href="") 加快审核
      .wrapper
        p  点击申请信用卡，最快三个工作日下卡
        a.submit-a.a-btn-blue(href="") 立即申请
      .wrapper
        p  点击申请高额信用卡
        a.submit-a.a-btn-blue(href="") 立即申请













