
extends layout/layout

block append headTitle
  title VIP申请

block content
  section.VIPapply.sec
    .banner
      img(src="../global/images/banner.jpg")
    .sec01
      img(src="../global/images/jiage.jpg")
    .sec02
      img(src="../global/images/js.jpg")
    a.submit-a.a-btn-blue 立即购买












